<div id="cover">
    <div class="loader">
    </div>
</div>

<div ng-cloak>
    <div ng-show="alertModal" class="alert" style="display : block" role="alert" ng-class="{success:success,error:error,warning:warning}">
        <span class="pull-right" ng-click="alertModal=false;error=false;success=false;warning=false;">
            <span>&nbsp;&times;</span>
        </span>
        <strong>{{errCode}}</strong> {{errDesc}}
        <br>
        <a ng-show="alertModalError" data-toggle="collapse" data-target="#demo">
            <strong>
                <u>Error Details</u>
            </strong>
        </a>
        <div ng-show="alertModalError" id="demo" class="collapse">
            <textarea style="width: 100%;" readonly rows="5" cols="50">{{errDtls}}</textarea>
        </div>
    </div>



    <div class="container-fluid scrollbar force-overflow style-4">
        <div ng-show="dashboard">
            <div ng-show="Investigator=='true'">
            <div class="row">
                <span class="badge">Nearing TAT: 1</span>
                <span class="badge">Excessed TAT: 1</span>
                <span class="badge">Assigned to me: {{resultCount}}</span>

                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered  custom-table">
                            <thead class="custom-table-header">
                                <th><a >Claim ID</a></th>
                                <th>Assigned By</th>
                                <th>Assigned Date</th>
                                <th>Claim Type</th>
                                <th>Hospital Name</th>
                                <th>Investigation Assignment Reason</th>
                          
                              
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in InvestigationData">
                                    <td><a ng-click="">{{x.CLAIMNUMBER}}</a></td>
                                    <td>{{x.ASSIGNEENTID}}</td>
                                    <td>{{x.CREATEDON}}</td>
                                    <td>{{x.CLAIMTYPE}}</td>
                                    <td>{{x.PROVIDERNAME}}</td>
                                    <td>{{x.REMARKS}}</td>
                                  
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
            <div ng-show="Investigator=='false'">
                <div id="tabsFNOL" class="slight-margin-top">
                    <ul class="nav nav-tabs tab-border">
                        <li class="active">
                            <a data-toggle="tab" href="#dashboardData" ng-click="getInvestigationDashboard(1,'PENDING')">
                                <b>Under Investigation</b>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#dashboardData" ng-click="getInvestigationDashboard(1,'COMPLETED')">
                                <b>Completed</b>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#dashboardData" ng-click="getInvestigationDashboard(1,'PREAUTH')">
                                <b>Pre Auth</b>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#dashboardData" ng-click="getInvestigationDashboard(1,'CLAIMS')">
                                <b>Claims</b>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="dashboardData" class="tab-pane fade">
                 <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered  custom-table">
                            <thead class="custom-table-header">
                                <th>Claim ID</th>
                                <th>Policy Number</th>
                                <th>Corporate Name</th>
                                <th>Patient Name</th>
                                <th>Hospital Name</th>
                                <th>Date of Admission</th>
                                <th>Date of Discharge</th>
                                <th>Investigation Type</th>
                                <th>TAT</th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in InvestigationData">
                                <td>{{x.CLAIMNUMBER}}</td>
                                <td>{{x.POLICYNUMBER}}</td>
                                <td>{{x.CORPORATEGROUPNAME}}</td>
                                <td>{{x.MEMBERNAME}}</td>
                                <td>{{x.PROVIDERNAME}}</td>
                                <td>{{x.DATEOFADMISSIONLOSS}}</td>
                                <td>{{x.DATEOFDISCHARGE}}</td>
                                <td>{{x.INVESTIGATIONTYPE}}</td>
                                <td>
                                    <a ng-click="getInvestigationData(x)">Open</a>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
<div class="col-sm-12">
    <div class="pull-left " ng-show="totalPages > 0">
        <label></label>

        <span class="">
            <b>Showing {{(currentPosition-1) * pageSize + 1}} - {{(currentPosition-1) * pageSize + pageSize
                < resultCount ? (currentPosition-1) * pageSize + pageSize :resultCount}} of {{resultCount}} records</b>
        </span>
    </div>

    <div class="pull-right" ng-show="totalPages > 0">
        <div class="shift-right">
            <a href="#" ng-click="getMemberDetails(totalPages)" ng-class="{'not-active' : currentPosition == totalPages}">
                <span class="glyphicon glyphicon-forward"></span>
            </a>
        </div>

        <div class="shift-right">
            <a href="#" ng-click="getMemberDetails(currentPosition+1)" ng-class="{'not-active' : currentPosition == totalPages}">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

        <div class="shift-right" ng-hide="currentPosition + 1 >=totalPages || totalPages <=3">
            <span>... </span>
            <a href="#" ng-click="getMemberDetails(totalPages)" ng-class="{'not-active' : currentPosition == totalPages}">
                <span>{{totalPages}}</span>
            </a>
        </div>

        <div class="shift-right" ng-hide="nextPage == 0" ng-class="{'pag-active' : totalPages == currentPosition}">
            <a href="#" ng-click="getMemberDetails(nextPage)">
                <span>{{nextPage}}</span>
            </a>
        </div>

        <div class="shift-right" ng-class="{'pag-active' : !((totalPages == currentPosition && currentPosition != 2) ||(currentPosition == 1 && totalPages > 2)) || totalPages == 1}">
            <a href="#" ng-click="getMemberDetails(middlePage)">
                <span>{{middlePage}}</span>
            </a>
        </div>

        <div class="shift-right" ng-hide="previousPage == 0" ng-class="{'pag-active' : currentPosition == 1}">
            <a href="#" ng-click="getMemberDetails(previousPage)">
                <span>{{previousPage}}</span>
            </a>
        </div>

        <div class="shift-right" ng-show="currentPosition > 2 && totalPages > 3">

            <a href="#" ng-click="getMemberDetails(1)">
                <span>1</span>
            </a>
            <span> ...</span>
        </div>

        <div class="shift-right">
            <a href="#" ng-click="getMemberDetails(currentPosition-1)" ng-class="{'not-active' : currentPosition == 1}">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="shift-right">
            <a href="#" ng-click="getMemberDetails(1)" ng-class="{'not-active' : currentPosition == 1}">
                <span class="glyphicon glyphicon-backward"></span>
            </a>
        </div>
    </div>
</div>
                </div>
            </div>
        </div>
        <div ng-show="!dashboard">
            <div class="row" style="margin-left:30px">
                <button type="button" id="backButton" ng-click="dashboard = true; INVESTIGATIONDETAILS = {}; INVESTIGATIONRESPONSE = {}; getInvestigationDashboard(1,'PENDING');" class="common-button first-button navbar-btn">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                </button>
            </div>
        <form name="form.investigationForm" novalidate>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="PolicyNo">Policy Number</label>
                    <div>
                        <input type="text" name="PolicyNo" class="form-control input-normal" id=PolicyNo "" placeholder="" ng-model="CLAIMDETAILS.POLICYNUMBER"
                            readonly>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="memberID">Member ID</label>
                    <div>
                        <input type="text" name="memberID" class="form-control input-normal" id="memberID" placeholder="" ng-model="CLAIMDETAILS.MEMBERID"
                            readonly>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="ClaimNumber">Claim Number</label>
                    <div>
                        <input type="text" name="ClaimNumber" class="form-control input-normal" id="ClaimNumber" placeholder="" ng-model="CLAIMDETAILS.CLAIMNUMBER"
                            readonly>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="InvestigationID">Investigation ID</label>
                    <div>
                        <input type="text" name="InvestigationID" class="form-control input-normal" id="InvestigationID" placeholder="" ng-model="INVESTIGATIONDETAILS.HEALTHINVESTIGATIONREQUESTID"
                            readonly>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="AssignedBy">Assigned By</label>
                    <div>
                        <input type="text" name="AssignedBy" class="form-control input-normal" id="AssignedBy" placeholder="" ng-model="INVESTIGATIONDETAILS.CREATEDBY"
                            readonly>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="AssigneeComments">Assignee Comments</label>
                    <div>
                        <input type="text" name="AssigneeComments" class="form-control input-normal" id="AssigneeComments" placeholder="" ng-model="ASSIGNEEREMARKS"
                            readonly>
                    </div>
                </div>
            </div>

            <div class="panel-group">


                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#ClaimDetailsPanel">
                        <h4 class="panel-title">
                            <b>Claim Details</b>
                        </h4>
                    </div>
                    <div id="ClaimDetailsPanel" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="nameOfPatient">Name of Patient</label>
                                    <div>
                                        <input type="text" name="nameOfPatient" class="form-control input-normal" id="nameOfPatient" placeholder="" ng-model="CLAIMDETAILS.PATIENTNAME"
                                            readonly>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="gender">Gender</label>
                                    <div>
                                        <input type="text" name="gender" class="form-control input-normal" id="gender" placeholder="" ng-model="CLAIMDETAILS.GENDER"
                                            readonly>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="age">Age</label>
                                    <div>
                                        <input type="text" name="age" class="form-control input-normal" id="age" placeholder="" ng-model="CLAIMDETAILS.AGE" readonly>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="dateOfAdmission">Date of Admission</label>
                                    <div>
                                        <input type="text" name="dateOfAdmission" class="form-control input-normal" id="dateOfAdmission" placeholder="" ng-model="CLAIMDETAILS.DATEOFADMISSIONLOSS"
                                            readonly>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="ProviderName">Provider Name</label>
                                    <div>
                                        <input type="text" name="ProviderName" class="form-control input-normal" id="ProviderName" placeholder="" ng-model="CLAIMDETAILS.PROVIDERNAME"
                                            readonly>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="ProviderAddress">Provider Address</label>
                                    <div>
                                        <input type="text" name="ProviderAddress" class="form-control input-normal" id="ProviderAddress" placeholder="" ng-model="CLAIMDETAILS.CITY"
                                            readonly>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="TreatingDoctor">Treating Doctor</label>
                                    <div>
                                        <input type="text" name="TreatingDoctor" class="form-control input-normal" id="TreatingDoctor" placeholder="" ng-model="CLAIMDETAILS.TREATINGDOCTOR"
                                            readonly>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="InvestigatorName">Investigator Name</label>
                                    <div>
                                        <input type="text" name="InvestigatorName" class="form-control input-normal" id="InvestigatorName" placeholder="" ng-model="INVESTIGATIONDETAILS.INVESTIGATORNAME"
                                            readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" ng-show="ICD10PCSDetails.length > 0">
                    <div class="panel-heading" data-toggle="collapse" data-target="#IllnessPanel">
                        <h4 class="panel-title">
                            <b>Illness</b>
                        </h4>
                    </div>
                    <div id="IllnessPanel" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div id="IllnessTable">
                                    <div class=" col-lg-12 scrollbar force-overflow" style="overflow:visible" id="style-4">
                                        <table class="table table-bordered table-striped custom-table" style="margin-bottom:10px;">
                                            <thead class="custom-table-header">
                                                <tr>
                                                    <td>
                                                        Illness
                                                    </td>
                                                    <td>
                                                        Duration of Illness
                                                    </td>
                                                    <td>
                                                        Diagnosis
                                                    </td>
                                                    <td>
                                                        Surgery
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="x in ICD10PCSDetails">
                                                    <td></td>
                                                    <td></td>
                                                    <td>{{x.DIAGNOSISNAME}}</td>
                                                    <td>{{x.SURGERYNAME}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" >
                    <div class="panel-heading" data-toggle="collapse" data-target="#InvestigationDetailsPanel">
                        <h4 class="panel-title">
                            <b>Investigation Observation Details</b>
                        </h4>
                    </div>
                    <div id="InvestigationDetailsPanel" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="hospitalizationReason" required>Reason for Hospitalization?</label>
                                    <div>
                                        <input type="text" name="hospitalizationReason" class="form-control input-normal" id="hospitalizationReason" placeholder="Reason"
                                            maxlength='200' for-alpha-numeric ng-model="INVESTIGATIONRESPONSE.HOSPITALIZATIONREASON"
                                            ng-required="Investigator == 'true'" ng-disabled="Investigator == 'false'">
                                    </div>
                                    <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.hospitalizationReason.$invalid) || (form.investigationForm.hospitalizationReason.$touched && form.investigationForm.hospitalizationReason.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Reason for Hospitalization
                                    </p>
                                </div>

                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="TreatmentReason" required>Reason of Treatment</label>
                                    <div>
                                        <input type="text" name="TreatmentReason" for-alpha-numeric class="form-control input-normal" id="TreatmentReason" placeholder="Reason"
                                            ng-model="INVESTIGATIONRESPONSE.TREATMENTREASON" maxlength="200" ng-required="Investigator == 'true'" ng-disabled="Investigator == 'false'">
                                    </div>
                                    <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.TreatmentReason.$invalid) || (form.investigationForm.TreatmentReason.$touched && form.investigationForm.TreatmentReason.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Reason of Treatment
                                    </p>
                                </div>

                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="symptoms" required>Symptoms Investigator found in case paper
                                    </label>
                                    <div>
                                        <input type="text" name="symptoms" class="form-control input-normal" id="symptoms" placeholder=" (OT notes, IPD paper, Nursing Notes, Diagnostic tests)"
                                            for-alpha-numeric maxlength="200" ng-model="INVESTIGATIONRESPONSE.SYMPTOMSINVESTIGATOR"
                                            ng-required="Investigator == 'true'" ng-disabled="Investigator == 'false'">
                                    </div>
                                    <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.symptoms.$invalid) || (form.investigationForm.symptoms.$touched && form.investigationForm.symptoms.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Symptoms
                                    </p>
                                </div>

                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="symptoms2" required style="font-size:11px">Symptoms patient exhibited on visiting the hospital</label>
                                    <div>
                                        <input type="text" name="symptoms2" class="form-control input-normal" id="symptoms2" placeholder="" ng-model="INVESTIGATIONRESPONSE.SYMPTOMSPATIENT"
                                            for-alpha-numeric maxlength="200" ng-required="Investigator == 'true'" ng-disabled="Investigator == 'false'">
                                    </div>
                                    <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.symptoms2.$invalid) || (form.investigationForm.symptoms2.$touched && form.investigationForm.symptoms2.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Symptoms
                                    </p>
                                </div>

                                <div class="row">
                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="diagnostic">Diagnostic tests (if any) on patient</label>
                                        <div>
                                            <input type="text" name="diagnostic" class="form-control input-normal" id="diagnostic" maxlength="150" placeholder="" for-alpha-numeric
                                                ng-model="INVESTIGATIONRESPONSE.DIAGNOSTICTESTS" ng-disabled="Investigator == 'false'">
                                        </div>
                                        <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.diagnostic.$invalid) || (form.investigationForm.diagnostic.$touched && form.investigationForm.diagnostic.$invalid)">
                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                            Enter Valid Diagnostic Tests
                                        </p>
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="testImpression" style="font-size:10.5px !important" required>Impression of Diagnostic test and attach the documents</label>
                                        <div>
                                            <input type="text" name="testImpression" class="form-control input-normal" id="testImpression" for-alpha-numeric placeholder=""
                                                maxlength="200" ng-model="INVESTIGATIONRESPONSE.TESTIMPRESSION" ng-required="Investigator == 'true'" ng-disabled="Investigator == 'false'">
                                        </div>
                                        <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.TESTIMPRESSION.$invalid) || (form.investigationForm.TESTIMPRESSION.$touched && form.investigationForm.TESTIMPRESSION.$invalid)">
                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                            Enter Valid Impression of Diagnostic
                                        </p>
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="InvestigatorOpininon" required>Investigator Opinion</label>
                                        <div>
                                            <select class="form-control" ng-model="INVESTIGATIONRESPONSE.INVESTIGATOROPINION" id="InvestigatorOpininon" name="InvestigatorOpininon"
                                                ng-required="Investigator == 'true'" ng-disabled="Investigator == 'false'"> 
                                                <option value="">--Select--</option>
                                                <option value="Pay">Pay</option>
                                                <option value="Hold">Hold</option>
                                                <option value="N/A">N/A</option>


                                            </select>

                                        </div>
                                        <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.InvestigatorOpininon.$invalid) || (form.investigationForm.InvestigatorOpininon.$touched && form.investigationForm.InvestigatorOpininon.$invalid)">
                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                            Enter Valid Investigator Opinion
                                        </p>
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="InvestigatorRemarks" required>Investigator Remarks</label>
                                        <div>
                                            <input type="text" name="InvestigatorRemarks" class="form-control input-normal" id="InvestigatorRemarks" maxlength="200"
                                                for-alpha-numeric placeholder="" ng-model="INVESTIGATIONRESPONSE.REMARKS"
                                                ng-required="Investigator == 'true'" ng-disabled="Investigator == 'false'">
                                        </div>
                                        <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.InvestigatorRemarks.$invalid) || (form.investigationForm.InvestigatorRemarks.$touched && form.investigationForm.InvestigatorRemarks.$invalid)">
                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                            Enter Valid Investigator Remarks
                                        </p>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="reportSubmssionDate">Date of Submission of Report</label>
                                        <div>
                                            <div class="input-group date">
                                                <input name="reportSubmssionDate" class="form-control input-normal" date-picker data-ng-model="INVESTIGATIONRESPONSE.REPORTSUBMISSIONDATE"
                                                    placeholder="01-01-2020" maxlength="10" size="100%" 
                                                readonly />
                                                <span class="input-group-addon datetimepickeradmitdate-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>

                                        </div>
                                        <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.InvestigatorRemarks.$invalid) || (form.investigationForm.InvestigatorRemarks.$touched && form.investigationForm.InvestigatorRemarks.$invalid)">
                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                            Enter Valid Date of Submission Report
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" ng-show="Investigator == 'false'">
                    <div class="panel-heading" data-toggle="collapse" data-target="#ObservationDetailsPanel">
                        <h4 class="panel-title">
                            <b>Observation Details</b>
                        </h4>
                    </div>
                    <div id="ObservationDetailsPanel" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="acceptInvestigation" required>Accept Investigation</label>
                                    <div>
                                        <select class="form-control" ng-model="INVESTIGATIONRESPONSE.STATUS" id="acceptInvestigation" name="acceptInvestigation" ng-required="Investigator == 'false'">
                                            <option value="">--Select--</option>
                                            <option value="ACCEPTED">Accept</option>
                                            <option value="REJECTED">Reject</option>
                                        </select>
                                    </div>
                                    <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.reassignto.$invalid) || (form.investigationForm.reassignto.$touched && form.investigationForm.reassignto.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Value
                                    </p>
                                </div>
                                <div class="form-group col-xs-12 col-sm-4 col-md-3" ng-show="INVESTIGATIONRESPONSE.STATUS=='REJECTED'">
                                    <label for="remarksForRejection" ng-required="Investigator == 'false' && INVESTIGATIONRESPONSE.STATUS=='REJECTED'">Remarks for Rejection</label>
                                    <div>
                                        <input type="text" name="rejectionReason" class="form-control input-normal" id="hospitalizationReason" placeholder="Reason"
                                            maxlength='200' for-alpha-numeric ng-model="INVESTIGATIONRESPONSE.REJECTIONREASON"
                                            ng-required="Investigator == 'false' && INVESTIGATIONRESPONSE.STATUS=='REJECTED'">
                                    </div>
                                    <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.rejectionReason.$invalid) || (form.investigationForm.rejectionReason.$touched && form.investigationForm.rejectionReason.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Reason
                                    </p>
                                </div>
                                <div class="form-group col-xs-12 col-sm-4 col-md-3" ng-show="INVESTIGATIONRESPONSE.STATUS=='REJECTED'">
                                    <label for="reassignto" required>Reassign To</label>
                                    <div>
                                        <select class="form-control" ng-model="INVESTIGATIONRESPONSE.REASSIGNTO" id="reassignto" name="reassignto"
                                        ng-required="Investigator == 'false'&&INVESTIGATIONRESPONSE.STATUS=='REJECTED'" ng-change="reassignToChange()">
                                            <option value="">--Select--</option>
                                            <option value="Same investigator">Same investigator</option>
                                            <option value="Different investigator">Different investigator</option>
                                        </select>
                                    </div>
                                    <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.reassignto.$invalid) || (form.investigationForm.reassignto.$touched && form.investigationForm.reassignto.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Assign To
                                    </p>
                                </div>
                                <div class="form-group col-xs-12 col-sm-4 col-md-3" ng-show="INVESTIGATIONRESPONSE.STATUS=='REJECTED'">
                                    <label for="assignto" required>Assign To</label>
                                    <div>
                                        <select class="form-control" ng-model="INVESTIGATIONRESPONSE.ASSIGNTO" id="assignto" name="assignto"  ng-required="Investigator == 'false'&&INVESTIGATIONRESPONSE.STATUS=='REJECTED'&&INVESTIGATIONRESPONSE.REASSIGNTO !='Same investigator'" ng-disabled="INVESTIGATIONRESPONSE.REASSIGNTO == 'Same investigator'">
                                            <option value="">--Select--</option>
                                            <option value="Internal Investigation Team">Internal Investigation Team</option>
                                            <option value="External Agency">External Agency</option>
                                        </select>
                                    </div>
                                    <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.assignto.$invalid) || (form.investigationForm.assignto.$touched && form.investigationForm.assignto.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Assign To
                                    </p>
                                </div>
                                <div class="form-group col-xs-12 col-sm-4 col-md-3" ng-show="INVESTIGATIONRESPONSE.ASSIGNTO == 'External Agency'&&INVESTIGATIONRESPONSE.STATUS=='REJECTED'">
                                    <label for="sptype" required>Type of Service Provider</label>
                                    <div>
                                        <select class="form-control" ng-model="INVESTIGATIONRESPONSE.TYPEOFSERVICEPROVIDER" id="sptype" name="sptype" ng-required="INVESTIGATIONDETAILS.ASSIGNTO == 'External Agency'&&INVESTIGATIONRESPONSE.STATUS=='REJECTED'&&INVESTIGATIONRESPONSE.REASSIGNTO != 'Same investigator'" ng-disabled="INVESTIGATIONRESPONSE.REASSIGNTO == 'Same investigator'">
                                            <option value="">--Select--</option>
                                            <option value="IInvestigator">Investigator</option>
                                            <option value="Lawyer">Lawyer</option>
                                        </select>
                                    </div>
                                    <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.sptype.$invalid) || (form.investigationForm.sptype.$touched && form.investigationForm.sptype.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Type of Service Provider
                                    </p>
                                </div>
                                <div class="form-group col-md-3 col-sm-12" ng-show="INVESTIGATIONRESPONSE.STATUS=='REJECTED'">
                                    <label for="name" required>Name</label>
                                    <div>
                                        <input type="text" name="InvestigatorName" class="form-control input-normal" ng-model="INVESTIGATIONRESPONSE.INVESTIGATORNAME" ng-click="SPModalToggle()"
                                            id="InvestigatorName"  ng-required="Investigator == 'false'&&INVESTIGATIONRESPONSE.STATUS=='REJECTED'&&INVESTIGATIONRESPONSE.REASSIGNTO !='Same investigator'" ng-disabled="INVESTIGATIONRESPONSE.REASSIGNTO == 'Same investigator'" readonly>
                                    </div>
                                    <p class="text-error" ng-show="(form.InvestigatorName.submitted && form.InvestigatorName.sptype.$invalid) || (form.InvestigatorName.sptype.$touched && form.InvestigatorName.sptype.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Name
                                    </p>
                                </div>
                                <div class="form-group col-sm-12 col-md-3" ng-show="INVESTIGATIONRESPONSE.STATUS=='REJECTED'">
                                    <label for="SubmissionDate">Expected Date of Submission</label>
                                    <div>
                                        <div class="input-group date">
                                            <input name="SubmissionDate" class="form-control input-normal" date-picker data-ng-model="INVESTIGATIONRESPONSE.EXPECTEDSUBMISSIONDATE" 
                                                placeholder="01-01-2020" maxlength="10" size="100%"   />
                                            <span class="input-group-addon datetimepickeradmitdate-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>

                                        <p class="text-error" ng-show="(form.investigationForm.submitted  || form.investigationForm.SubmissionDate.$touched) && form.investigationForm.SubmissionDate.$invalid">
                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter valid Date
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12 col-md-3" ng-show="INVESTIGATIONRESPONSE.STATUS=='REJECTED'">
                                    <label for="AppointmentDate" required>Date of Appointment</label>
                                    <div>
                                        <div class="input-group date">
                                            <input name="AppointmentDate" class="form-control input-normal" date-picker data-ng-model="TODAY"
                                                placeholder="01-01-2020" maxlength="10" size="100%" readonly />
                                            <span class="input-group-addon datetimepickeradmitdate-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>

                                        <p class="text-error" ng-show="(form.investigationForm.submitted  || form.investigationForm.AppointmentDate.$touched) && form.investigationForm.AppointmentDate.$invalid">
                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter valid Date
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top:10px">

                    <div class="form-group col-sm-12 col-md-3">
                        <label>Hospital Investigation Required</label>
                        <div>
                            <label class="checkboxContainer slight-margin-top">
                                <input type="checkbox" name="claimantInsured " ng-true-value="'true'" ng-false-value="'false'" data-ng-model="INVESTIGATIONRESPONSE.HOSPITALINVESTIGATION"
                                    disabled> Yes
                                <span class="checkboxCheckmark"></span>
                            </label>
                        </div>
                    </div>

                </div>

                <div class="panel panel-default" ng-show="INVESTIGATIONRESPONSE.HOSPITALINVESTIGATION == 'true'">
                    <div class="panel-heading" data-toggle="collapse" data-target="#HospitalInvestigationDetailsPanel">
                        <h4 class="panel-title">
                            <b>Hospital Investigation Details</b>
                        </h4>
                    </div>
                    <div id="HospitalInvestigationDetailsPanel" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">

                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="registrationNo" ng-required="INVESTIGATIONDETAILS.HOSPITALREGISTRATIONO == 'true'">Hospital Registration No.</label>
                                    <div>
                                        <input type="text" name="registrationNo" class="form-control input-normal" id="registrationNo" placeholder="" maxlength='50'
                                            for-alpha-numeric ng-model="INVESTIGATIONRESPONSE.HOSPITALREGISTRATIONO"
                                             ng-required="INVESTIGATIONRESPONSE.HOSPITALINVESTIGATION == 'true' && INVESTIGATIONDETAILS.HOSPITALREGISTRATIONO == 'true'" ng-disabled="Investigator == 'false'">
                                    </div>
                                    <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.registrationNo.$invalid) || (form.investigationForm.registrationNo.$touched && form.investigationForm.registrationNo.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Hospital Registration No.
                                    </p>
                                </div>
                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="HospitalBillAmount" ng-required="INVESTIGATIONDETAILS.HOSPITALBILLAMOUNT == 'true'">Hospital Bill amount</label>
                                    <div>
                                        <input type="text" name="HospitalBillAmount" class="form-control input-normal" id="HospitalBillAmount" placeholder="" maxlength='15'
                                            for-digit ng-model="INVESTIGATIONRESPONSE.HOSPITALBILLAMOUNT" ng-disabled="Investigator == 'false'" ng-required="INVESTIGATIONRESPONSE.HOSPITALINVESTIGATION == 'true' && INVESTIGATIONDETAILS.HOSPITALBILLAMOUNT == 'true'">
                                    </div>
                                    <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.HospitalBillAmount.$invalid) || (form.investigationForm.HospitalBillAmount.$touched && form.investigationForm.HospitalBillAmount.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Hospital Bill amount
                                    </p>
                                </div>
                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="roomAdmitted" ng-required="INVESTIGATIONDETAILS.ROOMADMITTED == 'true'">Room Admitted</label>
                                    <div>
                                        <input type="text" name="roomAdmitted" class="form-control input-normal" id="roomAdmitted" placeholder="" maxlength='50'
                                            for-alpha-numeric ng-model="INVESTIGATIONRESPONSE.ROOMADMITTED" ng-disabled="Investigator == 'false'" ng-required="INVESTIGATIONRESPONSE.HOSPITALINVESTIGATION == 'true' && INVESTIGATIONDETAILS.ROOMADMITTED == 'true'">
                                    </div>
                                    <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.roomAdmitted.$invalid) || (form.investigationForm.roomAdmitted.$touched && form.investigationForm.roomAdmitted.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Room Admitted
                                    </p>
                                </div>
                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="CrossCheck" ng-required="INVESTIGATIONDETAILS.CROSSCHECKIPDREGISTER == 'true'">Cross Check IPD Register</label>
                                    <div>
                                        <input type="text" name="CrossCheck" class="form-control input-normal" id="CrossCheck" placeholder="" maxlength='200' for-alpha-numeric
                                            ng-model="INVESTIGATIONRESPONSE.CROSSCHECKIPDREGISTER" ng-disabled="Investigator == 'false'" ng-required="INVESTIGATIONRESPONSE.HOSPITALINVESTIGATION == 'true' && INVESTIGATIONDETAILS.CROSSCHECKIPDREGISTER == 'true'">
                                    </div>
                                    <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.CrossCheck.$invalid) || (form.investigationForm.CrossCheck.$touched && form.investigationForm.CrossCheck.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Cross Check IPD Register
                                    </p>
                                </div>
                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="patientBeds" ng-required="INVESTIGATIONDETAILS.PATIENTBEDS == 'true'">No. of Patient Beds</label>
                                    <div>
                                        <input type="text" name="patientBeds" class="form-control input-normal" id="patientBeds" placeholder="" maxlength='3' for-digit
                                            ng-model="INVESTIGATIONRESPONSE.PATIENTBEDS" ng-disabled="Investigator == 'false'" ng-required="INVESTIGATIONRESPONSE.HOSPITALINVESTIGATION == 'true' && INVESTIGATIONDETAILS.PATIENTBEDS == 'true'">
                                    </div>
                                    <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.patientBeds.$invalid) || (form.investigationForm.patientBeds.$touched && form.investigationForm.patientBeds.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid No. of Patient Beds
                                    </p>
                                </div>
                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="findings" ng-required="INVESTIGATIONDETAILS.FINDINGS == 'true'">Findings</label>
                                    <div>
                                        <input type="text" name="findings" class="form-control input-normal" id="findings" placeholder="" maxlength='200' for-alpha-numeric
                                            ng-model="INVESTIGATIONRESPONSE.FINDINGS" ng-disabled="Investigator == 'false'" ng-required="INVESTIGATIONRESPONSE.HOSPITALINVESTIGATION == 'true' && INVESTIGATIONDETAILS.FINDINGS == 'true'">
                                    </div>
                                    <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.findings.$invalid) || (form.investigationForm.findings.$touched && form.investigationForm.findings.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Findings
                                    </p>
                                </div>
                                <div class="form-group col-xs-12 col-sm-4 col-md-3">

                                    <label for="IndoorCasePapers" ng-required="INVESTIGATIONDETAILS.INDOORCASEPAPERS == 'true'">Indoor Case Papers</label>
                                    <div>
                                        <input type="text" name="IndoorCasePapers" class="form-control input-normal" id="IndoorCasePapers" placeholder="" maxlength='150'
                                            for-alpha-numeric ng-model="INVESTIGATIONRESPONSE.INDOORCASEPAPERS" ng-disabled="Investigator == 'false'" ng-required="INVESTIGATIONRESPONSE.HOSPITALINVESTIGATION == 'true' && INVESTIGATIONDETAILS.INDOORCASEPAPERS == 'true'">
                                    </div>
                                    <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.IndoorCasePapers.$invalid) || (form.investigationForm.IndoorCasePapers.$touched && form.investigationForm.IndoorCasePapers.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Indoor Case Papers
                                    </p>
                                </div>
                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="Obversations">Hospital Investigation Notes</label>
                                    <div>
                                        <input type="text" name="Obversations" class="form-control input-normal" id="Obversations" placeholder="" maxlength='200'
                                            for-alpha-numeric ng-disabled="Investigator == 'false'" ng-model="INVESTIGATIONRESPONSE.HOSPITALINVESTIGATIONNOTES">
                                    </div>
                                    <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.Obversations.$invalid) || (form.investigationForm.Obversations.$touched && form.investigationForm.Obversations.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Obversations
                                    </p>
                                </div>

                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="Obversations" ng-required="INVESTIGATIONDETAILS.OBSERVATION == 'true'">Observations</label>
                                    <div>
                                        <input type="text" name="Obversations" class="form-control input-normal" id="Obversations" placeholder="" maxlength='200'
                                            for-alpha-numeric ng-model="INVESTIGATIONRESPONSE.OBSERVATION" ng-disabled="Investigator == 'false'" ng-required="INVESTIGATIONRESPONSE.HOSPITALINVESTIGATION == 'true' && INVESTIGATIONDETAILS.OBSERVATION == 'true'">
                                    </div>
                                    <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.Obversations.$invalid) || (form.investigationForm.Obversations.$touched && form.investigationForm.Obversations.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Obversations
                                    </p>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top:10px">

                    <div class="form-group col-sm-12 col-md-3">
                        <label>Member Investigation Required</label>
                        <div>
                            <label class="checkboxContainer slight-margin-top">
                                <input type="checkbox" name="claimantInsured " ng-true-value="'true'" ng-false-value="'false'" data-ng-model="INVESTIGATIONRESPONSE.MEMBERINVESTIGATION"
                                    disabled> Yes
                                <span class="checkboxCheckmark"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" ng-show="INVESTIGATIONRESPONSE.MEMBERINVESTIGATION == 'true'">
                    <div class="panel-heading" data-toggle="collapse" data-target="#MemberInvestigationDetailsPanel">
                        <h4 class="panel-title">
                            <b>Member Investigation Details</b>
                        </h4>
                    </div>
                    <div id="MemberInvestigationDetailsPanel" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">


                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="ageofP" ng-required="INVESTIGATIONDETAILS.AGEOFPATIENT == 'true'">Age of Patient</label>
                                    <div>
                                        <input type="text" name="ageofP" class="form-control input-normal" id="ageofP" placeholder="" maxlength='3' for-digit
                                            ng-model="INVESTIGATIONRESPONSE.AGEOFPATIENT" ng-disabled="Investigator == 'false'" ng-required="INVESTIGATIONRESPONSE.MEMBERINVESTIGATION == 'true' && INVESTIGATIONDETAILS.AGEOFPATIENT == 'true'">
                                    </div>
                                    <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.AGEOFPATIENT.$invalid) || (form.investigationForm.AGEOFPATIENT.$touched && form.investigationForm.AGEOFPATIENT.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Age of Patient
                                    </p>
                                </div>



                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="PastHistoryOfDisease" ng-required="INVESTIGATIONDETAILS.PASTHISTORYOFDISEASE == 'true'">Past History of Disease</label>
                                    <div>
                                        <input type="text" name="PastHistoryOfDisease" class="form-control input-normal" id="PastHistoryOfDisease" placeholder=""
                                            maxlength='200' for-alpha-numeric ng-model="INVESTIGATIONRESPONSE.PASTHISTORYOFDISEASE"
                                         ng-disabled="Investigator == 'false'" ng-required="INVESTIGATIONRESPONSE.MEMBERINVESTIGATION == 'true' &&INVESTIGATIONDETAILS.PASTHISTORYOFDISEASE == 'true'">
                                    </div>
                                    <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.PastHistoryOfDisease.$invalid) || (form.investigationForm.PastHistoryOfDisease.$touched && form.investigationForm.PastHistoryOfDisease.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Past History of Disease
                                    </p>
                                </div>

                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="chiefComplaints" ng-required="INVESTIGATIONDETAILS.CHEIFCOMPLAINTS == 'true'">Cheif Complaints</label>
                                    <div>
                                        <input type="text" name="chiefComplaints" class="form-control input-normal" id="chiefComplaints" placeholder="" maxlength='200'
                                             ng-disabled="Investigator == 'false'" for-alpha-numeric ng-model="INVESTIGATIONRESPONSE.CHEIFCOMPLAINTS" ng-required="INVESTIGATIONRESPONSE.MEMBERINVESTIGATION == 'true'&&INVESTIGATIONDETAILS.CHEIFCOMPLAINTS == 'true'">
                                    </div>
                                    <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.chiefComplaints.$invalid) || (form.investigationForm.chiefComplaints.$touched && form.investigationForm.chiefComplaints.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Cheif Complaints
                                    </p>
                                </div>

                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="patientReports" ng-required="INVESTIGATIONDETAILS.PATIENTREPORTS == 'true'">Patient Reports</label>
                                    <div>
                                        <input type="text" name="patientReports" class="form-control input-normal" id="patientReports" placeholder="" maxlength='200'
                                         ng-disabled="Investigator == 'false'"   for-alpha-numeric ng-model="INVESTIGATIONRESPONSE.PATIENTREPORTS" ng-required="INVESTIGATIONRESPONSE.MEMBERINVESTIGATION == 'true' && INVESTIGATIONDETAILS.PATIENTREPORTS == 'true'">
                                    </div>
                                    <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.chiefComplaints.$invalid) || (form.investigationForm.chiefComplaints.$touched && form.investigationForm.chiefComplaints.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Patient Reports
                                    </p>
                                </div>

                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <div class="form-group">

                                        <div>
                                            <label for="MEMBERINVESTIGATIONNOTES" required>Member Investigation Notes</label>
                                            <div>
                                                <input type="text" name="MEMBERINVESTIGATIONNOTES" for-alpha-numeric class="form-control input-normal" ng-model="INVESTIGATIONRESPONSE.MEMBERINVESTIGATIONNOTES"
                                                     ng-disabled="Investigator == 'false'" maxlength="200" ng-required="INVESTIGATIONRESPONSE.MEMBERINVESTIGATION == 'true'">
                                            </div>
                                            <p class="text-error" ng-show="(form.investigationForm.submitted && form.investigationForm.MEMBERINVESTIGATIONNOTES.$invalid) || (form.investigationForm.MEMBERINVESTIGATIONNOTES.$touched && form.investigationForm.MEMBERINVESTIGATIONNOTES.$invalid)">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                Enter Valid Member Investigation Notes
                                            </p>
                                        </div>

                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pull-right">
                <button type="button" class="common-button first-button" data-ng-click="saveInvestigation()">Submit</button>
                <button type="button" class="common-button second-button" data-ng-click="INVESTIGATIONRESPONSE={}" )>Reset</button>

            </div>
        </form>

        <div id="SPSearchModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-lg" role="dialog">
        
                <!-- Modal Content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" ng-click="">×</button>
                        <div class="modal-title">
                            <h4>Service Provider Search</h4>
                        </div>
                    </div>
                    <div class="modal-body">
                        <form name="form.PRNSearchModalForm">
                            <div class="text-center" autocomplete="off">
                                <div class="input-group">
                                    <input type="text" maxlength="100" class="form-control input-normal" for-alpha-numeric title="{{SPnameSearch}}" placeholder="name"
                                        ng-model="$parent.SPnameSearch" ng-keypress="($event.which === 13)? getServiceProvider(1) :''">
                                    <div class="input-group-btn">
                                        <div class="btn-group">
                                            <div class="dropdown dropdown-lg" style="font-size: 0;">
        
                                                <button class="normal-button" type="button" ng-click="getServiceProvider(1)" id="searchButton">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
        
                                                <button class="normal-button" type="button" ng-click="SPtotalPages=0;">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
        
        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br />
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-bordered  custom-table">
                                    <thead class="custom-table-header">
                                        <tr>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>City</th>
                                            <th>TDS Type</th>
        
                                        </tr>
        
                                    </thead>
        
                                    <tr data-ng-repeat="x in ServiceProviderList" ng-show="ServiceProviderList.length > 0" ng-dblclick="selectedSP(x)">
                                        <td>{{x.NAME}}</td>
                                        <td>{{x.TYPE}}</td>
                                        <td>{{x.CITY}}</td>
                                        <td>{{x.TDSTYPE}}</td>
        
        
                                    </tr>
                                    <tr ng-show=" ServiceProviderList== undefined || ServiceProviderList.length == 0" class="text-center" aria-hidden="false">
                                        <td colspan="4">No records found !!</td>
                                    </tr>
                                </table>
                            </div>
        
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="common-button first-button" ng-click="ServiceProviderList=[];SPnameSearch='';" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>