<div id="cover">
    <div class="loader">
    </div>
</div>

<div ng-show="alertModal" class="alert" style="display : block" role="alert" ng-class="{success:success,error:error,warning:warning}">
    <span class="pull-right" ng-click="alertModal=false;error=false;success=false;warning=false;">
        <span>&nbsp;&times;</span>
    </span>
    <strong>{{errCode}}</strong> {{errDesc}}
    <br>
    <a ng-show="alertModalError" data-toggle="collapse" data-target="#demo">
        <strong>
            <u>Error Details</u>
        </strong>
    </a>
    <div ng-show="alertModalError" id="demo" class="collapse">
        <textarea style="width: 100%;" readonly rows="5" cols="50">{{errDtls}}</textarea>
    </div>
</div>


<div class="container-fluid slight-margin-top">

    <div ng-show="$parent.Commercial">
        <div class="row">
            <div class="col-sm-10">
                <button type="button" class="common-button first-button" style="margin-bottom:10px" ng-click="checkListModal()">
                    Communication Adjudication CheckList
                    <span class=" glyphicon glyphicon-ok">
                </button>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#CaseDetailsPanel">
                        <h4 class="panel-title">
                            <b>Case Details</b>
                        </h4>
                    </div>
                    <div id="CaseDetailsPanel" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">

                                <div class="form-group col-md-4">
                                    <label for="CaseName" required>Case Name</label>
                                    <div>
                                        <input type="text" name="CaseName" class="form-control input-normal" id="CaseName" ng-model="CASEDETAILS.CASENAME" readonly>
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="CaseName" required>Case Status</label>
                                    <div>
                                        <input type="text" name="CaseStatus" class="form-control input-normal" id="CaseStatus" ng-model="CASEDETAILS.CASESTATUS"
                                            readonly>
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="Case" required>Case Type</label>
                                    <div>
                                        <input type="text" class="form-control input-normal" ng-model="CASEDETAILS.CASETYPE" readonly>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="Case" required>Case Subtype</label>
                                    <div>
                                        <input type="text" class="form-control input-normal" ng-model="CASEDETAILS.CASESUBTYPE" readonly>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#CaseDetailsPanel">
                        <h4 class="panel-title">
                            <b>Billing Details</b>
                        </h4>
                    </div>
                    <div id="CaseDetailsPanel" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">

                                <div class="form-group col-md-4">
                                    <label for="" required>Negotiated Amount</label>
                                    <div>
                                        <input type="text" name="" class="form-control input-normal" id="" readonly>
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="" required>Requested Amount</label>
                                    <div>
                                        <input type="text" name="" class="form-control input-normal" id="" readonly>
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="" required>Authorised Amount</label>
                                    <div>
                                        <input type="text" name="" class="form-control input-normal" id="" readonly>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="Case" required>Manual Disallowances</label>
                                    <div>
                                        <input type="text" name="" class="form-control input-normal" id="" readonly>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="Case" required>Total Disallowances</label>
                                    <div>
                                        <input type="text" name="" class="form-control input-normal" id="" readonly>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="Case" required>Total Approved Amount</label>
                                    <div>
                                        <input type="text" name="" class="form-control input-normal" id="" readonly>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <button type="button" class="common-button first-button" data-ng-click="">Save as Draft</button>
                    <button type="button" class="common-button second-button" data-ng-click="addCommercialApproval('MEDICALADJUSTOR')">Approved</button>
                    <button type="button" class="common-button" data-ng-click="">Return</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <button type="button" class="common-button second-button commercialButtons" ng-disabled="InvestigationDone" ng-click="redirectCommercial('investigator')">
                        Investigation
                    </button>
                </div>
                <div class="row">
                    <button type="button" class="common-button second-button commercialButtons">

                        Query
                    </button>
                </div>
                <div class="row">
                    <button type="button" class="common-button second-button commercialButtons">
                        OFR
                    </button>
                </div>
                <div class="row">
                    <button type="button" class="common-button second-button commercialButtons">
                        Notes
                    </button>
                </div>
                <div class="row">
                    <button type="button" class="common-button second-button commercialButtons" data-ng-click="addCommercialApproval('CODER')"
                        style="height:35px">
                        Send to Disease Procedure Classification
                    </button>
                </div>
                <div class="row">
                    <button type="button" class="common-button second-button commercialButtons" data-ng-click="addCommercialApproval('DEO')">
                        Send to DEO
                    </button>
                </div>
            </div>
        </div>

        <div id="CheckListModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-lg" role="dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" ng-click="reset('bankSearch')">×</button>
                        <div class="modal-title">
                            <h4>Check List</h4>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive col-sm-12 force-overflow style-4">

                            <table class="table table-bordered table-striped custom-table" cellpadding="0" cellspacing="0" border="0">
                                <thead class="custom-table-header">
                                    <tr>

                                        <th> Description </th>
                                        <th> </th>
                                        <th> Comments </th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in CommercialCheckList">
                                        <td>{{x.DESCRIPTION}}</td>
                                        <td>
                                            <label class="checkboxContainer slight-margin-top">
                                                <input type="checkbox" ng-true-value="'true'" ng-false-value="'false'" data-ng-model="x.CHECKED">
                                                <span class="checkboxCheckmark"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <textarea style="position:relative " maxlength="100" data-ng-model="x.COMMENTS "
                                                class="form-control" rows="3"></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="common-button first-button" ng-click="addUpdateCommercialCheckList()" data-dismiss="modal">Save</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div ng-show="$parent.Investigation">
        <div class="row" style="margin-left:30px">
            <button type="button" id="backButton" ng-click="redirectCommercial('commercial')" class="common-button first-button navbar-btn">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </button>
        </div>
        <div class="row">

            <form name="form.InvestigationDetails" novalidate>
                <div class="row">
                    <div class="form-group col-md-3 col-sm-12">
                        <label for="PolicyNo">Policy Number</label>
                        <div>
                            <input type="text" name="PolicyNo" class="form-control input-normal" id="PolicyNo" ng-model="claimSummary.POLICYNUMBER" readonly>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label for="MemberID">Member ID</label>
                        <div>
                            <input type="text" name="MemberID" class="form-control input-normal" id="MemberID" ng-model="claimSummary.MEMBERID" readonly>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label for="ClaimNumber">Claim Number</label>
                        <div>
                            <input type="text" name="ClaimNumber" class="form-control input-normal" id="ClaimNumber" ng-model="claimSummary.CLAIMNUMBER"
                                readonly>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label for="patientName">Name of Patient</label>
                        <div>
                            <input type="text" name="patientName" class="form-control input-normal" id="patientName" ng-model="CLAIMDETAILS.PATIENTNAME"
                                readonly>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label for="gender">Gender</label>
                        <div>
                            <input type="text" name="gender" class="form-control input-normal" id="gender" ng-model="CLAIMDETAILS.GENDER" readonly>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label for="age">Age</label>
                        <div>
                            <input type="text" name="age" class="form-control input-normal" id="age" ng-model="CLAIMDETAILS.AGE" readonly>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label for="ProviderName">Provider Name</label>
                        <div>
                            <input type="text" name="ProviderName" class="form-control input-normal" id="ProviderName" ng-model="CLAIMDETAILS.PROVIDERNAME"
                                readonly>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label for="ProviderAddress">Provider Address</label>
                        <div>
                            <input type="text" name="ProviderAddress" class="form-control input-normal" id="ProviderAddress" ng-model="CLAIMDETAILS.CITY"
                                readonly>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label for="DateOfAdmission">Date of Admission</label>
                        <div>
                            <input type="text" name="DateofAdmission" class="form-control input-normal" id="DateofAdmission" ng-model="CLAIMDETAILS.DATEOFADMISSIONLOSS"
                                readonly>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label for="DateOfDischarge">Date of Discharge</label>
                        <div>
                            <input type="text" name="DateOfDischarge" class="form-control input-normal" id="DateOfDischarge" ng-model="CLAIMDETAILS.DATEOFDISCHARGE"
                                readonly>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label for="TreatingDoctorName">Treating Doctor Name</label>
                        <div>
                            <input type="text" name="TreatingDoctorName" class="form-control input-normal" id="TreatingDoctorName" ng-model="CLAIMDETAILS.TREATINGDOCTOR"
                                readonly>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" ng-show="triggerPoints.length > 0">
                    <div class="panel-heading" data-toggle="collapse" data-target="#TriggerPointsPanel">
                        <h4 class="panel-title">
                            <b>Investigation Trigger Points</b>
                        </h4>
                    </div>
                    <div id="TriggerPointsPanel" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div id="TriggerPointsTable">
                                    <div class=" col-lg-12 scrollbar force-overflow" style="overflow:visible" id="style-4">
                                        <table class="table table-bordered table-striped custom-table" style="margin-bottom:10px;">
                                            <thead class="custom-table-header">
                                                <tr>
                                                    <td>
                                                        S.No.
                                                    </td>
                                                    <td>
                                                        Trigger Point
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="x in triggerPoints">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{x}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" ng-show="ICD10PCSDetails.length > 0">
                    <div class="panel-heading" data-toggle="collapse" data-target="#IllnessPanel">
                        <h4 class="panel-title">
                            <b>Illness</b>
                        </h4>
                    </div>
                    <div id="IllnessPanel" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div id="IllnessTable">
                                    <div class=" col-lg-12 scrollbar force-overflow" style="overflow:visible" id="style-4">
                                        <table class="table table-bordered table-striped custom-table" style="margin-bottom:10px;">
                                            <thead class="custom-table-header">
                                                <tr>
                                                    <td>
                                                        Illness
                                                    </td>
                                                    <td>
                                                        Duration of Illness
                                                    </td>
                                                    <td>
                                                        Diagnosis
                                                    </td>
                                                    <td>
                                                        Surgery
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="x in ICD10PCSDetails">
                                                    <td></td>
                                                    <td></td>
                                                    <td>{{x.DIAGNOSISNAME}}</td>
                                                    <td>{{x.SURGERYNAME}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#InvestigationPanel">
                        <h4 class="panel-title">
                            <b>Investigation Details</b>
                        </h4>
                    </div>
                    <div id="InvestigationPanel" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="type" required>Investigation Type</label>
                                    <div>
                                        <select class="form-control" ng-model="INVESTIGATIONDETAILS.INVESTIGATIONTYPE" id="type" name="type" required>
                                            <option value="">--Select--</option>
                                            <option value="Normal">Normal</option>
                                            <option value="Allopathic">Fast Track</option>
                                        </select>
                                    </div>
                                    <p class="text-error" ng-show="(form.InvestigationDetails.submitted && form.InvestigationDetails.type.$invalid) || (form.InvestigationDetails.type.$touched && form.InvestigationDetails.type.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Investigation Type
                                    </p>
                                </div>
                                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                    <label for="assignto" required>Assign To</label>
                                    <div>
                                        <select class="form-control" ng-model="INVESTIGATIONDETAILS.ASSIGNTO" id="assignto" name="assignto" required>
                                            <option value="">--Select--</option>
                                            <option value="Internal Investigation Team">Internal Investigation Team</option>
                                            <option value="External Agency">External Agency</option>
                                        </select>
                                    </div>
                                    <p class="text-error" ng-show="(form.InvestigationDetails.submitted && form.InvestigationDetails.assignto.$invalid) || (form.InvestigationDetails.assignto.$touched && form.InvestigationDetails.assignto.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Assign To
                                    </p>
                                </div>
                                <div class="form-group col-xs-12 col-sm-4 col-md-3" ng-show="INVESTIGATIONDETAILS.ASSIGNTO == 'External Agency'">
                                    <label for="sptype" required>Type of Service Provider</label>
                                    <div>
                                        <select class="form-control" ng-model="INVESTIGATIONDETAILS.TYPEOFSERVICEPROVIDER" id="sptype" name="sptype" ng-required="INVESTIGATIONDETAILS.ASSIGNTO == 'External Agency'">
                                            <option value="">--Select--</option>
                                            <option value="IInvestigator">Investigator</option>
                                            <option value="Lawyer">Lawyer</option>
                                        </select>
                                    </div>
                                    <p class="text-error" ng-show="(form.InvestigationDetails.submitted && form.InvestigationDetails.sptype.$invalid) || (form.InvestigationDetails.sptype.$touched && form.InvestigationDetails.sptype.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Type of Service Provider
                                    </p>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <label for="name" required>Name</label>
                                    <div>
                                        <input type="text" name="InvestigatorName" class="form-control input-normal" ng-model="INVESTIGATIONDETAILS.INVESTIGATORNAME"
                                            ng-click="SPModalToggle()" id="InvestigatorName" required readonly>
                                    </div>
                                    <p class="text-error" ng-show="(form.InvestigationDetails.submitted && form.InvestigationDetails.InvestigatorName.$invalid) || (form.InvestigationDetails.InvestigatorName.$touched && form.InvestigationDetails.InvestigatorName.$invalid)">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                        Enter Valid Name
                                    </p>
                                </div>
                                <div class="form-group col-sm-12 col-md-3">
                                    <label for="SubmissionDate" required>Expected Date of Submission</label>
                                    <div>
                                        <div class="input-group date">
                                            <input name="SubmissionDate" class="form-control input-normal" date-picker data-ng-model="INVESTIGATIONDETAILS.EXPECTEDSUBMISSIONDATE"
                                                placeholder="01-01-2020" maxlength="10" size="100%" required />
                                            <span class="input-group-addon datetimepickeradmitdate-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>

                                        <p class="text-error" ng-show="(form.InvestigationDetails.submitted  || form.InvestigationDetails.SubmissionDate.$touched) && form.InvestigationDetails.SubmissionDate.$invalid">
                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter valid Date
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12 col-md-3">
                                    <label for="AppointmentDate" required>Date of Appointment</label>
                                    <div>
                                        <div class="input-group date">
                                            <input name="AppointmentDate" class="form-control input-normal" date-picker data-ng-model="INVESTIGATIONDETAILS.APPOINTMENTDATE"
                                                placeholder="01-01-2020" maxlength="10" size="100%" readonly />
                                            <span class="input-group-addon datetimepickeradmitdate-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>

                                        <p class="text-error" ng-show="(form.InvestigationDetails.submitted  || form.InvestigationDetails.AppointmentDate.$touched) && form.InvestigationDetails.AppointmentDate.$invalid">
                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter valid Date
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <label for="remarks" required>Remarks</label>
                                    <div>
                                        <input type="text" name="remarks" class="form-control input-normal" ng-model="INVESTIGATIONDETAILS.REMARKS" for-alpha-numeric
                                            maxlength="200" required>
                                        <p class="text-error" ng-show="(form.InvestigationDetails.submitted  || form.InvestigationDetails.remarks.$touched) && form.InvestigationDetails.remarks.$invalid">
                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter Remarks
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12 col-md-3">
                                    <label>Hospital Investigation Required</label>
                                    <div>
                                        <label class="checkboxContainer slight-margin-top">
                                            <input type="checkbox" name="claimantInsured " ng-true-value="'true'" ng-false-value="'false'" data-ng-model="INVESTIGATIONDETAILS.HOSPITALINVESTIGATION"> Yes
                                            <span class="checkboxCheckmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-show="INVESTIGATIONDETAILS.HOSPITALINVESTIGATION=='true'">
                                <div class="form-group col-sm-12 col-md-2">

                                    <div>
                                        <label class="checkboxContainer slight-margin-top">
                                            <input type="checkbox" name="claimantInsured " ng-true-value="'true'" ng-false-value="'false'" data-ng-model="INVESTIGATIONDETAILS.HOSPITALREGISTRATIONO">
                                            <span class="checkboxCheckmark"></span>
                                            Hospital Registration No
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12 col-md-2">

                                    <div>
                                        <label class="checkboxContainer slight-margin-top">
                                            <input type="checkbox" name="claimantInsured " ng-true-value="'true'" ng-false-value="'false'" data-ng-model="INVESTIGATIONDETAILS.HOSPITALBILLAMOUNT">
                                            <span class="checkboxCheckmark"></span>
                                            Hospital Bill Amount
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12 col-md-2">

                                    <div>
                                        <label class="checkboxContainer slight-margin-top">
                                            <input type="checkbox" name="claimantInsured " ng-true-value="'true'" ng-false-value="'false'" data-ng-model="INVESTIGATIONDETAILS.ROOMADMITTED">
                                            <span class="checkboxCheckmark"></span>
                                            Room Admitted
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12 col-md-2">

                                    <div>
                                        <label class="checkboxContainer slight-margin-top">
                                            <input type="checkbox" name="claimantInsured " ng-true-value="'true'" ng-false-value="'false'" data-ng-model="INVESTIGATIONDETAILS.CROSSCHECKIPDREGISTER">
                                            <span class="checkboxCheckmark"></span>
                                            Cross check IPD Register
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12 col-md-2">

                                    <div>
                                        <label class="checkboxContainer slight-margin-top">
                                            <input type="checkbox" name="claimantInsured " ng-true-value="'true'" ng-false-value="'false'" data-ng-model="INVESTIGATIONDETAILS.PATIENTBEDS">
                                            <span class="checkboxCheckmark"></span>
                                            No. of Patient Beds
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12 col-md-2">

                                    <div>
                                        <label class="checkboxContainer slight-margin-top">
                                            <input type="checkbox" name="claimantInsured " ng-true-value="'true'" ng-false-value="'false'" data-ng-model="INVESTIGATIONDETAILS.FINDINGS">
                                            <span class="checkboxCheckmark"></span>
                                            Findings
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12 col-md-2">

                                    <div>
                                        <label class="checkboxContainer slight-margin-top">
                                            <input type="checkbox" name="claimantInsured " ng-true-value="'true'" ng-false-value="'false'" data-ng-model="INVESTIGATIONDETAILS.INDOORCASEPAPERS">
                                            <span class="checkboxCheckmark"></span>
                                            Indoor Case Papers
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12 col-md-2">

                                    <div>
                                        <label class="checkboxContainer slight-margin-top">
                                            <input type="checkbox" name="claimantInsured " ng-true-value="'true'" ng-false-value="'false'" data-ng-model="INVESTIGATIONDETAILS.OBSERVATION">
                                            <span class="checkboxCheckmark"></span>
                                            Observations
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group col-md-3 col-sm-12">

                                    <div>
                                        <label for="HOSPITALINVESTIGATIONNOTES" required>Hospital Investigation Notes</label>
                                        <div>
                                            <input type="text" name="HOSPITALINVESTIGATIONNOTES" for-alpha class="form-control input-normal" ng-model="INSURANCEHISTORYDETAILS.HOSPITALINVESTIGATIONNOTES"
                                                maxlength="200">
                                        </div>

                                    </div>

                                </div>



                            </div <div class="row">
                            <div class="form-group col-sm-12 col-md-3">
                                <label>Member Investigation Required</label>
                                <div>
                                    <label class="checkboxContainer slight-margin-top">
                                        <input type="checkbox" name="member" ng-true-value="'true'" ng-false-value="'false'" data-ng-model="INVESTIGATIONDETAILS.MEMBERINVESTIGATION"> Yes
                                        <span class="checkboxCheckmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="INVESTIGATIONDETAILS.MEMBERINVESTIGATION=='true'">
                            <div class="form-group col-sm-12 col-md-2">

                                <div>
                                    <label class="checkboxContainer slight-margin-top">
                                        <input type="checkbox" name="Age" ng-true-value="'true'" ng-false-value="'false'" data-ng-model="INVESTIGATIONDETAILS.AGEOFPATIENT">
                                        <span class="checkboxCheckmark"></span>
                                        Age of Patient
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-md-2">
                                <div>
                                    <label class="checkboxContainer slight-margin-top">
                                        <input type="checkbox" name="PastHistory " ng-true-value="'true'" ng-false-value="'false'" data-ng-model="INVESTIGATIONDETAILS.PASTHISTORYOFDISEASE">
                                        <span class="checkboxCheckmark"></span>
                                        Past History of Disease
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-md-2">
                                <div>
                                    <label class="checkboxContainer slight-margin-top">
                                        <input type="checkbox" name="ChiefComplaints " ng-true-value="'true'" ng-false-value="'false'" data-ng-model="INVESTIGATIONDETAILS.CHEIFCOMPLAINTS">
                                        <span class="checkboxCheckmark"></span>
                                        Cheif Complaints
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-md-2">
                                <div>
                                    <label class="checkboxContainer slight-margin-top">
                                        <input type="checkbox" name="PatientReports" ng-true-value="'true'" ng-false-value="'false'" data-ng-model="INVESTIGATIONDETAILS.PATIENTREPORTS">
                                        <span class="checkboxCheckmark"></span>
                                        Patient Reports
                                    </label>
                                </div>
                            </div>




                            <div class="form-group col-md-3 col-sm-12">

                                <div>
                                    <label for="MEMBERINVESTIGATIONNOTES1" required>Member Investigation Notes</label>
                                    <div>
                                        <input type="text" name="MEMBERINVESTIGATIONNOTES1" for-alpha-numeric class="form-control input-normal" ng-model="INVESTIGATIONDETAILS.MEMBERINVESTIGATIONNOTES"
                                            maxlength="200">
                                    </div>

                                </div>

                            </div>


                        </div>
                    </div>

                </div>

                <div class="form-group col-xs-12 col-sm-4 col-md-12">
                    <div class="pull-right">
                        <button type="button" class="common-button first-button" data-ng-click="addUpdateInvestigationRequest()">Save</button>

                        <button type="button" class="common-button second-button" data-ng-click="">Upload Documents</button>

                        <button type="button" class="common-button" data-ng-click="">Reset</button>
                    </div>
                </div>

                <div id="SPSearchModal" class="modal fade" tabindex="-1">
                    <div class="modal-dialog modal-lg" role="dialog">

                        <!-- Modal Content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal" ng-click="">×</button>
                                <div class="modal-title">
                                    <h4>Service Provider Search</h4>
                                </div>
                            </div>
                            <div class="modal-body">
                                <form name="form.PRNSearchModalForm">
                                    <div class="text-center" autocomplete="off">
                                        <div class="input-group">
                                            <input type="text" maxlength="100" class="form-control input-normal" for-alpha-numeric title="{{SPnameSearch}}" placeholder="name"
                                                ng-model="$parent.SPnameSearch" ng-keypress="($event.which === 13)? getServiceProvider(1) :''">
                                            <div class="input-group-btn">
                                                <div class="btn-group">
                                                    <div class="dropdown dropdown-lg" style="font-size: 0;">

                                                        <button class="normal-button" type="button" ng-click="getServiceProvider(1)" id="searchButton">
                                                            <span class="glyphicon glyphicon-search"></span>
                                                        </button>

                                                        <button class="normal-button" type="button" ng-click="SPtotalPages=0;">
                                                            <span class="glyphicon glyphicon-remove"></span>
                                                        </button>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <br />
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-bordered  custom-table">
                                            <thead class="custom-table-header">
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Type</th>
                                                    <th>City</th>
                                                    <th>TDS Type</th>

                                                </tr>

                                            </thead>

                                            <tr data-ng-repeat="x in ServiceProviderList" ng-show="ServiceProviderList.length > 0" ng-dblclick="selectedSP(x)">
                                                <td>{{x.NAME}}</td>
                                                <td>{{x.TYPE}}</td>
                                                <td>{{x.CITY}}</td>
                                                <td>{{x.TDSTYPE}}</td>


                                            </tr>
                                            <tr ng-show=" ServiceProviderList== undefined || ServiceProviderList.length == 0" class="text-center" aria-hidden="false">
                                                <td colspan="4">No records found !!</td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="common-button first-button" ng-click="ServiceProviderList=[];SPnameSearch='';" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </div>
    <!-- Investigation End -->
</div>