 <div id="cover">
    <div class="loader">
    </div>
</div>
    
<div ng-cloak>
	
	<div ng-show="alertModal" class="alert" style="display : block" role="alert"
	    ng-class="{success:success,error:error,warning:warning}">
	    <span class="pull-right" ng-click="alertModal=false;error=false;success=false;warning=false;"
	        aria-label="Close">
	        <span aria-hidden="true">&nbsp;&times;</span>
	    </span>
	    <strong>{{errCode}}</strong> {{errDesc}}
	    <br>
	    <a ng-show="alertModalError" data-toggle="collapse" data-target="#demo">
	        <strong>
	            <u>Error Details</u>
	        </strong>
	    </a>
	    <div ng-show="alertModalError" id="demo" class="collapse">
	        <textarea style="width: 100%;" readonly rows="5" cols="50">{{errDtls}}</textarea>
	    </div>
	</div>

    <div class="container-fluid scrollbar force-overflow style-4">
        <div class="container-fluid">
            <div class="row create-button">
                <div class="col-sm-12 col-md-12 col-xs-12">  
                    <h3 class="text-center">
                        Inward Data Entry
                    </h3>
                </div>
            </div>
            <div >
                <form name="dataEntryValidationForm" autocomplete="off">
                    <div class="container-fluid custom-margin-top" >
                        <fieldset >
                            <div class="row">
                                <div class="form-group col-md-3 col-sm-3 col-xs-12">
                                    <label for="consignmentReceivedDate" required> Consignment Received Date </label>
                                    <div class="input-group date">
                                        <input name="consignmentReceivedDate" class="form-control input-normal"
                                            title="{{inwardData.CONSIGNMENTRECDATE}}"
                                            data-ng-model="inwardData.CONSIGNMENTRECDATE"
                                            ng-class="{submitted:dataEntryValidationForm.submitted}" 
                                            placeholder="eg: 01-01-2018" maxlength="10" size="100%" readonly />   
                                    </div>
                                </div>

                                <div class="form-group col-md-3 col-sm-3 col-xs-12">
                                    <label for="consignmentNumber" required> Consignment Number </label>
                                    <div>
                                        <input name="consignmentNumber" type="text" class="form-control input-normal"
                                            data-ng-model="inwardData.CONSIGNMENTNUMBER"
                                            ng-class="{submitted:dataEntryValidationForm.submitted}"
                                            title="{{inwardInputData.CONSIGNMENTNUMBER}}" readonly>
                                    
                                    </div>
                                </div>

                                <div class="form-group col-md-3 col-sm-3 col-xs-12">
                                    <label for="inwardId" required> Inward ID </label>
                                    <div>
                                        <input name="inwardId" type="text" class="form-control input-normal"
                                            data-ng-model="inwardData.INWARDID"
                                            ng-class="{submitted:dataEntryValidationForm.submitted}"
                                            title="{{inwardInputData.INWARDID}}" readonly>
                                    
                                    </div>
                                </div>

                                <div class="form-group col-md-3 col-sm-3 col-xs-12">
                                    <label for="noOfDocs" required> Number of Documents </label>
                                    <div>
                                        <input name="noOfDocs" type="text" class="form-control input-normal"
                                            data-ng-model="inwardData.NUMBEROFDOCUMENT"
                                            ng-class="{submitted:dataEntryValidationForm.submitted}"
                                            title="{{inwardInputData.NUMBEROFDOCUMENT}}" readonly>
                                    
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-3 col-sm-3 col-xs-12">
                                    <label for="claimId" 
                                        ng-required="inwardData.CLAIMSUBTYPE == 'Query Reply' ||
                                        inwardData.CLAIMSUBTYPE == 'Supplementary' ">
                                            Claim ID</label>
                                    <div>
                                        <input name="claimId" class="form-control input-normal"
                                            title="{{inwardData.CLAIMNUMBER}}"
                                            data-ng-model="inwardData.CLAIMNUMBER"
                                            ng-required="inwardData.CLAIMSUBTYPE == 'Query Reply' ||
                                                inwardData.CLAIMSUBTYPE == 'Supplementary' "

                                                ng-disabled="!(inwardData.CLAIMSUBTYPE == 'Query Reply' ||
                                                inwardData.CLAIMSUBTYPE == 'Supplementary') "
                                            ng-class="{submitted:dataEntryValidationForm.submitted}" 
                                            size="auto" type="text"
                                            data-toggle="modal" data-backdrop="static" href="#ClaimSearchID"
                                            style="background-color: white;"
                                            readonly/>

                                        <div class="incorrect">
                                            <p ng-show="dataEntryValidationForm.claimId.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign  incorrect"></span>
                                                    Enter Claim Id</p>
                                        </div>
                                    </div>
                                </div>

                              

                                <div class="form-group col-md-3 col-sm-3 col-xs-12">
                                    <label for="claimType">Claim Type </label>
                                    <select class="form-control input-normal" name="claimType"
                                        data-ng-model="inwardData.CLAIMTYPE"
                                        data-ng-change="populateClaimSubType()"
                                        ng-options="x for x in CLAIMTYPE"
                                        title="{{CLAIMTYPE}}"
                                        ng-class="{submitted:dataEntryValidationForm.submitted}" required>
							
						                    <option value="" disabled>---select---</option>
                                    </select>
                                    <div class="incorrect">
                                        <p  ng-show="dataEntryValidationForm.claimType.$invalid &&
                                        dataEntryValidationForm.claimType.$touched">
                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                             Select Claim Type</p>
                                    </div> 
                                </div>
                                
                                <div class="form-group col-md-3 col-sm-3 col-xs-12">
                                    <label for="claimSubType" required>Claim Sub Type </label>
                                    <select class="form-control input-normal" name="claimSubType"
                                        data-ng-model="inwardData.CLAIMSUBTYPE"
                                        ng-options="x for x in CLAIMSUBTYPE"
                                        ng-change="inwardData.CLAIMSUBTYPE == 'New' ?inwardData.CLAIMNUMBER=null:inwardData.CLAIMNUMBER=inwardData.CLAIMNUMBER"
                                        title="{{CLAIMSUBTYPE}}"
                                        ng-class="{submitted:dataEntryValidationForm.submitted}" required>
                                        
                                            <option value="" disabled>---select---</option>
                                    </select>

                                    <div class="incorrect">
                                        <p ng-show="dataEntryValidationForm.claimSubType.$invalid &&
                                        dataEntryValidationForm.claimType.$valid && 
                                        (dataEntryValidationForm.claimSubType.$touched || 
                                        dataEntryValidationForm.claimType.$touched)">
                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                             Select Claim Subtype</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="">
                                        <label for="remarks">Remarks </label>
                                        <textarea name="remarks" rows="4" cols="40" id="remarks" for-alpha
                                            class="form-control input-normal" 
                                            data-ng-model="inwardData.REMARKS" title="{{inwardData.REMARKS}}" 
                                            style="min-height:50px; border: 1px solid #999;"
                                            ng-keyup="remarksShow=false;" maxlength="500"></textarea>

                                        <div class="incorrect">
                                            <p ng-show="remarksShow">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                    Enter Remarks</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="container-fluid custom-margin-top">                            
                        <fieldset>
                            <div class="row">
                                <div class="form-group col-sm-2 col-md-12 col-xs-2">  
                                    <button type="button" class="common-button first-button"
                                        data-toggle="modal" data-backdrop="static" href="#addDocumentModal">
                                            Add Documents
                                    </button>
                                </div>
                            </div>

                            <!-- Modal -->
                            <div id="addDocumentModal" class="modal fade" tabindex="-1">
                                <div class="modal-dialog" role="dialog">
                                    
                                    <!-- Modal Content -->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button class="close" data-dismiss="modal">&times;</button>
                                            <div class="modal-title">
                                                <h4>Add Document</h4>
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <input type="file" ng-file-model="files" name="upload" id="file_upload" 
                                            ng-click="" onchange="" required />
                                            <!--
                                            <input type="file" ng-file-model="files" name="upload" id="file_upload" style="display: none !important;"
                                                ng-click="" onchange="" required />
                                            <button type="button" ng-disabled="enablegarage" class="common-button first-button" style="margin-top:0px !important;font-size:12px;height:30px;white-space:nowrap;"
                                                id="uploadLabel1">
                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                                <span>{{isDocumentUploaded ? ( (" | " + file.name) | limitTo: 18 ) : "" onchange="angular.element(this).scope().fileLoad(this.files)" }}{{(file.name.length> 25 && isDocumentUploaded) ? '...' : ''}}</span>
                                            </button>
                                            -->
                                            <p class="incorrect" ng-show="(addWorkshop.submittedBank && !isDocumentUploaded )">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Upload file
                                            </p>
                                        </div>
                                        
                                        <div class="modal-footer">
                                            <button class="common-button first-button" ng-click="uploadFile()"> Add</button>
                                            <button data-dismiss="modal" class="common-button"> close</button>
                                        </div>
                                    </div> 
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-hover table-bordered custom-table document-table">
                                        <thead class="">
                                            <tr>
                                            <th colspan="5">
                                                <div class="text-center">Your Uploaded Documents</div>
                                            </th>
                                            </tr>
                                        </thead>
                                        <thead class="custom-table-header">
                                            <tr class="d-flex">
                                                <th class="col-md-1 col-sm-1 col-xs-1">Doc. No.</th>
                                                <th class="col-md-7 col-sm-7 col-xs-7">File Name</th>
                                                <th class="col-md-2 col-sm-2 col-xs-2">Doc. Type</th>
                                                <th class="col-md-1 col-sm-1 col-xs-1">Photocopy</th>
                                                <th class="col-md-1 col-sm-1 col-xs-1">Delete</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <div class="table-responsive style-4" style="max-height: 150px; margin-right: -9px; overflow-y: scroll;">
                                        <table class="table table-hover table-bordered custom-table document-table ">
                                            <tbody>
                                                <tr ng-if="(documentData.length<1)" class="d-flex">
                                                    <td colspan="5" class="text-center">No Documents Uploaded</td>
                                                </tr>
                                                <tr ng-repeat="document in documentData" class="d-flex">
                                                    <td class="col-md-1 col-sm-1 col-xs-1">{{$index+1}}</td>
                                                    <td class="col-md-7 col-sm-7 col-xs-7"><a href="#">{{document.FILENAME}}</a></td>
                                                    <td class="col-md-2 col-sm-2 col-xs-2">
                                                        <select class="form-control input-normal" 
                                                            ng-model="document.DOCUMENTTYPE"
                                                            style="height: 25px !important;">
                                                                <option value="Email">Email</option>
                                                                <option value="PAN card">PAN card</option>
                                                                <option value="Member Health Card">Member Health Card</option>
                                                                <option value="Bills">Bills</option>
                                                                <option value="Aadhaar card">Aadhaar card</option>
                                                                <option value="Report">Report</option>
                                                                <option value="Other">Other</option>
                                                        </select>
                                                    </td>
                                                    <td class="col-md-1 col-sm-1 col-xs-1">
                                                        <select class="form-control input-normal" 
                                                            ng-model="document.PHOTOCOPY"
                                                            style="height: 25px !important;">
                                                                <option value="YES">Yes</option>
                                                                <option value="NO">No</option>
                                                        </select>
                                                    </td>
                                                    <td class="col-md-1 col-sm-1 col-xs-1">
                                                        <span class="glyphicon glyphicon-trash"
                                                            ng-model="document.HEALTHDOCUMENTMANAGEMENTID"
                                                            ng-click="showDeleteConfirmation(document)"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table class="table table-hover table-bordered custom-table style-4">
                                    </div>                                       
                                </div>
                            </div>

                            
                        <!-- Modal -->
                                <div id="deleteDocumentModal" class="modal fade" tabindex="-1">
                                    <div class="modal-dialog" role="dialog">
                                        
                                        <!-- Modal Content -->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button class="close" data-dismiss="modal">&times;</button>
                                                <div class="modal-title">
                                                    <h4>Delete Document</h4>
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container-fluid">
                                                    <p>Are you sure you want to delete <b>{{deletedDocument.FILENAME}}</b>?</p>

                                                    <div class="row">
                                                        <div class="button-container-right custom-padding-right ">
                                                            <div class="pull-right button-right-margin">
                                                                <button type="button" class="common-button btn first-button" 
                                                                    data-dismiss="modal" ng-click="deleteDocumentServiceCall(deletedDocument)">Yes</button>
                                                                <button type="button" class="common-button btn second-button" data-dismiss="modal" >No</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="modal-footer">
                                            </div>
                                        </div> 
                                    </div>
                                </div>

                            <div class="row">
                                <div class="button-container-right custom-padding-right ">
                                    <div class="pull-right button-right-margin">
                                        <button type="button" class="common-button first-button" 
                                            ng-if="TEAMNAME !='TACINWARDASSESSORSUPERVISORTEAM' " data-ng-click="updateInwardDetailsServiceCall('ASSIGNTOSUPERVISOR')">Assign to supervisor</button>
                                        <button type="button" class="common-button second-button" 
                                            data-ng-click="updateInwardDetailsServiceCall('REJECT')">Reject</button>
                                        <button type="button" class="common-button" 
                                            data-ng-click="updateInwardDetailsServiceCall('SAVEASDRAFT')">Save as Draft</button>
                                            <button type="button" class="common-button" 
                                            data-ng-click="updateInwardDetailsServiceCall('SUBMIT')">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
            <div id="ClaimSearchID" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-lg" role="dialog">
            
                    <!-- Modal Content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal" ng-click="">×</button>
                            <div class="modal-title">
                                <h4>Claim Search</h4>
                            </div>
                        </div>
                        <div class="modal-body">
                        <div class="input-group col-sm-8 col-sm-offset-2">
                            <input type="text" class="form-control" 
                               name="searchText" ng-model="ClaimID" for-digit maxlength="10" ng-keypress="($event.which === 13)? getClaimDetails() :''" placeholder="Claim ID">
                          
                            <span class="input-group-addon" ng-click="getClaimDetails()">
                                <i class="glyphicon glyphicon-search"></i>
                            </span>
                            <span class="input-group-addon" ng-click="ClaimID=''">
                                <i class="glyphicon glyphicon-remove"></i>
                            </span>
            </div>
            <div class="tableContent">
                <table class="table table-bordered  custom-table">
                    <thead class="custom-table-header">
                        <tr>
                           
                            <th>Feature Number</th>
                            <th>Claim Number</th>
                            <!-- <th>Feature Summary ID</th> -->
                            <th>Member ID</th>
                            <th>
                            Member Name
                            </th>   
                            <th>
                                Policy Number
                            </th>                     
                        </tr>
                    </thead>
                    <tr data-ng-repeat="x in ClaimNumberlist" ng-show="ClaimNumberlist.length > 0" ng-dblclick="setClaim(x)">
                        
                        <td>{{x.FEATURENUMBER}}</td>
                        <td>{{x.CLAIMNUMBER}}</td>
                        <!-- <td>{{x.FEATURESUMMARYID}}</td> -->
                        <td>{{x.MEMBERID}}</td>
                        <td>{{x.MEMBERNAME}}</td>
                        <td>{{x.POLICYNUMBER}}</td>
                    </tr>
                    <tr ng-show=" ClaimNumberlist== undefined || ClaimNumberlist.length == 0" class="text-center" aria-hidden="false">
                        <td colspan="7">No records found !!</td>
                    </tr>
                </table>
            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="common-button first-button" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>

<a href="" id="DownloadedDocument" style="visibility: hidden" download></a>