<div class="container-fluid" ng-cloak>
    <div id="cover">
        <div class="loader">
        </div>
    </div>
    <div class="row ApprovalClaimProcess">
        <div class="col-xs-10  col-sm-offset-1 com-md-offset-2">
        <form name="ReserveApprovalProcess" class="form-inline" novalidate>
            <div class="form-group">
                <label for="email" ng-required="ReserveApproval.STATUS =='Rejected'">Rejection
                    Reason :</label>
                <input for-alpha-numeric name='comment' ng-model="ReserveApproval.COMMENT" maxlength='140'
                    class="form-control" required style="width : 450px"> </input>
                <p class="text-error nowrap"
                    data-ng-show="(ReserveApprovalProcess.submitted && ReserveApprovalProcess.comment.$invalid) || (ReserveApprovalProcess.comment.$touched && ReserveApprovalProcess.comment.$invalid) ">
                    <span class="glyphicon glyphicon-warning-sign incorrect"></span> Please give proper reason</p>
            </div>
            <button class="btn btn-sm first-button closeButton" disable-on-click ng-click="updateReserveData('ACCEPTED')">
                Approve
            </button>
            <button class="btn btn-sm second-button closeButton" disable-on-click ng-click="updateReserveData('REJECTED')">
                Reject
            </button>
        </form>
        </div>
    </div>
</div>