<div id="cover">
    <div class="loader">
    </div>
</div>


<div ng-cloak>

    <div ng-show="alertModal" class="alert" style="display : block" role="alert"
        ng-class="{success:success,error:error,warning:warning}">
        <span class="pull-right" ng-click="alertModal=false;error=false;success=false;warning=false;">
            <span>&nbsp;&times;</span>
        </span>
        <strong>{{errCode}}</strong> {{errDesc}}
        <br>
        <a ng-show="alertModalError" data-toggle="collapse" data-target="#demo">
            <strong>
                <u>Error Details</u>
            </strong>
        </a>
        <div ng-show="alertModalError" id="demo" class="collapse">
            <textarea style="width: 100%;" readonly rows="5" cols="50">{{errDtls}}</textarea>
        </div>
    </div>


    <div class="container-fluid style-4 slight-margin-top" style="margin-top:25px;">
        <form name="form.BillingDetails" id="BillingDetailsForm">

            <div class="container-fluid custom-margin-top">
                <!--main div-->
                <div class="col-sm-12 col-md-12 col-xs-12">

                    <div class="panel-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            
                            <div class="panel panel-default">
                                <div class="panel-heading" id="roomAndNursingChargesHeader" data-toggle="collapse"
                                    data-target="#roomAndNursingCharges">
                                    <div class="panel-title" style="color:#0073BB;">
                                        <b>Room and Nursing charges</b><span class="pull-right"><span class="glyphicon glyphicon-plus"></span></span>
                                    </div>
                                </div>
                
                                <div class="panel-collapse collapse" id="roomAndNursingCharges">
                                    <div class="panel-body">
                                        <div class="row" >
                                                <div id="roomAndNursingChargesTable">
                                                    <div class="table-responsive col-lg-12 scrollbar force-overflow" id="style-4">
                                                        <table class="table table-bordered table-striped custom-table" style="margin-bottom:0px;">
                                                            <tbody>
                                                                <tr ng-repeat="x in billingTabData.roomAndNursingCharges">
                                                                    <td>{{$index+1}}</td>
                                                                    <td>
                                                                        <input type="text" name="roomAndNursingCharges[$index].itemDescription"
                                                                        for-alpha-numeric 
                                                                        maxlength="15"
                                                                        class="form-control input-normal"  data-ng-model="billingTabData.roomAndNursingCharges[$index].INVOICEDETAILS.ITEMDESCRIPTION"
                                                                        ng-class="{submitted:form.BillingDetails.submitted}"
                                                                         readonly>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('roomAndNursingCharges','InvoiceDetails',$index)">Invoice Details</button>             
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('roomAndNursingCharges','TariffDetails',$index)">Tariff</button>    
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('roomAndNursingCharges','ManualDisallowance',$index)">Manual Disallowances</button>    
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('roomAndNursingCharges','ProportionateDeduction',$index)">Proportionate Deduction</button>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('roomAndNursingCharges','PerUnitPolicyLimits',$index)">Per unit policy limits</button>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('roomAndNursingCharges','CoPay',$index)">Co-Pay</button>  
                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox"
                                                                        ng-model="billingTabData.roomAndNursingCharges[$index].OVERRIDEDETAILS.OVERRIDE" ng-click="openModal('roomAndNursingCharges','Override',$index)">Override</button>    
                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox" 
                                                                        ng-model="billingTabData.roomAndNursingCharges[$index].NONPAYABLE" >Non-payable</button>     
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="panel panel-default">
                                    <div class="panel-heading" id="ICUchargesHeader" data-toggle="collapse"
                                        data-target="#ICUcharges">
                                        <div class="panel-title" style="color:#0073BB;">
                                            <b>ICU charges</b><span class="pull-right"><span class="glyphicon glyphicon-plus"></span></span>
                                        </div>
                                    </div>
                    
                                    <div class="panel-collapse collapse" id="ICUcharges">
                                        <div class="panel-body">
                                            <div class="row" >
                                                    <div id="ICUchargesTable">
                                                        <div class="table-responsive col-lg-12 scrollbar force-overflow" id="style-4">
                                                            <table class="table table-bordered table-striped custom-table" style="margin-bottom:0px;">
                                                                <tbody>
                                                                    <tr ng-repeat="x in billingTabData.ICUcharges">
                                                                        <td>{{$index+1}}</td>
                                                                        <td>
                                                                            <input type="text" name="ICUcharges[$index].itemDescription"
                                                                            for-alpha-numeric 
                                                                            maxlength="15"
                                                                            class="form-control input-normal"  data-ng-model="billingTabData.ICUcharges[$index].INVOICEDETAILS.ITEMDESCRIPTION"
                                                                            ng-class="{submitted:form.BillingDetails.submitted}"
                                                                                readonly>
                                                                        </td>
                                                                        <td>
                                                                            <button class="common-button second-button" ng-click="openModal('ICUcharges','InvoiceDetails',$index)">Invoice Details</button>             
                                                                        </td>
                                                                        <td>
                                                                            <button class="common-button second-button" ng-click="openModal('ICUcharges','TariffDetails',$index)">Tariff</button>    
                                                                        </td>
                                                                        <td>
                                                                            <button class="common-button second-button" ng-click="openModal('ICUcharges','ManualDisallowance',$index)">Manual Disallowances</button>    
                                                                        </td>
                                                                        <td>
                                                                            <button class="common-button second-button" ng-click="openModal('ICUcharges','ProportionateDeduction',$index)">Proportionate Deduction</button>
                                                                        </td>
                                                                        <td>
                                                                            <button class="common-button second-button" ng-click="openModal('ICUcharges','PerUnitPolicyLimits',$index)">Per unit policy limits</button>
                                                                        </td>
                                                                        <td>
                                                                            <button class="common-button second-button" ng-click="openModal('ICUcharges','CoPay',$index)">Co-Pay</button>  
                                                                        </td>
                                                                        <td>
                                                                            <input type="checkbox"
                                                                            ng-model="billingTabData.ICUcharges[$index].OVERRIDEDETAILS.OVERRIDE" ng-click="openModal('ICUcharges','Override',$index)">Override</button>    
                                                                        </td>
                                                                        <td>
                                                                            <input type="checkbox" 
                                                                            ng-model="billingTabData.ICUcharges[$index].NONPAYABLE" >Non-payable</button>     
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                
                            <div class="panel panel-default">
                                <div class="panel-heading" id="OTchargesHeader" data-toggle="collapse"
                                    data-target="#OTcharges">
                                    <div class="panel-title" style="color:#0073BB;">
                                        <b>OT charges</b><span class="pull-right"><span class="glyphicon glyphicon-plus"></span></span>
                                    </div>
                                </div>
                
                                <div class="panel-collapse collapse" id="OTcharges">
                                    <div class="panel-body">
                                        <div class="row" >
                                                <div id="OTchargesTable">
                                                    <div class="table-responsive col-lg-12 scrollbar force-overflow" id="style-4">
                                                        <table class="table table-bordered table-striped custom-table" style="margin-bottom:0px;">
                                                            <tbody>
                                                                <tr ng-repeat="x in billingTabData.OTcharges">
                                                                    <td>{{$index+1}}</td>
                                                                    <td>
                                                                        <input type="text" name="OTcharges[$index].itemDescription"
                                                                        for-alpha-numeric 
                                                                        maxlength="15"
                                                                        class="form-control input-normal"  data-ng-model="billingTabData.OTcharges[$index].INVOICEDETAILS.ITEMDESCRIPTION"
                                                                        ng-class="{submitted:form.BillingDetails.submitted}"
                                                                            readonly>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('OTcharges','InvoiceDetails',$index)">Invoice Details</button>             
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('OTcharges','TariffDetails',$index)">Tariff</button>    
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('OTcharges','ManualDisallowance',$index)">Manual Disallowances</button>    
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('OTcharges','ProportionateDeduction',$index)">Proportionate Deduction</button>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('OTcharges','PerUnitPolicyLimits',$index)">Per unit policy limits</button>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('OTcharges','CoPay',$index)">Co-Pay</button>  
                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox"
                                                                        ng-model="billingTabData.OTcharges[$index].OVERRIDEDETAILS.OVERRIDE" ng-click="openModal('OTcharges','Override',$index)">Override</button>    
                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox" 
                                                                        ng-model="billingTabData.OTcharges[$index].NONPAYABLE" >Non-payable</button>     
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="panel panel-default">
                                <div class="panel-heading" id="medicinesAndConsumableChargesHeader" data-toggle="collapse"
                                    data-target="#medicinesAndConsumableCharges">
                                    <div class="panel-title" style="color:#0073BB;">
                                        <b>Medicines and consumable charges</b><span class="pull-right"><span class="glyphicon glyphicon-plus"></span></span>
                                    </div>
                                </div>
                
                                <div class="panel-collapse collapse" id="medicinesAndConsumableCharges">
                                    <div class="panel-body">
                                        <div class="row" >
                                                <div id="medicinesAndConsumableChargesTable">
                                                    <div class="table-responsive col-lg-12 scrollbar force-overflow" id="style-4">
                                                        <table class="table table-bordered table-striped custom-table" style="margin-bottom:0px;">
                                                            <tbody>
                                                                <tr ng-repeat="x in billingTabData.medicinesAndConsumableCharges">
                                                                    <td>{{$index+1}}</td>
                                                                    <td>
                                                                        <input type="text" name="medicinesAndConsumableCharges[$index].itemDescription"
                                                                        for-alpha-numeric 
                                                                        maxlength="15"
                                                                        class="form-control input-normal"  data-ng-model="billingTabData.medicinesAndConsumableCharges[$index].INVOICEDETAILS.ITEMDESCRIPTION"
                                                                        ng-class="{submitted:form.BillingDetails.submitted}"
                                                                            readonly>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('medicinesAndConsumableCharges','InvoiceDetails',$index)">Invoice Details</button>             
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('medicinesAndConsumableCharges','TariffDetails',$index)">Tariff</button>    
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('medicinesAndConsumableCharges','ManualDisallowance',$index)">Manual Disallowances</button>    
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('medicinesAndConsumableCharges','ProportionateDeduction',$index)">Proportionate Deduction</button>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('medicinesAndConsumableCharges','PerUnitPolicyLimits',$index)">Per unit policy limits</button>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('medicinesAndConsumableCharges','CoPay',$index)">Co-Pay</button>  
                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox"
                                                                        ng-model="billingTabData.medicinesAndConsumableCharges[$index].OVERRIDEDETAILS.OVERRIDE" ng-click="openModal('medicinesAndConsumableCharges','Override',$index)">Override</button>    
                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox" 
                                                                        ng-model="billingTabData.medicinesAndConsumableCharges[$index].NONPAYABLE" >Non-payable</button>     
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                
                            <div class="panel panel-default">
                                <div class="panel-heading" id="professionalFeesChargesHeader" data-toggle="collapse"
                                    data-target="#professionalFeesCharges">
                                    <div class="panel-title" style="color:#0073BB;">
                                        <b>Professional fees charges</b><span class="pull-right"><span class="glyphicon glyphicon-plus"></span></span>
                                    </div>
                                </div>
                            
                                <div class="panel-collapse collapse" id="professionalFeesCharges">
                                    <div class="panel-body">
                                        <div class="row" >
                                                <div id="professionalFeesChargesTable">
                                                    <div class="table-responsive col-lg-12 scrollbar force-overflow" id="style-4">
                                                        <table class="table table-bordered table-striped custom-table" style="margin-bottom:0px;">
                                                            <tbody>
                                                                <tr ng-repeat="x in billingTabData.professionalFeesCharges">
                                                                    <td>{{$index+1}}</td>
                                                                    <td>
                                                                        <input type="text" name="professionalFeesCharges[$index].itemDescription"
                                                                        for-alpha-numeric 
                                                                        maxlength="15"
                                                                        class="form-control input-normal"  data-ng-model="billingTabData.professionalFeesCharges[$index].INVOICEDETAILS.ITEMDESCRIPTION"
                                                                        ng-class="{submitted:form.BillingDetails.submitted}"
                                                                            readonly>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('professionalFeesCharges','InvoiceDetails',$index)">Invoice Details</button>             
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('professionalFeesCharges','TariffDetails',$index)">Tariff</button>    
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('professionalFeesCharges','ManualDisallowance',$index)">Manual Disallowances</button>    
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('professionalFeesCharges','ProportionateDeduction',$index)">Proportionate Deduction</button>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('professionalFeesCharges','PerUnitPolicyLimits',$index)">Per unit policy limits</button>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('professionalFeesCharges','CoPay',$index)">Co-Pay</button>  
                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox"
                                                                        ng-model="billingTabData.professionalFeesCharges[$index].OVERRIDEDETAILS.OVERRIDE" ng-click="openModal('professionalFeesCharges','Override',$index)">Override</button>    
                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox" 
                                                                        ng-model="billingTabData.professionalFeesCharges[$index].NONPAYABLE" >Non-payable</button>     
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="panel panel-default">
                                <div class="panel-heading" id="investigationChargesHeader" data-toggle="collapse"
                                    data-target="#investigationCharges">
                                    <div class="panel-title" style="color:#0073BB;">
                                        <b>Investigation charges</b><span class="pull-right"><span class="glyphicon glyphicon-plus"></span></span>
                                    </div>
                                </div>
                
                                <div class="panel-collapse collapse" id="investigationCharges">
                                    <div class="panel-body">
                                        <div class="row" >
                                                <div id="investigationChargesTable">
                                                    <div class="table-responsive col-lg-12 scrollbar force-overflow" id="style-4">
                                                        <table class="table table-bordered table-striped custom-table" style="margin-bottom:0px;">
                                                            <tbody>
                                                                <tr ng-repeat="x in billingTabData.investigationCharges">
                                                                    <td>{{$index+1}}</td>
                                                                    <td>
                                                                        <input type="text" name="investigationCharges[$index].itemDescription"
                                                                        for-alpha-numeric 
                                                                        maxlength="15"
                                                                        class="form-control input-normal"  data-ng-model="billingTabData.investigationCharges[$index].INVOICEDETAILS.ITEMDESCRIPTION"
                                                                        ng-class="{submitted:form.BillingDetails.submitted}"
                                                                            readonly>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('investigationCharges','InvoiceDetails',$index)">Invoice Details</button>             
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('investigationCharges','TariffDetails',$index)">Tariff</button>    
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('investigationCharges','ManualDisallowance',$index)">Manual Disallowances</button>    
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('investigationCharges','ProportionateDeduction',$index)">Proportionate Deduction</button>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('investigationCharges','PerUnitPolicyLimits',$index)">Per unit policy limits</button>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('investigationCharges','CoPay',$index)">Co-Pay</button>  
                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox"
                                                                        ng-model="billingTabData.investigationCharges[$index].OVERRIDEDETAILS.OVERRIDE" ng-click="openModal('investigationCharges','Override',$index)">Override</button>    
                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox" 
                                                                        ng-model="billingTabData.investigationCharges[$index].NONPAYABLE" >Non-payable</button>     
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                        </div>  
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" id="ambulanceChargesHeader" data-toggle="collapse"
                                    data-target="#ambulanceCharges">
                                    <div class="panel-title" style="color:#0073BB;">
                                        <b>Ambulance charges</b><span class="pull-right"><span class="glyphicon glyphicon-plus"></span></span>
                                    </div>
                                </div>
                            
                                <div class="panel-collapse collapse" id="ambulanceCharges">
                                    <div class="panel-body">
                                        <div class="row" >
                                                <div id="ambulanceChargesTable">
                                                    <div class="table-responsive col-lg-12 scrollbar force-overflow" id="style-4">
                                                        <table class="table table-bordered table-striped custom-table" style="margin-bottom:0px;">
                                                            <tbody>
                                                                <tr ng-repeat="x in billingTabData.ambulanceCharges">
                                                                    <td>{{$index+1}}</td>
                                                                    <td>
                                                                        <input type="text" name="ambulanceCharges[$index].itemDescription"
                                                                        for-alpha-numeric 
                                                                        maxlength="15"
                                                                        class="form-control input-normal"  data-ng-model="billingTabData.ambulanceCharges[$index].INVOICEDETAILS.ITEMDESCRIPTION"
                                                                        ng-class="{submitted:form.BillingDetails.submitted}"
                                                                            readonly>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('ambulanceCharges','InvoiceDetails',$index)">Invoice Details</button>             
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('ambulanceCharges','TariffDetails',$index)">Tariff</button>    
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('ambulanceCharges','ManualDisallowance',$index)">Manual Disallowances</button>    
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('ambulanceCharges','ProportionateDeduction',$index)">Proportionate Deduction</button>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('ambulanceCharges','PerUnitPolicyLimits',$index)">Per unit policy limits</button>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('ambulanceCharges','CoPay',$index)">Co-Pay</button>  
                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox"
                                                                        ng-model="billingTabData.ambulanceCharges[$index].OVERRIDEDETAILS.OVERRIDE" ng-click="openModal('ambulanceCharges','Override',$index)">Override</button>    
                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox" 
                                                                        ng-model="billingTabData.ambulanceCharges[$index].NONPAYABLE" >Non-payable</button>     
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="panel panel-default">
                                <div class="panel-heading" id="miscellaneousChargesHeader" data-toggle="collapse"
                                    data-target="#miscellaneousCharges">
                                    <div class="panel-title" style="color:#0073BB;">
                                        <b>Miscellaneous charges</b><span class="pull-right"><span class="glyphicon glyphicon-plus"></span></span>
                                    </div>
                                </div>
                
                                <div class="panel-collapse collapse" id="miscellaneousCharges">
                                    <div class="panel-body">
                                        <div class="row" >
                                                <div id="miscellaneousChargesTable">
                                                    <div class="table-responsive col-lg-12 scrollbar force-overflow" id="style-4">
                                                        <table class="table table-bordered table-striped custom-table" style="margin-bottom:0px;">
                                                            <tbody>
                                                                <tr ng-repeat="x in billingTabData.miscellaneousCharges">
                                                                    <td>{{$index+1}}</td>
                                                                    <td>
                                                                        <input type="text" name="miscellaneousCharges[$index].itemDescription"
                                                                        for-alpha-numeric 
                                                                        maxlength="15"
                                                                        class="form-control input-normal"  data-ng-model="billingTabData.miscellaneousCharges[$index].INVOICEDETAILS.ITEMDESCRIPTION"
                                                                        ng-class="{submitted:form.BillingDetails.submitted}"
                                                                            readonly>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('miscellaneousCharges','InvoiceDetails',$index)">Invoice Details</button>             
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('miscellaneousCharges','TariffDetails',$index)">Tariff</button>    
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('miscellaneousCharges','ManualDisallowance',$index)">Manual Disallowances</button>    
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('miscellaneousCharges','ProportionateDeduction',$index)">Proportionate Deduction</button>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('miscellaneousCharges','PerUnitPolicyLimits',$index)">Per unit policy limits</button>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('miscellaneousCharges','CoPay',$index)">Co-Pay</button>  
                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox"
                                                                        ng-model="billingTabData.miscellaneousCharges[$index].OVERRIDEDETAILS.OVERRIDE" ng-click="openModal('miscellaneousCharges','Override',$index)">Override</button>    
                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox" 
                                                                        ng-model="billingTabData.miscellaneousCharges[$index].NONPAYABLE" >Non-payable</button>     
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                        </div>  
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" id="packageChargesHeader" data-toggle="collapse"
                                    data-target="#packageCharges">
                                    <div class="panel-title" style="color:#0073BB;">
                                        <b>Package charges</b><span class="pull-right"><span class="glyphicon glyphicon-plus"></span></span>
                                    </div>
                                </div>
                
                                <div class="panel-collapse collapse" id="packageCharges">
                                    <div class="panel-body">
                                        <div class="row" >
                                                <div id="packageChargesTable">
                                                    <div class="table-responsive col-lg-12 scrollbar force-overflow" id="style-4">
                                                        <table class="table table-bordered table-striped custom-table" style="margin-bottom:0px;">
                                                            <tbody>
                                                                <tr ng-repeat="x in billingTabData.packageCharges">
                                                                    <td>{{$index+1}}</td>
                                                                    <td>
                                                                        <input type="text" name="packageCharges[$index].itemDescription"
                                                                        for-alpha-numeric 
                                                                        maxlength="15"
                                                                        class="form-control input-normal"  data-ng-model="billingTabData.packageCharges[$index].INVOICEDETAILS.ITEMDESCRIPTION"
                                                                        ng-class="{submitted:form.BillingDetails.submitted}"
                                                                            readonly>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('packageCharges','InvoiceDetails',$index)">Invoice Details</button>             
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('packageCharges','TariffDetails',$index)">Tariff</button>    
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('packageCharges','ManualDisallowance',$index)">Manual Disallowances</button>    
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('packageCharges','ProportionateDeduction',$index)">Proportionate Deduction</button>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('packageCharges','PerUnitPolicyLimits',$index)">Per unit policy limits</button>
                                                                    </td>
                                                                    <td>
                                                                        <button class="common-button second-button" ng-click="openModal('packageCharges','CoPay',$index)">Co-Pay</button>  
                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox"
                                                                        ng-model="billingTabData.packageCharges[$index].OVERRIDEDETAILS.OVERRIDE" ng-click="openModal('packageCharges','Override',$index)">Override</button>    
                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox" 
                                                                        ng-model="billingTabData.packageCharges[$index].NONPAYABLE" >Non-payable</button>     
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                
                        </div>
                    </div>
                    
                </div>
                <!--end of main div-->
                <!--button row div-->
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <div class="slight-margin-top slight-right-margin pull-right">
                        <div class="row clt">
                            <div class="left-right-margin">
                                <button type="button" class="common-button second-button" ng-click="">Previous</button>
                                <button type="button" class="common-button" ng-click="">Cancel</button>
                                <button type="button" class="common-button" ng-click="">Clear</button>
                                <button type="button" class="common-button first-button" ng-click="">Save</button>
                                <button type="button" class="common-button second-button" ng-click="">Next</button>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!--end of button row div-->

            </div>

            <div id="invoiceDetailsModal" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" data-ng-click="">×</button>
                            <h4 class="modal-title">{{CATEGORYLEVEL1OFMODAL}} Invoice Details</h4>
                        </div>
            
                        <div class="modal-body style-4">
                            <div class="row">
                            
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Item Description(Level 5)</label>    
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="INVOICEMODALDATALINK.ITEMDESCRIPTION" readonly> 
                                    </div>
                                </div>
                                
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Category(Level 4)</label>
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="INVOICEMODALDATALINK.CATEGORYLEVEL4" readonly> 
                                    </div>
                                </div>
            
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Room Type</label>
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="INVOICEMODALDATALINK.ROOMTYPE" readonly> 
                                    </div>
                                </div>
            
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Units</label>
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="INVOICEMODALDATALINK.UNIT" readonly> 
                                    </div>
                                </div>
            
                            </div>
                            <div class="row">
                            
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Gross Amount</label>    
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="INVOICEMODALDATALINK.GROSSAMOUNT" readonly> 
                                    </div>
                                </div>
                                
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Discount as per invoice(%)</label>
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="INVOICEMODALDATALINK.DISCOUNTASPERINVOICE" readonly> 
                                    </div>
                                </div>
            
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Net Amount</label>
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="INVOICEMODALDATALINK.NETAMOUNT" readonly> 
                                    </div>
                                </div>
            
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Net Amount per unit</label>
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="INVOICEMODALDATALINK.NETAMOUNTPERUNIT" readonly> 
                                    </div>
                                </div>
            
                            </div>
                        </div>
                
            
                        <div class="modal-footer ">
                            <button class="common-button second-button"data-dismiss="modal" ng-click="">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tariffDetailsModal" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" data-ng-click="">×</button>
                            <h4 class="modal-title">{{CATEGORYLEVEL1OFMODAL}} Tariff Details</h4>
                        </div>
            
                        <div class="modal-body style-4">
                            <div class="row">
                            
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Tariff</label>    
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="TARIFFMODALDATALINK.TARIFF" readonly> 
                                    </div>
                                </div>
                                
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Tariff Discount(%)</label>
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="TARIFFMODALDATALINK.TARIFFDISCOUNT" readonly> 
                                    </div>
                                </div>
            
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Multi-package Discount(%)</label>
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="TARIFFMODALDATALINK.MULTIPACKAGEDISCOUNT" readonly> 
                                    </div>
                                </div>
            
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Tariff After Discount</label>
                                        <input type="text"  
                                        class="form-control input-normal"  data-ng-model="TARIFFMODALDATALINK.TARIFFAFTERDISCOUNT" readonly> 
                                    </div>
                                </div>
            
                            </div>
                            <div class="row">
                            
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Inclusions</label>    
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="TARIFFMODALDATALINK.INCLUSIONS" readonly> 
                                    </div>
                                </div>
                                
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Exclusions</label>
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="TARIFFMODALDATALINK.EXCLUSIONS" readonly> 
                                    </div>
                                </div>
            
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Admissible Amount per Unit</label>
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="TARIFFMODALDATALINK.ADMISSIBLEAMOUNTPERUNIT" readonly> 
                                    </div>
                                </div>
            
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Total Admissible Amount</label>
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="TARIFFMODALDATALINK.TOTALADMISSIBLEAMOUNT" readonly> 
                                    </div>
                                </div>
            
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Disallowance due to Tariff</label>    
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="TARIFFMODALDATALINK.DISALLOWANCEDUETOTARIFF" readonly> 
                                    </div>
                                </div>
                            </div>
                        </div>
                
            
                        <div class="modal-footer ">
                            <button class="common-button second-button"data-dismiss="modal" ng-click="">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="manualDisallowancesModal" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" data-ng-click="">×</button>
                            <h4 class="modal-title">{{CATEGORYLEVEL1OFMODAL}} Manual Disallowances</h4>
                        </div>
            
                        <div class="modal-body style-4">
                            <div class="row">
                            
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label>Units Disallowed</label>    
                                        <input type="number"
                                        class="form-control input-normal"  data-ng-model="MANUALDISDATALINK.UNITSDISALLOWED"> 
                                    </div>
                                </div>
                                
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label ng-required="MANUALDISDATALINK.UNITSDISALLOWED">Units Disallowed Reason</label>
                                        <input type="textarea"
                                        class="form-control input-normal"  data-ng-model="MANUALDISDATALINK.UNITSDISALLOWEDREASON" ng-required="MANUALDISDATALINK.UNITSDISALLOWED"> 
                                    </div>
                                </div>
            
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label>Amount disallowed due to units disallowed</label>
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="MANUALDISDATALINK.AMOUNTDISALLOWEDDUETOUNITSDISALLOWED" readonly> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            
                                <div class="table-responsive col-lg-12 scrollbar force-overflow" id="style-4">
                                    <table class="table table-bordered table-striped custom-table" style="margin-bottom:0px;">
                                        <thead class="custom-table-header">
                                            <tr>
                                                <td>
                                                    S.No.
                                                </td>
                                                <td>
                                                    Manual Disallowances
                                                </td>
                                                <td style="width: 500px;">
                                                    Manual Disallowances Reason
                                                </td>  
                                                <td>
                                                    Delete Row
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in MANUALDISDATALINK.ROWS">
                                                <td>{{$index+1}}</td>
                                                <td style="width:200px;">
                                                    <input type="number"
                                                    class="form-control input-normal"  data-ng-model="MANUALDISDATALINK.ROWS[$index].MANUALDISALLOWANCES"> 
                                                </td>
                                                <td >
                                                    <input type="text"
                                                    class="form-control input-normal"  data-ng-model="MANUALDISDATALINK.ROWS[$index].MANUALDISALLOWANCESREASON">          
                                                </td>
                                                <td>
                                                    <span class="glyphicon glyphicon-remove-sign" ng-click="callBillingFunction('deleteRowFromManualDisallowance',$index)" style="font-size:20px; margin-left:6px;"></span>                                                               
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
            
                            </div>
                            <div class="row" >                
                                <button class="common-button first-button" ng-click="callBillingFunction('addRowToManualDisallowance')" style="margin:15px">
                                    Add Row</button>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Total Manual Disallowances</label>    
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="MANUALDISDATALINK.TOTALMANUALDISALLOWANCES" readonly> 
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Amount after Manual Disallowances</label>    
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="MANUALDISDATALINK.AMOUNTAFTERMANUALDISALLOWANCES" readonly> 
                                    </div>
                                </div>
                            </div>
                        </div>
                
            
                        <div class="modal-footer ">
                            <button class="common-button second-button"data-dismiss="modal" ng-click="callBillingFunction('copyManualDisallowanceData','',CATEGORYLEVEL1OFMODAL);">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="proportionateDeductionModal" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" data-ng-click="">×</button>
                            <h4 class="modal-title">{{CATEGORYLEVEL1OFMODAL}} Proportionate Deduction</h4>
                        </div>
            
                        <div class="modal-body style-4">
                            <div class="row">
                            
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label>Proportionate Ratio</label>    
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="PROPORTIONATEDEDUCTIONDATALINK.PROPORTIONATERATIO" readonly> 
                                    </div>
                                </div>
                                
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label>Proportionate Amount</label>
                                        <input type="textarea"
                                        class="form-control input-normal"  data-ng-model="PROPORTIONATEDEDUCTIONDATALINK.PROPORTIONATEAMOUNT" readonly> 
                                    </div>
                                </div>
            
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label>Deduction due to proportionate ratio</label>
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="PROPORTIONATEDEDUCTIONDATALINK.DEDUCTION" readonly> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label>No Proportionate</label>
                                            <div class="radio-custom-margin">
                                                <label class="radio-inline radioContainer">Yes
                                                    <input type="radio" value="true" data-ng-model="PROPORTIONATEDEDUCTIONDATALINK.NOPROPORTIONATE"><span class="radioCheck"></span>
                                                </label>
                                                <label class="radio-inline radioContainer">No
                                                    <input type="radio" value="false" data-ng-model="PROPORTIONATEDEDUCTIONDATALINK.NOPROPORTIONATE" checked><span class="radioCheck"></span>
                                                </label>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                
            
                        <div class="modal-footer ">
                            <button class="common-button second-button"data-dismiss="modal" ng-click="">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="perUnitPolicyLimitsModal" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" data-ng-click="">×</button>
                            <h4 class="modal-title">{{CATEGORYLEVEL1OFMODAL}} Per unit policy limits</h4>
                        </div>
            
                        <div class="modal-body style-4">
                            <div class="row">
                            
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label>Amount before policy limits</label>    
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="PERUNITPOLICYLIMITDATALINK.AMOUNT" readonly> 
                                    </div>
                                </div>
                                
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label>Per Unit Amount before policy limits</label>
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="PERUNITPOLICYLIMITDATALINK.PERUNITAMOUNT" readonly> 
                                    </div>
                                </div>
            
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label>Per unit policy limit</label>
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="PERUNITPOLICYLIMITDATALINK.PERUNITLIMIT" readonly> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label>Deduction Per unit</label>
                                        <div class="radio-custom-margin">
                                            <label class="radio-inline radioContainer">Yes
                                                <input type="radio" value="true" data-ng-model="PERUNITPOLICYLIMITDATALINK.DEDUCTIONPERUNIT"><span class="radioCheck"></span>
                                            </label>
                                            <label class="radio-inline radioContainer">No
                                                <input type="radio" value="false" data-ng-model="PERUNITPOLICYLIMITDATALINK.DEDUCTIONPERUNIT" checked><span class="radioCheck"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label>Total deduction due to per unit policy limit</label>    
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="PERUNITPOLICYLIMITDATALINK.TOTALDEDUCTION" readonly> 
                                    </div>
                                </div>
                                
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label>Calculated Amount</label>
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="PERUNITPOLICYLIMITDATALINK.CALCULATEDAMOUNT" readonly> 
                                    </div>
                                </div>
                            </div>
                        </div>
                
            
                        <div class="modal-footer ">
                            <button class="common-button second-button"data-dismiss="modal" ng-click="">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="coPayModal" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" data-ng-click="">×</button>
                            <h4 class="modal-title">{{CATEGORYLEVEL1OFMODAL}} Co-Pay</h4>
                        </div>
            
                        <div class="modal-body style-4">
                            <div class="row">
                            
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label>Co-Pay</label>    
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="COPAYDATALINK.COPAY" readonly> 
                                    </div>
                                </div>
                                
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label>Disallowance due to co-pay</label>
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="COPAYDATALINK.DISALLOWANCE" readonly> 
                                    </div>
                                </div>
            
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label>Amount after Co-Pay</label>
                                        <input type="text"
                                        class="form-control input-normal"  data-ng-model="COPAYDATALINK.AMOUNTAFTERCOPAY" readonly> 
                                    </div>
                                </div>
                            </div>
            
                        </div>
                
            
                        <div class="modal-footer ">
                            <button class="common-button second-button"data-dismiss="modal" ng-click="">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="overrideModal" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" data-ng-click="">×</button>
                            <h4 class="modal-title">{{CATEGORYLEVEL1OFMODAL}} Override</h4>
                        </div>
            
                        <div class="modal-body style-4">
                            <div class="row">
                            
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label required>Override Reason</label>    
                                        <input type="textarea"
                                        class="form-control input-normal"  data-ng-model="OVERRIDEDATALINK.OVERRIDEREASON" required> 
                                    </div>
                                </div>
                            </div>
                        </div>
                
            
                        <div class="modal-footer ">
                            <button class="common-button second-button" data-dismiss="modal" ng-click="">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


</div>


<script>

    //date time picker for date of admission
    $('.datetimepickeradmitdate').datetimepicker({
        useCurrent: false,
        format: 'DD-MM-YYYY',
        maxDate: new Date(),  

    });
    $('.datetimepickeradmitdate-addon').on('click', function () {
        $(this).prev('input.datetimepickeradmitdate').data('DateTimePicker').toggle();
    });

    //date time picker for dischargedate
    $('.dischargedate').datetimepicker({
        useCurrent: false,
        format: 'DD-MM-YYYY',
        maxDate: new Date(),
    });
    $('.dischargedate-addon').on('click', function () {
        $(this).prev('input.dischargedate').data('DateTimePicker').toggle();
    });

        //date time picker for diseasefirstdetecteddate
    $('.diseasefirstdetecteddate').datetimepicker({
        useCurrent: false,
        format: 'DD-MM-YYYY',
        maxDate: new Date(),
    });
    $('.diseasefirstdetecteddate-addon').on('click', function () {
        $(this).prev('input.diseasefirstdetecteddate').data('DateTimePicker').toggle();
    });

    //date time picker for injurydate
    $('.injurydate').datetimepicker({
        useCurrent: false,
        format: 'DD-MM-YYYY',
        maxDate: new Date(),
    });
    $('.injurydate-addon').on('click', function () {
        $(this).prev('input.injurydate').data('DateTimePicker').toggle();
    });

    //date time picker for deliverydate
    $('.deliverydate').datetimepicker({
        useCurrent: false,
        format: 'DD-MM-YYYY',
        maxDate: new Date(),
    });
    $('.deliverydate-addon').on('click', function () {
        $(this).prev('input.deliverydate').data('DateTimePicker').toggle();
    });

    $('.panel').on('show.bs.collapse', function () {
        $('.collapse').collapse('hide');
    });

    $("#dropSearchButton").click(function () {
        $(this)
            .parents(".dropdown")
            .find("button.dropdown-toggle")
            .dropdown("toggle");
    });

</script>