<div id="cover">
    <div class="loader">
    </div>
</div>

<div ng-cloak>

    <div ng-show="alertModal" class="alert" style="display : block" role="alert"
        ng-class="{success:success,error:error,warning:warning}">
        <span class="pull-right" ng-click="alertModal=false;error=false;success=false;warning=false;">
            <span>&nbsp;&times;</span>
        </span>
        <strong>{{errCode}}</strong> {{errDesc}}
        <br>
        <a ng-show="alertModalError" data-toggle="collapse" data-target="#demo">
            <strong>
                <u>Error Details</u>
            </strong>
        </a>
        <div ng-show="alertModalError" id="demo" class="collapse">
            <textarea style="width: 100%;" readonly rows="5" cols="50">{{errDtls}}</textarea>
        </div>
    </div>


    <div class="container-fluid style-4 slight-margin-top" style="margin-top:25px;">
        <form name="form.InvoiceDetails" id="InvoiceDetailsForm">
            <div class="container-fluid">
                    <div class="col-sm-3 col-md-3 col-xs-3" style="margin-bottom:10px;">
                
                    </div>
                
                    <div class="col-sm-6 col-md-6 col-xs-6" style="margin-bottom:10px;">
                        <div class="text-center radio-custom-margin">
                            <button class="common-button second-button" ng-click="addInvoice=true;">
                                Add Invoice</button>
                                <button class="common-button second-button" ng-click="addInvoice=false;getinvoiceList(1);">
                                View Invoices</button>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-xs-3" style="margin-bottom:10px;" ng-show="addInvoice" ng-class="{'disablediv':viewInvoiceOnly}">
                        <div class="row">
                            <div class="form-group pull-right" style="margin-bottom:1px;">
                                    <table style="border: 1px solid black;">
                                        <thead>
                                            <tr>
                                                <td style="border: 1px solid black;padding: 5px 10px 5px 10px;">CURRENCY</td>
                                                <td style="padding: 5px 10px 5px 10px;">{{invoiceTabData.CURRENCY}}</td>
                                            </tr>
                                        </thead>
                                    </table>
                            </div>
                        </div>
                        <div class="row">
                        <div class="form-group pull-right">
                                <button class="common-button second-button" ng-click="openCurrencyModal()">
                                    Change Currency</button>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="container-fluid custom-margin-top">
                
                <!--add invoice div-->
                
                <div class="col-sm-12 col-md-12 col-xs-12" ng-show="addInvoice" ng-class="{'disablediv':viewInvoiceOnly}">

                    <div class="panel-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            
                            <div class="panel panel-default">
                                <div class="panel-heading" id="invoiceDetailsHeader">
                                    <div class="panel-title" style="color:#0073BB;">
                                        <b>Invoice Details</b></div>
                                </div>
                
                                <div id="invoiceDetails">
                                    <div class="panel-body">
                                        <div class="row">
                
                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="invoiceNumber" required>Invoice Number</label>                        
                                                        <input type="text" name="invoiceNumber"
                                                            class="form-control input-normal"
                                                            title="{{invoiceTabData.INVOICENUMBER}}"
                                                            ng-model="invoiceTabData.INVOICENUMBER"
                                                            for-alpha-numeric 
                                                            maxlength="15"
                                                            ng-class="{submitted:((form.InvoiceDetails.submitted && form.InvoiceDetails.invoiceNumber.$invalid) || (form.InvoiceDetails.invoiceNumber.$touched && form.InvoiceDetails.invoiceNumber.$invalid))}"
                                                            placeholder="eg: 123456"/ required>
                                                            <p class="text-error" ng-show="(form.InvoiceDetails.submitted && form.InvoiceDetails.invoiceNumber.$invalid) || (form.InvoiceDetails.invoiceNumber.$touched && form.InvoiceDetails.invoiceNumber.$invalid)"><span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid value</p>
                                                        
                                                </div>
                                            </div>
                                            
                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="invoiceDate" required>Invoice Date</label>
                                                    <div class="input-group date">
                                                        <input name="invoiceDate"
                                                            class="form-control input-normal deliverydate"          
                                                            ng-class="{submitted:form.InvoiceDetails.submitted}"
                                                            title="{{invoiceTabData.INVOICEDATE}}"
                                                            ng-model="invoiceTabData.INVOICEDATE"
                                                            date-picker
                                                            placeholder="eg: 01-01-2018" maxlength="10" size="100%" 
                                                             required/>
                                                        <span class="input-group-addon deliverydate-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                        
                                                    </div>
                                                    <p class="text-error" ng-show="(form.InvoiceDetails.submitted && form.InvoiceDetails.invoiceDate.$invalid) || (form.InvoiceDetails.invoiceDate.$touched && form.InvoiceDetails.invoiceDate.$invalid)"><span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid value</p>
                                                </div>
                                            </div>
                
                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="pincode" required>Pincode</label>
                                                    <input type="text" name="pincode"
                                                            class="form-control input-normal"
                                                            title="{{invoiceTabData.PINCODE}}"
                                                            ng-model="invoiceTabData.PINCODE"
                                                            ng-class="{submitted:form.InvoiceDetails.submitted}"
                                                            placeholder="eg: 123456"
                                                            ng-pattern="/^\d{6}$/"
                                                            for-digit maxlength="6" required />
                                                            <p class="text-error" ng-show="(form.InvoiceDetails.submitted && form.InvoiceDetails.pincode.$invalid) || (form.InvoiceDetails.pincode.$touched && form.InvoiceDetails.pincode.$invalid)"><span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid value</p>
                                                </div>
                                            </div>
                
                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="partyName" required>Party Name</label>
                                                    <input type="text" name="partyName"
                                                    class="form-control input-normal"
                                                    for-alpha-numeric 
                                                    maxlength="15"
                                                    title="{{invoiceTabData.PARTYNAME}}"
                                                    ng-model="invoiceTabData.PARTYNAME"
                                                    ng-blur="callProviderTariffDetails()"
                                                    ng-class="{submitted:form.InvoiceDetails.submitted,disablediv:invoiceTabData.HEALTHINVOICEID}"
                                                    placeholder="eg: party name"
                                                    ng-readonly="invoiceTabData.PARTYISHOSPITAL=='true'"
                                                    required>
                                                    <p class="text-error" ng-show="(form.InvoiceDetails.submitted && form.InvoiceDetails.partyName.$invalid) || (form.InvoiceDetails.partyName.$touched && form.InvoiceDetails.partyName.$invalid)"><span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid value</p>
                                                </div>
                                            </div>
                
                                        </div>
                
                                        <div class="row">
                                            <div class="col-sm-6 col-md-3" ng-class="{'disablediv':invoiceTabData.HEALTHINVOICEID}">
                                                <div class="form-group">
                                                    <label for="partyIsHospital" > Party is Hospital?
                                                        </label>
                                                
                                                        <div class="radio-custom-margin">
                                                            <label class="radio-inline radioContainer">
                                                                Yes
                                                                <input type="radio" name="partyIsHospital" ng-model="invoiceTabData.PARTYISHOSPITAL" value="true">
                                                                <span class="radioCheck"></span>
                                                            </label>
                                                            <label class="radio-inline radioContainer">
                                                                No
                                                                <input type="radio" name="partyIsHospital" ng-model="invoiceTabData.PARTYISHOSPITAL" value="false" checked>
                                                                <span class="radioCheck"></span>
                                                            </label>
                                                            <p class="text-error" ng-show="(form.InvoiceDetails.submitted && form.InvoiceDetails.partyIsHospital.$invalid) || (form.InvoiceDetails.partyIsHospital.$touched && form.InvoiceDetails.partyIsHospital.$invalid)">
                                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                                Enter Valid Value
                                                            </p>
                                                
                                                        </div>
                                                </div>
                                            </div>        
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                
                            <div class="panel panel-default">
                                <div class="panel-heading" id="servcieDetailsHeader"
                                    data-target="#servcieDetails">
                                    <div class="panel-title" style="color:#0073BB;">
                                        <b>Service Details</b></div>
                                </div>
                
                                <div id="invoiceDetails">
                                    <div class="panel-body">
                                        <div class="row" >
                                            <div id="invoiceServiceDetailsTable">
                                                <div class="table-responsive col-lg-12 scrollbar force-overflow" id="style-4">
                                                    <table class="table table-bordered table-striped custom-table" style="margin-bottom:0px;">
                                                        <thead class="custom-table-header">
                                                            <tr>
                                                                <td>
                                                                    S.No.
                                                                </td>
                                                                <td required>
                                                                    Item description
                                                                </td>
                                                                <td required>
                                                                    Category (Level 4)
                                                                </td>
                                                                <td>
                                                                    Category (Level 1)
                                                                </td>
                                                                <td>
                                                                    Room Type
                                                                </td>
                                                                <td>
                                                                    Units
                                                                </td>
                                                                <td>
                                                                    Gross Amount
                                                                </td>
                                                                <td>
                                                                    Discount as per invoice(%)
                                                                </td>
                                                                <td>
                                                                    Net Amount
                                                                </td>
                                                                <td>
                                                                    Net Amount per unit
                                                                </td>
                                                                <td>
                                                                    Delete Row
                                                                </td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="x in invoiceTabData.SERVICEDETAILROW">
                                                                <td>{{(currentPosition-1)*10 + $index+1 }}</td>
                                                                <td ng-show="!invoiceTabData.ISTARIFFCONFIGURED" style="width:200px;">
                                                                    <input type="text" name="itemDescription[$index]"
                                                                    for-alpha-numeric 
                                                                    maxlength="15"
                                                                    class="form-control input-normal"  data-ng-model="invoiceTabData.SERVICEDETAILROW[$index].ITEMDESCRIPTION"
                                                                    ng-class="{submitted:form.InvoiceDetails.submitted}"
                                                                    required>
                                                                </td>
                                                                <td ng-show="invoiceTabData.ISTARIFFCONFIGURED" style="width:200px;">
                                                                    <select name="itemDescription[$index]" class="form-control input-normal less-border" ng-dropdown ng-options="option for option in itemDescOptions" title="{{invoiceTabData.SERVICEDETAILROW[$index].ITEMDESCRIPTION}}" data-ng-model="invoiceTabData.SERVICEDETAILROW[$index].ITEMDESCRIPTION"
                                                                    ng-blur="mapCategories($index)"
                                                                        ng-class="{submitted:form.InvoiceDetails.submitted}" required></select>                                           
                                                                </td>
                                                                <td style="width:200px;">
                                                                    <select name="categoryLevel4[$index]" class="form-control input-normal less-border" ng-dropdown ng-options="option for option in categoryLevel4Options"
                                                                        id="categoryLevel4[$index]" title="{{invoiceTabData.SERVICEDETAILROW[$index].CATEGORYLEVEL4}}" data-ng-model="invoiceTabData.SERVICEDETAILROW[$index].CATEGORYLEVEL4"
                                                                        ng-blur="mapCategory1($index)"
                                                                        ng-class="{submitted:form.InvoiceDetails.submitted}"
                                                                        ng-disabled="invoiceTabData.ISTARIFFCONFIGURED"
                                                                        ng-required="!invoiceTabData.ISTARIFFCONFIGURED"></select>
                                                                </td>
                                                                <td style="width:200px;">
                                                                    <input type="text " name="categoryLevel1[$index]" class="form-control input-normal"  data-ng-model="invoiceTabData.SERVICEDETAILROW[$index].CATEGORYLEVEL1" readonly>
                                                                </td>
                                                                <td ng-show="!invoiceTabData.ISTARIFFCONFIGURED" style="width:150px;">
                                                                    <input type="text " name="roomType[$index]" class="form-control input-normal"
                                                                    for-alpha-numeric 
                                                                    maxlength="15"  
                                                                    ng-class="{submitted:form.InvoiceDetails.submitted}" data-ng-model="invoiceTabData.SERVICEDETAILROW[$index].ROOMTYPE">
                                                                </td>
                                                                <td ng-show="invoiceTabData.ISTARIFFCONFIGURED" style="width:150px;">
                                                                    <select name="roomType[$index]" class="form-control input-normal less-border" ng-dropdown ng-options="option for option in roomTypeOptions"
                                                                        id="roomType[$index]" title="{{invoiceTabData.SERVICEDETAILROW[$index].ROOMTYPE}}" data-ng-model="invoiceTabData.SERVICEDETAILROW[$index].ROOMTYPE"
                                                                        ng-class="{submitted:form.InvoiceDetails.submitted}" ng-required="invoiceTabData.ISTARIFFCONFIGURED"></select>
                                                                </td>
                                                                <td>
                                                                    <input type="text " name="unit[$index]" class="form-control input-normal"  data-ng-model="invoiceTabData.SERVICEDETAILROW[$index].UNIT" 
                                                                    ng-blur="calculateNetAmount($index)"
                                                                    ng-class="{submitted:form.InvoiceDetails.submitted}" 
                                                                    for-digit
                                                                    maxlength="5"
                                                                    required>
                                                                </td>
                                                                <td>
                                                                        <input type="number" name="grossAmount[$index]" class="form-control input-normal"  data-ng-model="invoiceTabData.SERVICEDETAILROW[$index].GROSSAMOUNT" 
                                                                        ng-class="{submitted:form.InvoiceDetails.submitted}" 
                                                                        ng-blur="calculateNetAmount($index)"
                                                                        maxlength="10" min="0" step="0.01" required>
                                                                    </td>
                                                                <td>
                                                                        <input type="number" name="discountAsPerInvoice[$index]" class="form-control input-normal"  data-ng-model="invoiceTabData.SERVICEDETAILROW[$index].DISCOUNTASPERINVOICE" 
                                                                        ng-class="{submitted:form.InvoiceDetails.submitted}" ng-blur="calculateNetAmount($index)" max="100" min="0" step="0.01">
                                                                        </td>
                                                                <td>
                                                                    <input type="text " maxlength="20" name="netAmount[$index]" class="form-control input-normal"  data-ng-model="invoiceTabData.SERVICEDETAILROW[$index].NETAMOUNT" readonly>
                                                                    
                                                                </td>
                                                                <td>
                                                                    <input type="text " maxlength="15" name="netAmountPerUnit[$index]" class="form-control input-normal"  data-ng-model="invoiceTabData.SERVICEDETAILROW[$index].NETAMOUNTPERUNIT" readonly>
                                                                </td>
                                                                <td>
                                                                    <span class="glyphicon glyphicon-remove-sign" ng-click="deleteRowFromServiceDetails($index)" style="font-size:20px; margin-left:6px;"></span>
                                                                </td>
                        
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                        
                                        <div class="row" >
                                        
                                            <button class="common-button first-button" ng-click="addRowToServiceDetails()" style="margin:15px">
                                                Add Service</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" id="totalDetailsHeader"
                                    data-target="#totalDetails">
                                    <div class="panel-title" style="color:#0073BB;">
                                        <b>Total</b></div>
                                </div>
                
                                <div id="totalDetails">
                                    <div class="panel-body">
                                        <div style="margin-left:20px;margin-bottom:5px;">
                                            <b>Total Gross Amount: {{invoiceTabData.TOTALGROSSAMOUNT}}</b>
                                        </div>
                                        <div style="margin-left:20px;margin-bottom:10px;">
                                            <b>Total Net Amount: {{invoiceTabData.TOTALNETAMOUNT}}</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                <!--end of add invoice div-->
                <!--view invoice div-->
                <div class="col-sm-12 col-md-12 col-xs-12" ng-show="!addInvoice">

                    <div class="panel-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            
                            <div class="panel panel-default">
                                <div class="panel-heading" id="viewInvoiceDetailsHeader">
                                    <div class="panel-title" style="color:#0073BB;">
                                        <b>Invoices</b></div>
                                </div>

                                <div id="viewInvoiceDetails">
                                    <div class="panel-body">
                                        <div class="table-responsive col-sm-12 scrollbar force-overflow style-4">
                                            <table class="table table-bordered table-striped custom-table">
                                                <thead class="custom-table-header">
                                                    <tr>                       
                                                        <th>S.No.</th>
                                                        <th>INVOICE NUMBER</th>
                                                        <th>INVOICE DATE</th>
                                                        <th>PINCODE</th>
                                                        <th>PARTY NAME</th>
                                                        <th>TOTAL GROSS AMOUNT</th>
                                                        <th>TOTAL NET AMOUNT</th>  
                                                        <th>Select Row</th>              
                                                    </tr>
                    
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in viewInvoiceList">
                                                        
                                                        <td>{{(currentPosition-1)*pageSize + $index + 1}}</td>
                                                        <td>{{item.INVOICENUMBER}}</td>
                                                        <td>{{item.INVOICEDATE | date : 'dd-MM-yyyy'}}</td>
                                                        <td>{{item.PINCODE}}</td>
                                                        <td>{{item.PARTYNAME}}</td>
                                                        <td>{{item.TOTALGROSSAMOUNT}}</td>
                                                        <td>{{item.TOTALNETAMOUNT}}</td>
                                                        <td><input type="checkbox" name="viewInvoiceCheckbox[$index]" data-ng-model="VIEWINVOICECHECKBOX[$index].VALUE"></td>
                                                    </tr>
                                                    <tr ng-show="viewInvoiceTableData">
                                                        <td class="input-empty">No results Found !!</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                    
                                        </div>
                                        <!-- navigation panel start for invoices -->
                                        <div class="col-sm-12">
                                            <div class="pull-left " ng-show="viewInvoiceList.length>0">
                                                <label></label>
                    
                                                <span class="">
                                                    <b>Showing {{(viewInvoiceCurrentPosition-1) * pageSize + 1}} - {{(viewInvoiceCurrentPosition-1)
                                                        * pageSize + pageSize
                                                        < viewInvoiceResultCount ? (viewInvoiceCurrentPosition-1) * pageSize + pageSize :viewInvoiceResultCount}} of {{viewInvoiceResultCount}}
                                                            records</b>
                                                </span>
                                            </div>
                                            <div class="pull-right" ng-show="totalviewInvoicePages > 0">
                                                <div class="shift-right">
                                                    <a href="#" ng-click="getinvoiceList(totalviewInvoicePages)" ng-class="{'not-active' : viewInvoiceCurrentPosition == totalviewInvoicePages}">
                                                        <span class="glyphicon glyphicon-forward"></span>
                                                    </a>
                                                </div>
                    
                                                <div class="shift-right">
                                                    <a href="#" ng-click="getinvoiceList(viewInvoiceCurrentPosition+1)" ng-class="{'not-active' : viewInvoiceCurrentPosition == totalviewInvoicePages}">
                                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                                    </a>
                                                </div>
                                                <div class="shift-right" ng-hide="viewInvoiceCurrentPosition + 1 >=totalviewInvoicePages || totalviewInvoicePages <=3">
                                                    <span>... </span>
                                                    <a href="#" ng-click="getinvoiceList(totalviewInvoicePages)" ng-class="{'not-active' : viewInvoiceCurrentPosition == totalviewInvoicePages}">
                                                        <span>{{totalviewInvoicePages}}</span>
                                                    </a>
                                                </div>
                    
                                                <div class="shift-right" ng-hide="viewInvoiceNextPage == 0" ng-class="{'pag-active' : totalviewInvoicePages == viewInvoiceCurrentPosition}">
                                                    <a href="#" ng-click="getinvoiceList(viewInvoiceNextPage)">
                                                        <span>{{viewInvoiceNextPage}}</span>
                                                    </a>
                                                </div>
                    
                                                <div class="shift-right" ng-class="{'pag-active' : !((totalviewInvoicePages == viewInvoiceCurrentPosition && viewInvoiceCurrentPosition != 2) ||(viewInvoiceCurrentPosition == 1 && totalviewInvoicePages > 2))}">
                                                    <a href="#" ng-click="getinvoiceList(viewInvoiceMiddlePage)">
                                                        <span>{{viewInvoiceMiddlePage}}</span>
                                                    </a>
                                                </div>
                    
                                                <div class="shift-right" ng-hide="viewInvoicePreviousPage == 0" ng-class="{'pag-active' : viewInvoiceCurrentPosition == 1}">
                                                    <a href="#" ng-click="getinvoiceList(viewInvoicePreviousPage)">
                                                        <span>{{viewInvoicePreviousPage}}</span>
                                                    </a>
                    
                                                </div>
                                                <div class="shift-right" ng-show="viewInvoiceCurrentPosition > 2 && totalviewInvoicePages > 3">
                    
                                                    <a href="#" ng-click="getinvoiceList(1)">
                                                        <span>1</span>
                                                    </a>
                                                    <span> ...</span>
                                                </div>
                    
                                                <div class="shift-right">
                                                    <a href="#" ng-click="getinvoiceList(viewInvoiceCurrentPosition-1)" ng-class="{'not-active' : viewInvoiceCurrentPosition == 1}">
                                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                                    </a>
                                                </div>
                    
                                                <div class="shift-right">
                                                    <a href="#" ng-click="getinvoiceList(1)" ng-class="{'not-active' : viewInvoiceCurrentPosition == 1}">
                                                        <span class="glyphicon glyphicon-backward"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end of navigation panel for invoices -->
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!--end of view invoice div-->
                <!--button row for add invoice div-->
                
                <div class="col-sm-12 col-md-12 col-xs-12" ng-show="addInvoice" ng-class="{'disablediv':viewInvoiceOnly}">
                    <div class="slight-margin-top slight-right-margin pull-right">
                        <div class="row clt">
                            <div class="left-right-margin">
                                <button type="button" class="common-button second-button" ng-click="saveInvoiceDetails('prev')">Previous</button>
                                <button type="button" class="common-button" ng-click="">Cancel</button>
                                <button type="button" class="common-button" ng-click="resetInvoiceDetails()">Clear</button>
                                <button type="button" class="common-button first-button" ng-click="saveInvoiceDetails()">Save</button>
                                <button type="button" class="common-button second-button" ng-click="saveInvoiceDetails('next');">Next</button>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--end of button row for add invoice div-->
                <!--button row for view invoice div-->
                <div class="col-sm-12 col-md-12 col-xs-12" ng-show="!addInvoice">
                        <div class="slight-margin-top slight-right-margin pull-right">
                            <div class="row clt">
                                <div class="left-right-margin">
                                    <button type="button" class="common-button" ng-click="editinvoice();addInvoice=true;">Edit Invoice</button>
                                    <button type="button" class="common-button" ng-click="viewinvoice();addInvoice=true;">View Invoice</button>
                                    <button type="button" class="common-button" ng-click="deleteInvoice()">Delete Invoice</button>
                                    <button type="button" class="common-button" ng-click="addInvoice=true">Return</button>
                                </div>
                            </div>
                        </div>
                </div>
                <!--end of button row for view invoice div-->
                
            </div>

            <div id="currencyModal" class="modal fade" tabindex="-1">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" ng-click="validateCurrency()">×</button>
                                <h4 class="modal-title">Currency</h4>
                            </div>
                
                            <div class="modal-body style-4">
                                    <form name="currencyForm">
                                    <div class="row">
                            
                                            <div class="col-sm-3 col-md-3">
                                                <div class="form-group">
                                                    <label for="currency" required>Currency</label>                        
                                                            <select name="currency" class="form-control input-normal less-border" ng-dropdown ng-options="option for option in currencyOptions" title="{{invoiceTabData.CURRENCY}}" data-ng-model="invoiceTabData.CURRENCY"
                                                            ng-class="{submitted:currencyForm.submitted}" required></select>
                                                </div>
                                            </div>
                                            
                                            <div class="col-sm-3 col-md-3">
                                                <div class="form-group">
                                                    <label for="exchangeRate" required>Exchange Rate</label>
                                                    <input type="number" name="exchangeRate" maxlength="5" class="form-control input-normal"  ng-class="{submitted:currencyForm.submitted}" data-ng-model="invoiceTabData.EXCHANGERATE" min="1" step="0.01" required>
                                                </div>
                                            </div>
                                    </div>
                                    </form>
                            </div>
                  
                
                            <div class="modal-footer ">
                                    <button class="common-button second-button" ng-click="validateCurrency()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>


</div>

<script>

    //date time picker for date of admission
    $('.datetimepickeradmitdate').datetimepicker({
        useCurrent: false,
        format: 'DD-MM-YYYY',
        maxDate: new Date(),  

    });
    $('.datetimepickeradmitdate-addon').on('click', function () {
        $(this).prev('input.datetimepickeradmitdate').data('DateTimePicker').toggle();
    });

    //date time picker for dischargedate
    $('.dischargedate').datetimepicker({
        useCurrent: false,
        format: 'DD-MM-YYYY',
        maxDate: new Date(),
    });
    $('.dischargedate-addon').on('click', function () {
        $(this).prev('input.dischargedate').data('DateTimePicker').toggle();
    });

        //date time picker for diseasefirstdetecteddate
    $('.diseasefirstdetecteddate').datetimepicker({
        useCurrent: false,
        format: 'DD-MM-YYYY',
        maxDate: new Date(),
    });
    $('.diseasefirstdetecteddate-addon').on('click', function () {
        $(this).prev('input.diseasefirstdetecteddate').data('DateTimePicker').toggle();
    });

    //date time picker for injurydate
    $('.injurydate').datetimepicker({
        useCurrent: false,
        format: 'DD-MM-YYYY',
        maxDate: new Date(),
    });
    $('.injurydate-addon').on('click', function () {
        $(this).prev('input.injurydate').data('DateTimePicker').toggle();
    });

    //date time picker for deliverydate
    $('.deliverydate').datetimepicker({
        useCurrent: false,
        format: 'DD-MM-YYYY',
        maxDate: new Date(),
    });
    $('.deliverydate-addon').on('click', function () {
        $(this).prev('input.deliverydate').data('DateTimePicker').toggle();
    });

    $('.panel').on('show.bs.collapse', function () {
        $('.collapse').collapse('hide');
    });

    $("#dropSearchButton").click(function () {
        $(this)
            .parents(".dropdown")
            .find("button.dropdown-toggle")
            .dropdown("toggle");
    });

</script>