<fieldset ng-disabled="false">
    <div class="container-fluid">
        <div class="col-md-12 clt">
            <form name="form.ProviderDetailsForm" novalidate>
                <div class="col-md-12">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <b>Hospital Details</b>
                                </h4>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="provideName">Provider Name</label>
                                        <div class="input-group">
                                            <input type="text" name="provideName" for-alpha
                                                class="form-control input-normal" id="provideName"
                                                placeholder="Provider Name" ng-model="ProviderDetails.PROVIDERNAME"
                                                maxlength="200" ng-click="openProviderSearchModel('hospital')" readonly>
                                            <span class="input-group-addon"
                                                ng-click="openProviderSearchModel('hospital')">
                                                <span class="glyphicon glyphicon-search" style="color:#0073BB;"></span>
                                            </span>
                                            <!-- <p class="text-error"
                                                ng-show="(form.ProviderDetailsForm.submitted  || form.ProviderDetailsForm.provideName.$touched) && form.ProviderDetailsForm.provideName.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter valid
                                                Provider
                                                Name
                                            </p> -->
                                        </div>
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="provideAliasName">Provider Alias Name</label>
                                        <div>
                                            <input type="text" name="provideAliasName" for-alpha
                                                class="form-control input-normal" id="provideAliasName"
                                                placeholder="Provider Alias Name"
                                                ng-model="ProviderDetails.PROVIDERALIASNAME" maxlength="200" readonly>

                                            <p class="text-error"
                                                ng-show="(form.ProviderDetailsForm.submitted  || form.ProviderDetailsForm.provideAliasName.$touched) && form.ProviderDetailsForm.provideAliasName.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter valid
                                                Provider
                                                Alias Name
                                            </p>
                                        </div>
                                    </div>


                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="HospitalPrn" required>PRN</label>
                                        <div>
                                            <input type="text" name="HospitalPrn" for-alpha
                                                class="form-control input-normal" id="HospitalPrn"
                                                placeholder="Hospital PRN" ng-model="ProviderDetails.HOSPITALPRN"
                                                maxlength="20" required readonly>

                                            <p class="text-error"
                                                ng-show="(form.ProviderDetailsForm.submitted  || form.ProviderDetailsForm.HospitalPrn.$touched) && form.ProviderDetailsForm.HospitalPrn.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter valid PRN
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-4 col-md-3 envelope">
                                        <a data-toggle="modal" href="#providerAddressModal" data-backdrop="static">
                                            <span class="glyphicon glyphicon-envelope"></span> Address </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="providerType">Provider Type</label>
                                        <div>
                                            <input type="text" name="providerType" for-alpha
                                                class="form-control input-normal" id="providerType"
                                                placeholder="Provider Type" ng-model="ProviderDetails.PROVIDERTYPE"
                                                maxlength="20" readonly>

                                            <p class="text-error"
                                                ng-show="(form.ProviderDetailsForm.submitted  || form.ProviderDetailsForm.providerType.$touched) && form.ProviderDetailsForm.providerType.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter valid
                                                Provider
                                                Type
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="rohiniCode">ROHINI code</label>
                                        <div>
                                            <input type="text" name="rohiniCode" for-alpha
                                                class="form-control input-normal" id="rohiniCode"
                                                placeholder="ROHINI code" ng-model="ProviderDetails.ROHINICODE"
                                                maxlength="20" readonly>

                                            <p class="text-error"
                                                ng-show="(form.ProviderDetailsForm.submitted  || form.ProviderDetailsForm.rohiniCode.$touched) && form.ProviderDetailsForm.rohiniCode.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter valid
                                                ROHINI
                                                code
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="providerStatus">Provider Status</label>
                                        <div>
                                            <input type="text" name="providerStatus" for-alpha
                                                class="form-control input-normal" id="providerStatus"
                                                placeholder="Provider Status" ng-model="ProviderDetails.PROVIDERSTATUS"
                                                maxlength="10" readonly>

                                            <p class="text-error"
                                                ng-show="(form.ProviderDetailsForm.submitted  || form.ProviderDetailsForm.providerStatus.$touched) && form.ProviderDetailsForm.providerStatus.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter valid
                                                Provider
                                                Status
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="providerFlag">Provider Flags</label>
                                        <div>
                                            <input type="text" name="providerFlag" for-alpha
                                                class="form-control input-normal" id="providerFlag"
                                                placeholder="Provider Flags" ng-model="ProviderDetails.PROVIDERFLAG"
                                                maxlength="10" readonly>

                                            <p class="text-error"
                                                ng-show="(form.ProviderDetailsForm.submitted  || form.ProviderDetailsForm.providerFlag.$touched) && form.ProviderDetailsForm.providerFlag.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter valid
                                                Provider
                                                Flags
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="noOfBed">No. Of Beds</label>
                                        <div>
                                            <input type="text" name="noOfBed" for-alpha
                                                class="form-control input-normal" id="noOfBed" placeholder="No. Of Beds"
                                                ng-model="ProviderDetails.NOOFBED" maxlength="5" readonly>

                                            <p class="text-error"
                                                ng-show="(form.ProviderDetailsForm.submitted  || form.ProviderDetailsForm.noOfBed.$touched) && form.ProviderDetailsForm.noOfBed.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter valid No.
                                                Of
                                                Beds
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="registrationValidUpto">Registration valid upto</label>
                                        <div class="input-group date">
                                            <input type="text" name="registrationValidUpto" for-alpha
                                                class="form-control input-normal" id="registrationValidUpto"
                                                placeholder="Registration valid upto"
                                                ng-model="ProviderDetails.REGISTRATIONVALIDUPTO" maxlength="50" readonly>
                                                <span class="input-group-addon datetimepickerreporteddate-addon" readonly>
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            <p class="text-error"
                                                ng-show="(form.ProviderDetailsForm.submitted  || form.ProviderDetailsForm.registrationValidUpto.$touched) && form.ProviderDetailsForm.registrationValidUpto.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter valid
                                                Registration valid upto
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="telephoneNumber">Telephone Number</label>
                                        <div>
                                            <input type="text" name="telephoneNumber" for-alpha
                                                class="form-control input-normal" id="telephoneNumber"
                                                placeholder="Telephone Number"
                                                ng-model="ProviderDetails.TELEPHONENUMBER" maxlength="10" readonly>

                                            <p class="text-error"
                                                ng-show="(form.ProviderDetailsForm.submitted  || form.ProviderDetailsForm.telephoneNumber.$touched) && form.ProviderDetailsForm.telephoneNumber.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter valid
                                                Telephone
                                                Number
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="eMail">E-mail</label>
                                        <div>
                                            <input type="text" name="eMail" for-alpha class="form-control input-normal"
                                                id="eMail" placeholder="E-mail" ng-model="ProviderDetails.EMAIL"
                                                maxlength="200" readonly>

                                            <p class="text-error"
                                                ng-show="(form.ProviderDetailsForm.submitted  || form.ProviderDetailsForm.eMail.$touched) && form.ProviderDetailsForm.eMail.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter valid
                                                E-mail
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
                                <h4 class="panel-title">
                                    <b>Treating Doctor</b>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">

                                        <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                            <label for="doctorPrn">PRN</label>
                                            <div class="input-group">
                                                <input type="text" name="doctorPrn" for-alpha
                                                    class="form-control input-normal" id="doctorPrn"
                                                    placeholder="Doctor PRN"
                                                    ng-click="openProviderSearchModel('doctor')"
                                                    ng-model="ProviderDetails.DOCTORPRN" maxlength="10" readonly>
                                                <span class="input-group-addon"
                                                    ng-click="openProviderSearchModel('doctor')">
                                                    <span class="glyphicon glyphicon-search"
                                                        style="color:#0073BB;"></span>
                                                </span>
                                                <!-- <p class="text-error"
                                                    ng-show="(form.ProviderDetailsForm.submitted  || form.ProviderDetailsForm.doctorPrn.$touched) && form.ProviderDetailsForm.doctorPrn.$invalid">
                                                    <span
                                                        class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                    enter valid PRN
                                                </p> -->
                                            </div>
                                        </div>


                                        <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                            <label for="firstName">First Name</label>
                                            <div>
                                                <input type="text" name="firstName" for-alpha
                                                    class="form-control input-normal" id="firstName"
                                                    placeholder="First Name" ng-model="ProviderDetails.FIRSTNAME"
                                                    maxlength="200" readonly>

                                                <p class="text-error"
                                                    ng-show="(form.ProviderDetailsForm.submitted  || form.ProviderDetailsForm.firstName.$touched) && form.ProviderDetailsForm.firstName.$invalid">
                                                    <span
                                                        class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                    enter valid First Name
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                            <label for="middleName">Middle Name</label>
                                            <div>
                                                <input type="text" name="middleName" for-alpha
                                                    class="form-control input-normal" id="middleName"
                                                    placeholder="Middle Name" ng-model="ProviderDetails.MIDDLENAME"
                                                    maxlength="200" readonly>

                                                <p class="text-error"
                                                    ng-show="(form.ProviderDetailsForm.submitted  || form.ProviderDetailsForm.middleName.$touched) && form.ProviderDetailsForm.middleName.$invalid">
                                                    <span
                                                        class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                    enter valid Middle Name
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                            <label for="lastName">Last Name</label>
                                            <div>
                                                <input type="text" name="lastName" for-alpha
                                                    class="form-control input-normal" id="lastName"
                                                    placeholder="Last Name" ng-model="ProviderDetails.LASTNAME"
                                                    maxlength="200" readonly>

                                                <p class="text-error"
                                                    ng-show="(form.ProviderDetailsForm.submitted  || form.ProviderDetailsForm.lastName.$touched) && form.ProviderDetailsForm.lastName.$invalid">
                                                    <span
                                                        class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                    enter valid Last Name
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                            <label for="qualification">Qualification</label>
                                            <div>
                                                <input type="text" name="qualification" for-alpha
                                                    class="form-control input-normal" id="qualification"
                                                    placeholder="Qualification" ng-model="ProviderDetails.QUALIFICATION"
                                                    maxlength="100" readonly>

                                                <p class="text-error"
                                                    ng-show="(form.ProviderDetailsForm.submitted  || form.ProviderDetailsForm.qualification.$touched) && form.ProviderDetailsForm.qualification.$invalid">
                                                    <span
                                                        class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                    enter valid Qualification
                                                </p>
                                            </div>
                                        </div>


                                        <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                            <label for="registrationNumber">Registration Number</label>
                                            <div>
                                                <input type="text" name="registrationNumber" for-alpha
                                                    class="form-control input-normal" id="registrationNumber"
                                                    placeholder="Registration Number"
                                                    ng-model="ProviderDetails.REGISTRATIONNUMBER" maxlength="50" readonly>

                                                <p class="text-error"
                                                    ng-show="(form.ProviderDetailsForm.submitted  || form.ProviderDetailsForm.registrationNumber.$touched) && form.ProviderDetailsForm.registrationNumber.$invalid">
                                                    <span
                                                        class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                    enter valid Registration Number
                                                </p>
                                            </div>
                                        </div>


                                        <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                            <label for="registeredCouncil">Registered Council</label>
                                            <div>
                                                <input type="text" name="registeredCouncil" for-alpha
                                                    class="form-control input-normal" id="registeredCouncil"
                                                    placeholder="Registered Council"
                                                    ng-model="ProviderDetails.REGISTEREDCOUNCIL" maxlength="50" readonly>

                                                <p class="text-error"
                                                    ng-show="(form.ProviderDetailsForm.submitted  || form.ProviderDetailsForm.registeredCouncil.$touched) && form.ProviderDetailsForm.registeredCouncil.$invalid">
                                                    <span
                                                        class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                    enter valid Registered Council
                                                </p>
                                            </div>
                                        </div>


                                        <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                            <label for="phoneNumber">Phone number</label>
                                            <div>
                                                <input type="text" name="phoneNumber" for-alpha
                                                    class="form-control input-normal" id="phoneNumber"
                                                    placeholder="Phone number" ng-model="ProviderDetails.PHONENUMBER"
                                                    maxlength="10" readonly>

                                                <p class="text-error"
                                                    ng-show="(form.ProviderDetailsForm.submitted  || form.ProviderDetailsForm.phoneNumber.$touched) && form.ProviderDetailsForm.phoneNumber.$invalid">
                                                    <span
                                                        class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                    enter valid Phone number
                                                </p>
                                            </div>
                                        </div>


                                        <!-- <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for=""></label>
                                        <div>
                                            <input type="text" name="" for-alpha class="form-control input-normal" id=""
                                                placeholder="" ng-model="ProviderDetails." maxlength="" readonly>
                    
                                            <p class="text-error"
                                                ng-show="(form.ProviderDetailsForm.submitted  || form.ProviderDetailsForm..$touched) && form.ProviderDetailsForm..$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter valid 
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for=""></label>
                                        <div>
                                            <input type="text" name="" for-alpha class="form-control input-normal" id=""
                                                placeholder="" ng-model="ProviderDetails." maxlength="" readonly>
                    
                                            <p class="text-error"
                                                ng-show="(form.ProviderDetailsForm.submitted  || form.ProviderDetailsForm..$touched) && form.ProviderDetailsForm..$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter valid 
                                            </p>
                                        </div>
                                    </div> -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-4 col-md-12">
                    <div class="pull-right">
                        <button type="button" class="common-button first-button" disable-on-click
                            data-ng-click="saveProviderDetailsData('prev')">Previous</button>
                        <button type="button" class="common-button first-button" disable-on-click
                            data-ng-click="saveProviderDetailsData()">Save</button>
                        <button type="button" class="common-button second-button" data-ng-click="reset('providerDetailsForm')">Clear</button>
                        <button type="button" class="common-button second-button" data-ng-click="">Cancel</button>
                        <button type="button" class="common-button" disable-on-click
                            data-ng-click="saveProviderDetailsData('next')">Next</button>
                    </div>
                </div>


                <div id="providerAddressModal" class="modal fade" tabindex="-1">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">Address Details</h4>
                            </div>

                            <div class="modal-body style-4">
                                <fieldset ng-disabled="true">
                                    <div class="row">


                                        <div class="form-group col-md-3 nowrap">
                                            <label required>Address Line 1 </label>
                                            <div>
                                                <input for-address name="AddressLine1" maxlength="200"
                                                    pattern="[A-Za-z0-9 ,.:// -]+" type="text"
                                                    class="form-control input-normal"
                                                    title="{{ProviderDetails.ADDRESSLINE1}}"
                                                    data-ng-model="ProviderDetails.ADDRESSLINE1"
                                                    ng-class="{submitted:form.ProviderDetailsForm.submitted}" required
                                                    placeholder="eg: Kavuri Hills">
                                                <p class="text-error"
                                                    data-ng-show="(form.ProviderDetailsForm.submitted || form.ProviderDetailsForm.AddressLine1.$touched ) && (form.ProviderDetailsForm.AddressLine1.$invalid)">
                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                    Enter valid address line1
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-3 nowrap">
                                            <label class="input-label">Address Line 2</label>
                                            <div>
                                                <input for-address name="AddressLine2" maxlength="200"
                                                    pattern="[A-Za-z0-9 ,.:// -]+" type="text"
                                                    class="form-control input-normal"
                                                    title="{{ProviderDetails.ADDRESSLINE2}}"
                                                    data-ng-model="ProviderDetails.ADDRESSLINE2"
                                                    placeholder="eg: Madhapur">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3 nowrap">
                                            <label class="input-label">Address Line 3</label>
                                            <div>
                                                <input for-address name="AddressLine3" maxlength="200"
                                                    pattern="[A-Za-z0-9 ,.:// -]+" type="text"
                                                    class="form-control input-normal"
                                                    title="{{ProviderDetails.ADDRESSLINE3}}"
                                                    data-ng-model="ProviderDetails.ADDRESSLINE3"
                                                    placeholder="eg: Hyderabad">
                                            </div>
                                        </div>

                                        <div class="form-group col-md-3 nowrap">
                                            <label required>Pincode </label>
                                            <div>
                                                <input for-digit name="pincode" type="text"
                                                    class="form-control input-normal"
                                                    title="{{ProviderDetails.PINCODE}}" id="pincode"
                                                    placeholder="eg: 400047" data-ng-model="ProviderDetails.PINCODE"
                                                    typeahead="pincodeItem for pincodeItem in pincodeItems | filter:$viewValue | limitTo:10"
                                                    typeahead-on-select="onPincodeSelected($item, $model, $label)"
                                                    ng-keyup="updatePincodeItems()" typeahead-wait-ms="300"
                                                    typeahead-min-length="3"
                                                    ng-class="{submitted:form.ProviderDetailsForm.submitted}"
                                                    maxlength="6" pattern="[1-9]{1}[0-9]{5}" required />
                                                <p class="text-error"
                                                    data-ng-show="(form.ProviderDetailsForm.submitted || form.ProviderDetailsForm.pincode.$touched ) && (form.ProviderDetailsForm.pincode.$invalid)">
                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                    Enter valid pincode
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">


                                        <div class="form-group col-md-3 nowrap">
                                            <label required>District </label>
                                            <div>
                                                <input for-alpha-numeric name="District" maxlength="100" type="text"
                                                    pattern="[A-Za-z0-9 ,.:// -]+" class="form-control input-normal"
                                                    title="{{ProviderDetails.DISTRICT}}"
                                                    data-ng-model="ProviderDetails.DISTRICT"
                                                    ng-class="{submitted:form.ProviderDetailsForm.submitted}" required
                                                    placeholder="eg: Hyderabad">
                                                <p class="text-error"
                                                    data-ng-show="(form.ProviderDetailsForm.submitted || form.ProviderDetailsForm.District.$touched ) && (form.ProviderDetailsForm.District.$invalid)">
                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                    Enter valid district
                                                </p>
                                            </div>
                                        </div>


                                        <div class="form-group col-md-3 nowrap">
                                            <label required>City </label>
                                            <div>
                                                <input for-alpha-numeric name="CITY" maxlength="100" type="text"
                                                    pattern="[A-Za-z0-9 ,.:// -]+" class="form-control input-normal"
                                                    title="{{ProviderDetails.CITY}}"
                                                    data-ng-model="ProviderDetails.CITY"
                                                    ng-class="{submitted:form.ProviderDetailsForm.submitted}" required
                                                    placeholder="eg: Hyderabad">
                                                <p class="text-error"
                                                    data-ng-show="(form.ProviderDetailsForm.submitted || form.ProviderDetailsForm.CITY.$touched ) && (form.ProviderDetailsForm.CITY.$invalid)">
                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                    Enter valid city
                                                </p>
                                            </div>
                                        </div>



                                        <div class="form-group col-md-3 nowrap">
                                            <label required>State </label>

                                            <div>
                                                <input for-alpha-numeric name="State" maxlength="100" type="text"
                                                    pattern="[0-9A-Za-z \.]+" class="form-control input-normal"
                                                    title="{{ProviderDetails.STATE}}"
                                                    data-ng-model="ProviderDetails.STATE"
                                                    ng-class="{submitted:form.ProviderDetailsForm.submitted}" required
                                                    placeholder="eg: Telangana">
                                                <p class="text-error"
                                                    data-ng-show="(form.ProviderDetailsForm.submitted || form.ProviderDetailsForm.State.$touched ) && (form.ProviderDetailsForm.State.$invalid)">
                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                    Enter valid state
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-3 nowrap">
                                            <label required> Country </label>
                                            <div>
                                                <input for-alpha-numeric name="COUNTRY" maxlength="100" type="text"
                                                    pattern="[A-Za-z0-9 ,.:// -]+" class="form-control input-normal"
                                                    title="{{ProviderDetails.COUNTRY}}"
                                                    data-ng-model="ProviderDetails.COUNTRY"
                                                    ng-class="{submitted:form.ProviderDetailsForm.submitted}" required
                                                    placeholder="eg: India">
                                                <p class="text-error"
                                                    data-ng-show="(form.ProviderDetailsForm.submitted || form.ProviderDetailsForm.COUNTRY.$touched ) && (form.ProviderDetailsForm.COUNTRY.$invalid)">
                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                    Enter valid country
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>
                            </div>
                            <div class="modal-footer ">

                                <button type="button" class="common-button first-button"
                                    data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>



</fieldset>


<div id="PRNSearchModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" role="dialog">

        <!-- Modal Content -->
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" ng-click="">×</button>
                <div class="modal-title">
                    <h4>{{prnModelHeader}}</h4>
                </div>
            </div>
            <div class="modal-body">
                <form name="form.PRNSearchModalForm">
                    <div class="text-center" autocomplete="off">
                        <div class="input-group">
                            <input type="text" maxlength="10" class="form-control input-normal"
                                title="{{providerSearch.PRN}}" name="PRN" placeholder="PRN"
                                data-ng-model="providerSearch.PRN"
                                ng-keypress="($event.which === 13)? getProviderData() :''">
                            <div class="input-group-btn">
                                <div class="btn-group">
                                    <div class="dropdown dropdown-lg" style="font-size: 0;">
                                        <button type="button" class="normal-button" id="PRNdropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <button class="normal-button" type="button" ng-click="getProviderData()"
                                            id="searchButton">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>

                                        <button class="normal-button" type="button"
                                            ng-click="totalPages=0;tableData=false;providerSearch.REGISTRATIONNUMBER = '';providerSearch.CITY = '';providerSearch.MOBILENUMBER='';providerSearch.FIRSTNAME='';providerSearch.PAN='';providerSearch. REGISTEREDENTITY='';providerSearch.PRN='';ProviderManagementList.length=0;">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>

                                        <div class="dropdown-menu dropdown-menu-right" role="menu"
                                            aria-labelledby="PRNdropdown" style="width:600px;height:200px !important;">
                                            <!-- <form id="searchForm" class="form-vertical" novalidate> -->
                                            <div class="col-sm-12">
                                                <div class="form-group col-xs-4">
                                                    <label>First Name</label>
                                                    <div>
                                                        <input type="text" for-alpha-numeric
                                                            class="form-control input-normal less-border"
                                                            title="{{providerSearch.FIRSTNAME}}" maxlength="50"
                                                            data-ng-model="providerSearch.FIRSTNAME" />
                                                    </div>
                                                </div>
                                                <div class="form-group col-xs-4">
                                                    <label>PAN</label>
                                                    <div>
                                                        <input type="text" for-alpha-numeric
                                                            class="form-control input-normal less-border"
                                                            title="{{providerSearch.PAN}}" maxlength="10"
                                                            data-ng-model="providerSearch.PAN" />
                                                    </div>
                                                </div>
                                                <div class="form-group col-xs-4">
                                                    <label>Mobile Number</label>
                                                    <div>
                                                        <input type="text" for-digit
                                                            class="form-control input-normal less-border"
                                                            title="{{providerSearch.MOBILENUMBER}}" maxlength="10"
                                                            data-ng-model="providerSearch.MOBILENUMBER" />
                                                    </div>
                                                </div>

                                                <div class="form-group col-xs-4">
                                                    <label>Registration Number</label>
                                                    <div>
                                                        <input type="text" for-alpha-numeric
                                                            class="form-control input-normal less-border"
                                                            title="{{providerSearch.REGISTRATIONNUMBER}}" maxlength="50"
                                                            data-ng-model="providerSearch.REGISTRATIONNUMBER" />
                                                    </div>
                                                </div>

                                                <div class="form-group col-xs-4">
                                                    <label>City</label>
                                                    <div>
                                                        <input type="text" for-alpha-numeric
                                                            class="form-control input-normal less-border"
                                                            title="{{providerSearch.CITY}}" maxlength="50"
                                                            data-ng-model="providerSearch.CITY" />
                                                    </div>

                                                </div>

                                                <div class="form-group col-xs-4">
                                                    <div class="pull-right">
                                                        <button class="common-button first-button multi-search"
                                                            type="submit" ng-click="getProviderData()"
                                                            id="dropSearchButton">
                                                            <span class="glyphicon glyphicon-search"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- </form> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br />
                <div class="row">
                    <div class="table-responsive" ng-if="REGISTEREDENTITYTYPE == 'INSTITUTION'">
                        <table class="table table-bordered  custom-table">
                            <thead class="custom-table-header">
                                <tr>
                                    <th>PROVIDERNAME</th>
                                    <th>ALIASNAME</th>
                                    <th>PRN</th>
                                    <th>PROVIDERTYPE</th>
                                    <th>ROHINICODE</th>
                                    <th>PROVIDERSTATUS</th>
                                    <th>EMAIL</th>
                                    <th>more</th>
                                </tr>

                            </thead>

                            <tr data-ng-repeat="x in providerSearchData" ng-show="providerSearchData.length > 0"
                                ng-dblclick="selectedProvider(x)">
                                <td>{{x.ENTITYNAME}}</td>
                                <td>{{x.ALIASNAME}}</td>
                                <td>{{x.PRN}}</td>
                                <td>{{x.PROVIDERTYPE}}</td>
                                <td>{{x.ROHINIID}}</td>
                                <td>{{x.PROVIDERSTATUS}}</td>
                                <td>{{x.EMAIL}}</td>
                                <td><a>more</a></td>
                            </tr>
                            <tr ng-show=" providerSearchData== undefined || providerSearchData.length == 0"
                                class="text-center" aria-hidden="false">
                                <td colspan="8">No records found !!</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-12" ng-if="REGISTEREDENTITYTYPE == 'INDIVIDUAL'">
                        <table class="table table-bordered  custom-table">
                            <thead class="custom-table-header">
                                <tr>
                                    <th>PRN</th>
                                    <th>FIRSTNAME</th>
                                    <th>MIDDLENAME</th>
                                    <th>LASTNAME</th>
                                    <th>QUALIFICATION</th>
                                    <th>REGISTRATIONNUMBER</th>
                                    <th>REGISTEREDCOUNCIL</th>
                                    <th>PHONENUMBER</th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="x in providerSearchData" ng-show="providerSearchData.length > 0 "
                                ng-dblclick="selectedProvider(x)">
                                <td>{{x.PRN}}</td>
                                <td>{{x.FIRSTNAME}}</td>
                                <td>{{x.MIDDLENAME}}</td>
                                <td>{{x.LASTNAME}}</td>
                                <td>{{x.QUALIFICATION}}</td>
                                <td>{{x.REGISTRATIONNUMBER}}</td>
                                <td>{{x.REGISTEREDCOUNCIL}}</td>
                                <td>{{x.MOBILENUMBER}}</td>
                            </tr>
                            <tr ng-show=" providerSearchData== undefined || providerSearchData.length == 0"
                                class="text-center" aria-hidden="false">
                                <td colspan="8">No records found !!</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="common-button first-button" ng-click="reset('providerSearch')" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>


    $(document).ready(function () {
        $('#PRNdropdown').on('click', function (event) {
            debugger;
            $(this).parent().toggleClass('open');
            //$('.dropdown-menu').toggleClass('open')
        });
    });
</script>