<div class="container-fluid">
    <div class="col-md-12 clt">
        <form name="form.MemberDetails" novalidate>
            <div class="col-md-12">

                <div class="form-group col-sm-6 col-md-3">
                    <label>Member ID (UHID Number)</label>
                    <div>
                        <input type="text" name="memberID" for-alpha class="form-control input-normal" id="memberID" ng-model="" 
                            readonly>

                        <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.memberID.$touched) && form.MemberDetails.memberID.$invalid">
                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid Member ID
                        </p>
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-3">

                    <label for="dateOfAdmission" required> Date Of Admission
                    </label>
                    <div class="input-group date">
                        <input name="dateOfAdmission" class="form-control input-normal datetimepickeradmitdate" 
                            placeholder="eg: 01-01-2020" maxlength="10" size="100%" readonly/>
                        <span class="input-group-addon datetimepickeradmitdate-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>

                    <p class="text-error" ng-show="(form.MemberDetails.$submitted || 
                                                                            form.MemberDetails.dateOfAdmission.$touched)
                                                                            && form.MemberDetails.dateOfAdmission.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                        Enter Valid Date Of Admission</p>


                </div>

                <div class="form-group col-sm-6 col-md-3">
                    <label>Policy Number</label>
                    <div>
                        <input type="text" name="policyNumber" for-digit class="form-control input-normal" id="policyNumber" ng-model=""
                             readonly>

                        <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.policyNumber.$touched) && form.MemberDetails.policyNumber.$invalid">
                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid
                        </p>
                    </div>
                </div>

                <div class="form-group col-sm-6 col-md-3">
                    <label>Certificate Number</label>
                    <div>
                        <input type="text" name="certificateNumber" class="form-control input-normal" id="certificateNumber"  ng-model=""
                         readonly>

                        <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.certificateNumber.$touched) && form.MemberDetails.certificateNumber.$invalid">
                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter valid
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-sm-6 col-md-3">
                    <label>Name of Corporate</label>
                    <div>
                        <input type="text" name="corporateName" class="form-control input-normal" id="corporateName" ng-model="" 
                            readonly>

                        <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.corporateName.$touched) && form.MemberDetails.corporateName.$invalid">
                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter valid Name of Corporate
                        </p>
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-3">
                    <label>Employee ID</label>
                    <div>
                        <input type="text" name="" for-alpha class="form-control input-normal" id="employeeID" ng-model="" readonly>

                        <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails..$touched) && form.MemberDetails..$invalid">
                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid Employee ID
                        </p>
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-3">
                    <label>First Name</label>
                    <div>
                        <input type="text" name="" class="form-control input-normal" id="firstName" ng-model="">

                        <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.firstName.$touched) && form.MemberDetails.firstName.$invalid">
                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid First Name
                        </p>
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-3">
                    <label>Middle Name</label>
                    <div>
                        <input type="text" name="middleName" for-digit class="form-control input-normal" id="middleName"  ng-model=""
                             readonly>

                        <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.middleName.$touched) && form.MemberDetails.middleName.$invalid">
                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid Middle Name
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-sm-6 col-md-3">
                    <label>Surname</label>
                    <div>
                        <input type="text" name="Surname" for-alpha class="form-control input-normal" id="Surname"  ng-model="" readonly>

                        <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.Surname.$touched) && form.MemberDetails.Surname.$invalid">
                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid
                        </p>
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-3">

                    <label for="dateOfAdmission" required> Date Of Birth
                    </label>
                    <div class="input-group date">
                        <input name="dateOfAdmission" class="form-control input-normal datetimepickeradmitdate" 
                            placeholder="eg: 01-01-2020"  size="100%" readonly/>
                        <span class="input-group-addon datetimepickeradmitdate-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>

                    <p class="text-error" ng-show="(form.MemberDetails.$submitted || 
                                                                                            form.MemberDetails.dateOfAdmission.$touched)
                                                                                            && form.MemberDetails.dateOfAdmission.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                        Enter Valid Date Of Birth</p>


                </div>

                <div class="form-group col-sm-6 col-md-3">
                    <label>Age</label>
                    <div>
                        <input type="text" name="age" for-digit class="form-control input-normal" id="age"  ng-model="" 
                            readonly>

                        <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.age.$touched) && form.MemberDetails.age.$invalid">
                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid Age
                        </p>
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-3">
                    <label>Gender</label>
                    <div>
                        <input type="text" name="gender" class="form-control input-normal" id="gender" ng-model="" readonly>

                        <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.gender.$touched) && form.MemberDetails.gender.$invalid">
                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">

                <div class="form-group col-sm-6 col-md-3">

                    <label for="dateOfAdmission" required> Relationship to Primary Insured
                    </label>
                    <div>
                        <input type="text" name="relationship" class="form-control input-normal" id="relationship"  ng-model="" 
                            readonly>

                        <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.relationship.$touched) && form.MemberDetails.relationship.$invalid">
                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid Relationship to Primary Insured
                        </p>
                    </div>



                </div>

                <div class="form-group col-sm-6 col-md-3">
                    <label>Occupation</label>
                    <div>
                        <select class="form-control input-normal" name='Occupation' data-ng-model="">
                            <option value="" selected>---Select---</option>
                            <option value="Service">Service</option>
                            <option value="Self Employed">Self Employed</option>
                        <option value="Homemaker">Homemaker</option>
                        <option value="Student">Student</option>
                        <option value="Retired">Retired</option>
                        <option value="Other">Other</option>
                        </select>

                        <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.Occupation.$touched) && form.MemberDetails.Occupation.$invalid">
                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid Occupation
                        </p>
                    </div>
                </div>

                <div class="form-group col-sm-6 col-md-3">
                
                    <label for="dateOfAdmission" required> Other
                    </label>
                    <div>
                        <input type="text" name="other" class="form-control input-normal" id="other" placeholder="" ng-model="" readonly>
                
                        <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.other.$touched) && form.MemberDetails.other.$invalid">
                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid Other
                        </p>
                    </div>
                
                
                
                </div>

                <div class="form-group col-sm-6 col-md-3">

                    <label for="dateOfAdmission" required> Tata AIG Employee
                    </label>
                    <div>
                        <select class="form-control input-normal" name='TataAIGEmployee' data-ng-model="">
                            <option value="" selected>---Select---</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>

                        </select>

                        <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.TataAIGEmployee.$touched) && form.MemberDetails.TataAIGEmployee.$invalid">
                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid value
                        </p>
                    </div>



                </div>
            </div>




            <div class="col-md-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                <b>

                                    Other Mediclaim/Health insurance

                                </b>
                            </a>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">

                                <div class="row">
                                    <div id="OtherInsuranceTable">
                                        <div class="table-responsive col-lg-12 scrollbar force-overflow" id="style-4">
                                            <table class="table table-bordered table-striped custom-table" style="margin-bottom:0px;">
                                                <thead class="custom-table-header">
                                                    <tr>
                                                        <td>
                                                            S.No.
                                                        </td>
                                                        <td>
                                                            Company Name
                                                        </td>
                                                        <td>
                                                            Sum Insured(Rs.)
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{(currentPosition-1)*10 + $index+1 }}</td>
                                                        <td>
                                                            <input type="text " maxlength="150" name="companyName[$index]" class="form-control input-normal" n>
                                                        </td>
                                                        <td>
                                                            <input type="text " maxlength="20" name="PolicyNumber[$index]" for-digit class="form-control input-normal">
                                                        </td>
                                                        <td>
                                                            <input type="text " maxlength="15" name="SumInsured[$index]" for-digit class="form-control input-normal">
                                                        </td>
                                                        <td>
                                                        Valid Upto
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <button class="common-button first-button" ng-click="addRowCurrent()" style="margin:15px">
                                            Add Row</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                <b>

                                    Address and Contact Details

                                </b>
                            </a>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group col-sm-6 col-md-3">
                                        <label>Address</label>
                                        <div>
                                            <input type="text" name="address" class="form-control input-normal" id="address" placeholder="" ng-model="" maxlength="200"
                                                readonly>

                                            <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.Occupation.$touched) && form.MemberDetails.Occupation.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter Valid Address
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-6 col-md-3">
                                        <label>Landmark</label>
                                        <div>
                                            <input type="text" name="landmark" class="form-control input-normal" id="landmark" placeholder="" ng-model="" maxlength="200"
                                                readonly>

                                            <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.landmark.$touched) && form.MemberDetails.landmark.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter Valid Landmark
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-6 col-md-3">
                                        <label>Area</label>
                                        <div>
                                            <input type="text" name="area" class="form-control input-normal" id="area" placeholder="" ng-model="" maxlength="200" readonly>

                                            <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.area.$touched) && form.MemberDetails.area.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter Valid Area
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-6 col-md-3">
                                        <label>City/Town/Village</label>
                                        <div>
                                            <input type="text" name="area" class="form-control input-normal" id="city" placeholder="" ng-model="" maxlength="100" readonly>

                                            <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.city.$touched) && form.MemberDetails.city.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter Valid City
                                            </p>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6 col-md-3">
                                        <label>District</label>
                                        <div>
                                            <input type="text" name="district" class="form-control input-normal" id="district" placeholder="" ng-model="" maxlength="100"
                                                readonly>

                                            <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.district.$touched) && form.MemberDetails.district.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter Valid District
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-6 col-md-3">
                                        <label>Pincode</label>
                                        <div>
                                            <input type="text" name="pincode" class="form-control input-normal" id="pincode" placeholder="" ng-model="" maxlength="6"
                                                readonly>

                                            <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.pincode.$touched) && form.MemberDetails.pincode.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter Valid Landmark
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-6 col-md-3">
                                        <label>State</label>
                                        <div>
                                            <input type="text" name="state" class="form-control input-normal" id="state" placeholder="" ng-model="" maxlength="50" readonly>

                                            <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.state.$touched) && form.MemberDetails.state.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter Valid State
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-6 col-md-3">
                                        <label>E-mail</label>
                                        <div>
                                            <input type="text" name="email" class="form-control input-normal" id="email" placeholder="" ng-model="" maxlength="100" readonly>

                                            <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.email.$touched) && form.MemberDetails.email.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter Valid E-mail
                                            </p>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6 col-md-3">
                                        <label>Mobile Number</label>
                                        <div>
                                            <input type="text" name="mobileNumber" class="form-control input-normal" id="mobileNumber" placeholder="" ng-model="" maxlength="12"
                                                readonly>

                                            <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.mobileNumber.$touched) && form.MemberDetails.mobileNumber.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid Mobile Number
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-6 col-md-3">
                                        <label>Contact Number of attending relative</label>
                                        <div>
                                            <input type="text" name="contactNumberOfAttending" class="form-control input-normal" id="contactNumberOfAttending" placeholder=""
                                                ng-model="" maxlength="12">

                                            <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.contactNumberOfAttending.$touched) && form.MemberDetails.contactNumberOfAttending.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid Contact Number
                                            </p>
                                        </div>
                                    </div>

                                    


                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                <b>

                                    Alternate Address Details

                                </b>
                            </a>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group col-sm-6 col-md-3">
                                        <label>Is Address in claim form different?</label>
                                        <div>
                                            <div class="radio-custom-margin">
                                                <label class="radio-inline radioContainer">
                                                    Yes
                                                    <input type="radio" name="AddressClaimForm" value="true">
                                                    <span class="radioCheck"></span>
                                                </label>
                                                <label class="radio-inline radioContainer">
                                                    No
                                                    <input type="radio" name="AddressClaimForm" value="false" checked>
                                                    <span class="radioCheck"></span>
                                                </label>
                                                <p class="text-error" ng-show="(form.MemberDetails.submitted && form.MemberDetails.AddressClaimForm.$invalid) || (form.MemberDetails.AddressClaimForm.$touched && form.MemberDetails.AddressClaimForm.$invalid)">
                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                    Enter Valid Value
                                                </p>
                                    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6 col-md-3">
                                        <label>Address</label>
                                        <div>
                                            <input type="text" name="AltAddress" class="form-control input-normal" id="AltAddress" placeholder="" ng-model="" maxlength="200"
                                                >

                                            <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.AltAddress.$touched) && form.MemberDetails.AltAddress.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid Address
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-6 col-md-3">
                                        <label>Landmark</label>
                                        <div>
                                            <input type="text" name="AltLandmark" class="form-control input-normal" id="AltLandmark" placeholder="" ng-model="" maxlength="100"
                                                >

                                            <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.AltLandmark.$touched) && form.MemberDetails.AltLandmark.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid Landmark
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-6 col-md-3">
                                        <label>Area</label>
                                        <div>
                                            <input type="text" name="AltArea" class="form-control input-normal" id="AltArea" placeholder="" ng-model="" maxlength="100"
                                                >

                                            <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.AltArea.$touched) && form.MemberDetails.AltArea.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid Area
                                            </p>
                                        </div>
                                    </div>

                                    

                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6 col-md-3">
                                        <label>City/Town/Village</label>
                                        <div>
                                            <input type="text" name="AltCity" class="form-control input-normal" id="AltCity" placeholder="" ng-model="" maxlength="50"
                                                >
                                    
                                            <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.AltCity.$touched) && form.MemberDetails.AltCity.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid City
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6 col-md-3">
                                        <label>District</label>
                                        <div>
                                            <input type="text" name="AltDistrict" class="form-control input-normal" id="AltDistrict" placeholder="" ng-model="" maxlength="100"
                                                >

                                            <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.AltDistrict.$touched) && form.MemberDetails.AltDistrict.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter Valid District
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-6 col-md-3">
                                        <label>Pincode</label>
                                        <div>
                                            <input type="text" name="AltPincode" class="form-control input-normal" id="AltPincode" placeholder="" ng-model="" maxlength="6"
                                                >

                                            <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.AltPincode.$touched) && form.MemberDetails.AltPincode.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter Valid Pincode
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-6 col-md-3">
                                        <label>State</label>
                                        <div>
                                            <input type="text" name="AltDtate" class="form-control input-normal" id="AltState" placeholder="" ng-model="" maxlength="100"
                                                >

                                            <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.state.$touched) && form.MemberDetails.state.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter Valid State
                                            </p>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                <b>

                                    Alternate Contact Details

                                </b>
                            </a>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse">
                            <div class="panel-body">


                                <div class="row">

                                    <div class="form-group col-sm-6 col-md-3">
                                        <label>Is Contact in claim form different?</label>
                                        <div>
                                            <div class="radio-custom-margin">
                                                <label class="radio-inline radioContainer">
                                                    Yes
                                                    <input type="radio" name="AddressClaimForm" value="true">
                                                    <span class="radioCheck"></span>
                                                </label>
                                                <label class="radio-inline radioContainer">
                                                    No
                                                    <input type="radio" name="AddressClaimForm" value="false" checked>
                                                    <span class="radioCheck"></span>
                                                </label>
                                                <p class="text-error" ng-show="(form.MemberDetails.submitted && form.MemberDetails.AddressClaimForm.$invalid) || (form.MemberDetails.AddressClaimForm.$touched && form.MemberDetails.AddressClaimForm.$invalid)">
                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                    Enter Valid Value
                                                </p>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-6 col-md-3">
                                        <label>Alternate E-mail</label>
                                        <div>
                                            <input type="text" name="AltEmail" class="form-control input-normal" id="AltEmail" placeholder="" ng-model="" maxlength="100"
                                                >

                                            <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.city.$touched) && form.MemberDetails.city.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid E-Mail
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-6 col-md-3">
                                        <label>Alternate Mobile Number</label>
                                        <div>
                                            <input type="text" name="AltMobileNumber" class="form-control input-normal" id="AltMobileNumber" placeholder="" ng-model="12"
                                                maxlength="12" >

                                            <p class="text-error" ng-show="(form.MemberDetails.submitted  || form.MemberDetails.city.$touched) && form.MemberDetails.city.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid Alternate Mobile Number
                                            </p>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>






        </form>
    </div>
</div>