<fieldset ng-disabled="false">
    <div class="container-fluid">
        <div class="col-md-12 clt">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for=""></label>
                    <div>
                        <input type="text" name="" class="form-control input-normal" id="" placeholder="eg : "
                            ng-model="" maxlength="">

                        <p class="text-error"
                            ng-show="(form..submitted  || form..accountNumber.$touched) && form..accountNumber.$invalid">
                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter valid
                        </p>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered  custom-table">
                    <thead class="custom-table-header">
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tr data-ng-repeat="x in " ng-show=".length > 0" ng-dblclick="(x)">
                        <td>{{x.}}</td>
                    </tr>
                    <tr ng-show=" == undefined || .length == 0" class="text-center" aria-hidden="false">
                        <td colspan="">No records found !!</td>
                    </tr>
                </table>
            </div>

            <div class="row" radiobutton>

            </div>

            <div class="col-md-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-target="#AddresColaapse">
                            <h4 class="panel-title">
                                <b>Accident  Details</b>
                            </h4>
                        </div>
                        <div id="AddresColaapse" class="panel-collapse collapse">
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-target="#AddresColaapse">
                            <h4 class="panel-title">
                                <b>Maternity  Details</b>
                            </h4>
                        </div>
                        <div id="AddresColaapse" class="panel-collapse collapse">
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</fieldset>