<div id="cover">
    <div class="loader">
    </div>
</div>

<div ng-show="alertModal" class="alert" style="display : block" role="alert" ng-class="{success:success,error:error,warning:warning}">
    <span class="pull-right" ng-click="alertModal=false;error=false;success=false;warning=false;">
        <span>&nbsp;&times;</span>
    </span>
    <strong>{{errCode}}</strong> {{errDesc}}
    <br>
    <a ng-show="alertModalError" data-toggle="collapse" data-target="#demo">
        <strong>
            <u>Error Details</u>
        </strong>
    </a>
    <div ng-show="alertModalError" id="demo" class="collapse">
        <textarea style="width: 100%;" readonly rows="5" cols="50">{{errDtls}}</textarea>
    </div>
</div>


<div ng-cloak>
    <div class="container-fluid style-4 slight-margin-top">


        <div ng-show="showClaimIndex">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-12 col-md-12 col-xs-12">

                    <div class='row'>
                        <div class="form-group col-xs-12 col-sm-4 col-md-3">
                            <label for="MemberID">Member ID</label>
                            <div>
                                <input type="text" name="MemberID" class="form-control input-normal" id="MemberID" for-alpha-numeric ng-keypress="($event.which === 13)? getClaimSearch() :''" ng-model="searchClaim.MEMBERID"
                                    maxlength="200">
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-4 col-md-3">
                            <label for="ClaimID">Claim Number</label>
                            <div>
                                <input type="text" name="ClaimID" pattern="" class="form-control input-normal" id="ClaimID" for-digit ng-keypress="($event.which === 13)? getClaimSearch() :''" placeholder="Claim ID" ng-model="searchClaim.CLAIMNUMBER"
                                    maxlength="10">
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-4 col-md-3">
                            <label for="CaseID">Case ID</label>
                            <div>
                                <input type="text" name="CaseID" class="form-control input-normal" id="CaseID" for-digit ng-keypress="($event.which === 13)? getClaimSearch() :''" ng-model="searchClaim.CASENUMBER" maxlength="15">
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-4 col-md-3">
                            <label for="PolicyNo">Policy Number</label>
                            <div>
                                <input type="text" name="PolicyNo" class="form-control input-normal" id="PolicyNo" for-digit ng-keypress="($event.which === 13)? getClaimSearch() :''" placeholder="Policy Number" ng-model="searchClaim.POLICYNUMBER"
                                    maxlength="10">
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-4 col-md-3">
                            <label for="ClaimStatus">Claim Status</label>
                            <div>
                                <select class="form-control" ng-model="searchClaim.CLAIMSTATUS"  ng-keypress="($event.which === 13)? getClaimSearch() :''" id="ClaimStatus" name="ClaimStatus">
                                    <option value="">--Select--</option>
                                    <option value="Open">Open</option>
                                    <option value="Suspended">Suspended</option>
                                    <option value="Closed">Closed</option>
                                    <option value="Cancelled">Cancelled</option>
                                     
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-4 col-md-3">
                            <label for="ClaimStatus">Claim Sub Status</label>
                            <div>
                                <select class="form-control" ng-model="searchClaim.CLAIMSUBSTATUS"  ng-keypress="($event.which === 13)? getClaimSearch() :''" id="ClaimSubStatus" name="ClaimSubStatus">
                                    <option value="">--Select--</option>
                                    <option value="TBU">TBU</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-4 col-md-3">
                            <label for="memberFirstName">Member First Name</label>
                            <div class="input-group double-input" style="width: 100%">



                                <select class="form-control" ng-model="firstNameCheck"  style="width: 50%">
                                    <option value="Contains" selected>Contains</option>
                                    <option value="Starts with">Starts with</option>
                                    <option value="Ends with">Ends with</option>
                                    <option value="Equal">Equal</option>
                                </select>

                                <input type="text" name="memberFirstName"  ng-keypress="($event.which === 13)? getClaimSearch() :''" for-alpha class="form-control input-normal" id="memberFirstName" placeholder="First Name"
                                    ng-model="searchClaim.MEMBERNAME" maxlength="100" style="width: 50%">
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-4 col-md-3">
                            <label for="memberFirstName">Member Last Name</label>
                            <div class="input-group double-input" style="width: 100%">
                                <select class="form-control" ng-model="lastNameCheck" style="width: 50%">
                                    <option value="Contains" selected>Contains</option>
                                    <option value="Starts with">Starts with</option>
                                    <option value="Ends with">Ends with</option>
                                    <option value="Equal">Equal</option>
                                </select>

                                <input type="text" name="memberFirstName" for-alpha class="form-control input-normal" ng-keypress="($event.which === 13)? getClaimSearch() :''" id="memberFirstName" placeholder="Last Name"
                                    ng-model="searchClaim.MEMBERLASTNAME" maxlength="100" style="width: 50%">
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                        <label for="ClaimType">Claim Type</label>
                        <div>

                            <select class="form-control" ng-model="searchClaim.CLAIMTYPE" ng-keypress="($event.which === 13)? getClaimSearch() :''" id="ClaimType" name="ClaimType">
                                <option value="Cashless">Cashless</option>
                                <option value="Reimbursement">Reimbursement</option>
                            </select>
                        </div>
                    </div>



                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                        <label for="CertificateNumber">Certificate Number</label>
                        <div>
                            <input type="text" name="CertificateNumber" class="form-control input-normal" id="CertificateNumber" ng-keypress="($event.which === 13)? getClaimSearch() :''" placeholder="" ng-model="searchClaim.CERTIFICATENUMBER"
                                maxlength="20">
                        </div>
                    </div>

                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                        <label for="CorporateGroupName">Corporate Group Name</label>
                        <div>
                            <input type="text" name="CorporateGroupName" class="form-control input-normal" id="CorporateGroupName" ng-keypress="($event.which === 13)? getClaimSearch() :''" placeholder="" ng-model="searchClaim.CORPORATEGROUPNAME"
                                maxlength="300">
                        </div>
                    </div>

                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                        <label for="EmployeeID">Employee ID</label>
                        <div>
                            <input type="text" name="EmployeeID" pattern="" class="form-control input-normal" id="EmployeeID" ng-keypress="($event.which === 13)? getClaimSearch() :''" placeholder="" ng-model="searchClaim.EMPLOYEEID"
                                maxlength="15">
                        </div>
                    </div>

                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                        <label for="ProviderName">Provider Name</label>
                        <div>
                            <input type="text" name="ProviderName" pattern="" class="form-control input-normal" id="ProviderName" ng-keypress="($event.which === 13)? getClaimSearch() :''" data-toggle="modal" placeholder="" href="#PRNSearchModal"
                                ng-model="searchClaim.PROVIDERNAME" maxlength="">
                        </div>
                    </div>

                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                        <label for="EmployeeClaim">Employee Claim</label>
                        <div>

                            <select class="form-control" ng-model="searchClaim.EMPLOYEECLAIM" id="EmployeeClaim" name="EmployeeClaim" ng-keypress="($event.which === 13)? getClaimSearch() :''">
                                <option value="">--Select--</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                        <label for="orphanClaim">Orphan Claim</label>
                        <div>

                            <select class="form-control" ng-model="searchClaim.ORPHANCLAIM" id="orphanClaim" name="orphanClaim" ng-keypress="($event.which === 13)? getClaimSearch() :''" >
                                <option value="">--Select--</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                    </div>



                </div>

            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-xs-12">
            <div class="slight-margin-top slight-right-margin pull-right">
                <div class="row clt">
                    <div class="left-right-margin">
                        <button type="button" class="common-button first-button" ng-click="getClaimSearch()">Search</button>
                        
                        <button type="button" class="common-button second-button" ng-click="searchClaim={}">Clear</button>
                        <button type="button" class="common-button closeButton" ng-click="triggerFunction()">Close</button>
                        
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="row">


            <div id="ClaimSearchTable" ng-show="showTable">
                <div class=" col-lg-12 scrollbar force-overflow" style="overflow:visible" id="style-4">
                    <table class="table table-bordered table-striped custom-table" style="margin-bottom:0px;">
                        <thead class="custom-table-header">
                            <tr>
                                <td>
                                    S.No.
                                </td>
                                <td>
                                    Claim Number
                                </td>
                                <td>
                                    Feature Number
                                </td>
                                <td>
                                    Policy Number
                                </td>
                                <td>
                                    Case Number
                                </td>
                                <td>
                                    Claim Type
                                </td>
                                <td>
                                    Claim Status
                                </td>
                                <td>
                                    Claim Sub-status
                                </td>
                                <td>
                                    Member First Name
                                </td>
                                <td>
                                    Member Last Name
                                </td>
                                <td>
                                    Provider Name
                                </td>
                                <td>
                                    Corporate group name
                                </td>
                                <td>
                                    Employee ID
                                </td>
                                <td>
                                    Claimed Amount
                                </td>
                                <td>
                                    Outstanding Amount
                                </td>
                                <td>
                                    Paid Amount
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in ClaimSearchList" style="overflow:visible" ng-show="showTable" ng-dblclick="openClaimSummary($index)">
                                <td>{{(currentPosition-1)*10 + $index+1 }}</td>
                                <td>
                                     {{x.CLAIMNUMBER}}
                                </td>
                                <td>
                                     {{x.FEATURENUMBER}}
                                </td>
                                <td>
                                     {{x.POLICYNUMBER}}
                                </td>
                                <td>
                                     {{x.CASENUMBER}}
                                </td>
                                <td>
                                     {{x.CLAIMTYPE}}
                                </td>
                                <td>
                                     {{x.CLAIMSTATUS}}
                                </td>
                                <td>
                                     {{x.CLAIMSUBSTATUS}}
                                </td>
                                <td>
                                     {{x.MEMBERNAME}}
                                </td>
                                <td>
                                     {{x.LASTNAME}}
                                </td>
                                <td>{{x.PROVIDERNAME}}
                                </td>
                                <td>{{x.CORPORATEGROUPNAME}}
                                </td>
                                <td>{{x.EMPLOYEEID}}
                                </td>
                                <td>{{x.CLAIMEDAMOUNT}}
                                </td>
                                <td>{{x.OUTSTANDINGAMOUNT}}
                                </td>
                                <td>{{x.PAIDAMOUNT}}
                                </td>
                            </tr>
                            <tr ng-show="ClaimSearchList.length <= 0">
                            <td colspan="17" class="text-center">No records found !!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="pull-left " ng-show="totalPages > 0">
                <label></label>
        
                <span class="">
                    <b>Showing {{(currentPosition-1) * pageSize + 1}} - {{(currentPosition-1) * pageSize + pageSize
                        < resultCount ? (currentPosition-1) * pageSize + pageSize :resultCount}} of {{resultCount}} records</b>
                </span>
            </div>
        
            <div class="pull-right" ng-show="totalPages > 0">
                <div class="shift-right">
                    <a href="#" ng-click="getMemberDetails(totalPages)" ng-class="{'not-active' : currentPosition == totalPages}">
                        <span class="glyphicon glyphicon-forward"></span>
                    </a>
                </div>
        
                <div class="shift-right">
                    <a href="#" ng-click="getMemberDetails(currentPosition+1)" ng-class="{'not-active' : currentPosition == totalPages}">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
        
                <div class="shift-right" ng-hide="currentPosition + 1 >=totalPages || totalPages <=3">
                    <span>... </span>
                    <a href="#" ng-click="getMemberDetails(totalPages)" ng-class="{'not-active' : currentPosition == totalPages}">
                        <span>{{totalPages}}</span>
                    </a>
                </div>
        
                <div class="shift-right" ng-hide="nextPage == 0" ng-class="{'pag-active' : totalPages == currentPosition}">
                    <a href="#" ng-click="getMemberDetails(nextPage)">
                        <span>{{nextPage}}</span>
                    </a>
                </div>
        
                <div class="shift-right" ng-class="{'pag-active' : !((totalPages == currentPosition && currentPosition != 2) ||(currentPosition == 1 && totalPages > 2)) || totalPages == 1}">
                    <a href="#" ng-click="getMemberDetails(middlePage)">
                        <span>{{middlePage}}</span>
                    </a>
                </div>
        
                <div class="shift-right" ng-hide="previousPage == 0" ng-class="{'pag-active' : currentPosition == 1}">
                    <a href="#" ng-click="getMemberDetails(previousPage)">
                        <span>{{previousPage}}</span>
                    </a>
                </div>
        
                <div class="shift-right" ng-show="currentPosition > 2 && totalPages > 3">
        
                    <a href="#" ng-click="getMemberDetails(1)">
                        <span>1</span>
                    </a>
                    <span> ...</span>
                </div>
        
                <div class="shift-right">
                    <a href="#" ng-click="getMemberDetails(currentPosition-1)" ng-class="{'not-active' : currentPosition == 1}">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </div>
        
                <div class="shift-right">
                    <a href="#" ng-click="getMemberDetails(1)" ng-class="{'not-active' : currentPosition == 1}">
                        <span class="glyphicon glyphicon-backward"></span>
                    </a>
                </div>
            </div>
        </div>
        </div>

        <div ng-show="showClaimSummary">

        <div class="row" style="margin-left:30px">
            <button type="button" id="backButton" ng-click="showClaimSummary=false;showClaimIndex=true;" class="common-button first-button navbar-btn">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </button>
        </div>

        <div class="col-sm-12 col-md-12 col-xs-12">
        
            <div class='row'>
        
        
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="ClaimID">Claim Number</label>
                    <div>
                        <input type="text" name="ClaimID" pattern="" class="form-control input-normal" id="ClaimID" placeholder="Claim ID" ng-model="selectedClaim.CLAIMNUMBER"
                            maxlength="10" readonly>
                    </div>
                </div>
        
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="CaseID">Feature Number</label>
                    <div>
                        <input type="text" name="CaseID" class="form-control input-normal" id="CaseID" ng-model="selectedClaim.FEATURENUMBER" maxlength="15" readonly>
                    </div>
                </div>
        
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="PolicyNo">Policy Number</label>
                    <div>
                        <input type="text" name="PolicyNo" class="form-control input-normal" id="PolicyNo" placeholder="Policy Number" ng-model="selectedClaim.POLICYNUMBER"
                            maxlength="10" readonly>
                    </div>
                </div>
        
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="MemberID">Member ID</label>
                    <div>
                        <input type="text" name="MemberID" class="form-control input-normal" id="MemberID"  ng-model="selectedClaim.MEMBERID"
                            maxlength="200" readonly>
                    </div>
                </div>
        
        
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="CaseNumber">Case Number</label>
                    <div>
                        <input type="text" name="CaseNumber" class="form-control input-normal" id="CaseNumber"  ng-model="selectedClaim.CASENUMBER"
                            maxlength="200" readonly>
                    </div>
                </div>
        
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="FirstName">First Name</label>
                    <div>
                        <input type="text" name="FirstName" class="form-control input-normal" id="FirstName"  ng-model="selectedClaim.MEMBERNAME"
                            maxlength="200" readonly>
                    </div>
                </div>
        
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="LastName">Last Name</label>
                    <div>
                        <input type="text" name="LastName" class="form-control input-normal" id="LastName"  ng-model="selectedClaim.MEMBERLASTNAME"
                            maxlength="200" readonly>
                    </div>
                </div>
        
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="ClaimType">Claim Type</label>
                    <div>
                     <input type="text" name="ClaimType" class="form-control input-normal" id="ClaimType"  ng-model="selectedClaim.CLAIMTYPE"
                        readonly>
                       
                    </div>
                </div>
        
        
        
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="ClaimStatus">Claim Staus</label>
                    <div>
                        <input type="text" name="ClaimStatus" class="form-control input-normal" id="ClaimStatus" placeholder="" ng-model="selectedClaim.CLAIMSTATUS"
                            maxlength="20" readonly>
                    </div>
                </div>
        
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="ClaimStatus">Claim Sub Staus</label>
                    <div>
                        <input type="text" name="ClaimSubStatus" class="form-control input-normal" id="ClaimSubStatus" placeholder="" ng-model="selectedClaim.CLAIMSUBSTATUS"
                            maxlength="20" readonly>
                    </div>
                </div>
        
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="LossDate">Loss Date</label>
                    <div>
                        <input type="text" name="LossDate" pattern="" class="form-control input-normal" id="LossDate" placeholder="" 
                            maxlength="15" readonly>
                    </div>
                </div>
        
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="ClaimedAmount">Claimed Amount</label>
                    <div>
                        <input type="text" name="ClaimedAmount" class="form-control input-normal" id="ClaimedAmount" placeholder="" ng-model="selectedClaim.CLAIMEDAMOUNT"
                            maxlength="20" readonly>
                    </div>
                </div>
        
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="OutstandingAmount">Outstanding Amount</label>
                    <div>
                        <input type="text" name="OutstandingAmount" class="form-control input-normal" id="OutstandingAmount" placeholder="" ng-model="selectedClaim.OUTSIDEAMOUNT"
                             readonly>
                    </div>
                </div>
        
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="PaidAmount">Paid Amount</label>
                    <div>
                        <input type="text" name="PaidAmount" class="form-control input-normal" id="PaidAmount" placeholder="" ng-model="selectedClaim.PAIDAMOUNT"
                            readonly>
                    </div>
                </div>
        
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="ProviderName">Provider Name</label>
                    <div>
                        <input type="text" name="ProviderName" pattern="" class="form-control input-normal" id="ProviderName" ng-model="selectedClaim.PROVIDERNAME" readonly>
                    </div>
                </div>
        
               
        
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="ProductName">Product Name</label>
                    <div>
                        <input type="text" name="ProductName" class="form-control input-normal" id="ProductName" placeholder="" ng-model="selectedClaim.PRODUCTNAME"
                         readonly>
                    </div>
                </div>
        
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="BenefitName">Benefit Name</label>
                    <div>
                        <input type="text" name="BenefitName" class="form-control input-normal" id="BenefitName" placeholder="" ng-model="selectedClaim.BENEFITNAME"
                            readonly>
                    </div>
                </div>
        
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="CorporateGroupName">Corporate Group Name</label>
                    <div>
                        <input type="text" name="CorporateGroupName" class="form-control input-normal" id="CorporateGroupName" placeholder="" ng-model="selectedClaim.CORPORATEGROUPNAME"
                             readonly>
                    </div>
                </div>
        
        
                <div class="form-group col-xs-12 col-sm-4 col-md-3">
                    <label for="EmployeeID">Employee ID</label>
                    <div>
                        <input type="text" name="EmployeeID" class="form-control input-normal" id="EmployeeID" placeholder="" ng-model="selectedClaim.EMPLOYEEID"
                             readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-xs-12">
            <div class="slight-margin-top slight-right-margin pull-right">
                <div class="row clt">
                    <div class="left-right-margin">
                        <button type="button" class="common-button first-button" ng-click="">Re-Open Claim</button>
                        <button type="button" class="common-button second-button" ng-click="">Claim Details</button>
                        <button type="button" class="common-button closeButton" ng-click="triggerFunction()">Close</button>
                        
                    </div>
                </div>
            </div>
        </div>
        </div>
                
            
            
            
            




            <div id="PRNSearchModal" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-lg" role="dialog">

                    <!-- Modal Content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal" ng-click="">×</button>
                            <div class="modal-title">
                                <h4>Provider Search</h4>
                            </div>
                        </div>
                        <div class="modal-body">
                            <form name="form.PRNSearchModalForm">
                                <div class="text-center" autocomplete="off">
                                    <div class="input-group">
                                        <input type="text" maxlength="10" class="form-control input-normal" title="{{providerSearch.PRN}}" name="PRN" placeholder="PRN"
                                            data-ng-model="providerSearch.PRN" ng-keypress="($event.which === 13)? getProviderData() :''">
                                        <div class="input-group-btn">
                                            <div class="btn-group">
                                                <div class="dropdown dropdown-lg" style="font-size: 0;">
                                                    
                                                    <button class="normal-button" type="button" ng-click="getProviderData()" id="searchButton">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </button>

                                                    <button class="normal-button" type="button" ng-click="totalPages=0;tableData=false;providerSearch.REGISTRATIONNUMBER = '';providerSearch.CITY = '';providerSearch.MOBILENUMBER='';providerSearch.FIRSTNAME='';providerSearch.PAN='';providerSearch. REGISTEREDENTITY='';providerSearch.PRN='';ProviderManagementList.length=0;">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>

                                                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br />
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-bordered  custom-table">
                                        <thead class="custom-table-header">
                                            <tr>
                                                <th>PROVIDERNAME</th>
                                                <th>ALIASNAME</th>
                                                <th>PRN</th>
                                                <th>PROVIDERTYPE</th>
                                                <th>PHONENUMBER</th>
                                                <th>EMAIL</th>
                                                
                                            </tr>

                                        </thead>

                                        <tr data-ng-repeat="x in providerSearchData" ng-show="providerSearchData.length > 0" ng-dblclick="selectedProvider(x)">
                                            <td>{{x.ENTITYNAME}}</td>
                                            <td>{{x.ALIASNAME}}</td>
                                            <td>{{x.PRN}}</td>
                                            <td>{{x.PROVIDERTYPE}}</td>
                                            <td>{{x.PHONENUMBER}}</td>
                                            <td>{{x.EMAIL}}</td>
                                          
                                        </tr>
                                        <tr ng-show=" providerSearchData== undefined || providerSearchData.length == 0" class="text-center" aria-hidden="false">
                                            <td colspan="8">No records found !!</td>
                                        </tr>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="common-button first-button" ng-click="reset('providerSearch')" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</div>



<script>

    //date time picker for date of admission
    $('.datetimepickeradmitdate').datetimepicker({
        useCurrent: false,
        format: 'DD-MM-YYYY',
        maxDate: new Date(),
    });
    $('.datetimepickeradmitdate-addon').on('click', function () {
        $(this).prev('input.datetimepickeradmitdate').data('DateTimePicker').toggle();
    });