<div id="cover">
    <div class="loader">
    </div>
</div>

<div ng-show="alertModal" class="alert" style="display : block" role="alert" ng-class="{success:success,error:error,warning:warning}">
    <span class="pull-right" ng-click="alertModal=false;error=false;success=false;warning=false;">
        <span>&nbsp;&times;</span>
    </span>
    <strong>{{errCode}}</strong> {{errDesc}}
    <br>
    <a ng-show="alertModalError" data-toggle="collapse" data-target="#demo">
        <strong>
            <u>Error Details</u>
        </strong>
    </a>
    <div ng-show="alertModalError" id="demo" class="collapse">
        <textarea style="width: 100%;" readonly rows="5" cols="50">{{errDtls}}</textarea>
    </div>
</div>


<div ng-cloak>
    <div class="container-fluid style-4 slight-margin-top">
        <form name="form.diseaseClassification" novalidate>
            <div class="row" style="margin-top:10px">
                <div class="col-sm-10 ">
                    <div class="panel-group">
                       

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <b>Details of Ailement Diagnoize</b>
                                    </h4>
                                </div>

                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                            <label for="modality" required>Modality</label>
                                            <div>
                                                <select class="form-control" ng-model="DISEASECLASSIFICATION.MODALITY" id="modality" name="modality" required>
                                                    <option value="">--Select--</option>
                                                    <option value="Allopathic">Allopathic</option>
                                                    <option value="Ayurvedic">Ayurvedic</option>
                                                    <option value="Unani">Unani</option>
                                                    <option value="Sidha">Sidha</option>
                                                    <option value="Homeopathy">Homeopathy</option>
                                                </select>
                                            </div>
                                            <p class="text-error" ng-show="(form.diseaseClassification.submitted && form.diseaseClassification.modality.$invalid) || (form.diseaseClassification.modality.$touched && form.diseaseClassification.modality.$invalid)">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                Enter Valid Modality
                                            </p>
                                        </div>


                                        <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                            <label for="ailement" required>Ailement</label>
                                            <div>
                                                <input type="text" name="Ailement" class="form-control input-normal" id="Ailement" for-alpha-numeric ng-model="DISEASECLASSIFICATION.AILEMENT"
                                                    maxlength="200" required>
                                            </div>
                                            <p class="text-error" ng-show="(form.diseaseClassification.submitted && form.diseaseClassification.Ailement.$invalid) || (form.diseaseClassification.Ailement.$touched && form.diseaseClassification.Ailement.$invalid)">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                Enter Valid Ailement
                                            </p>
                                        </div>


                                        <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                            <label for="AdditionalAilement">Additional Details</label>
                                            <div>
                                                <input type="text" name="AdditionalAilement" class="form-control input-normal" for-alpha-numeric id="AdditionalAilement" ng-model="DISEASECLASSIFICATION.ADDITIONALAILEMENT"
                                                    maxlength="200">
                                            </div>
                                            <p class="text-error" ng-show="(form.diseaseClassification.submitted && form.diseaseClassification.AdditionalAilement.$invalid) || (form.diseaseClassification.AdditionalAilement.$touched && form.diseaseClassification.AdditionalAilement.$invalid)">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                Enter Valid Additional Details
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="panel panel-default" ng-show="injury">
                                <div class="panel-heading" data-toggle="collapse" data-target="#InjuryDetailsPanel">
                                    <h4 class="panel-title">
                                        <b>Injury Details</b>
                                    </h4>
                                </div>
                                <div id="InjuryDetailsPanel" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">

                                            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                                <label for="InjuryDetails" required>Injury Details</label>
                                                <div>
                                                    <input type="text" name="InjuryDetails" class="form-control input-normal" id="InjuryDetails" ng-model="DISEASECLASSIFICATION.INJURYDETAILS"
                                                         readonly>
                                                </div>
                                                <p class="text-error" ng-show="(form.diseaseClassification.submitted && form.diseaseClassification.InjuryDetails.$invalid) || (form.diseaseClassification.InjuryDetails.$touched && form.diseaseClassification.InjuryDetails.$invalid)">
                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                    Enter Valid Injury Details
                                                </p>
                                            </div>


                                            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                                <label for="Cause" required>Cause</label>
                                                <div>
                                                    <input type="text" name="Cause" class="form-control input-normal"  ng-required="injury" id="Cause" ng-model="DISEASECLASSIFICATION.CAUSE" 
                                                        readonly>
                                                </div>
                                                <p class="text-error" ng-show="(form.diseaseClassification.submitted && form.diseaseClassification.Cause.$invalid) || (form.diseaseClassification.Cause.$touched && form.diseaseClassification.Cause.$invalid)">
                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                    Enter Valid Cause
                                                </p>
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                                <label for="ICDCode" required>ICD Code</label>
                                                <div>
                                                    <input type="text" name="ICDCode" class="form-control input-normal" id="ICDCode" for-alpha-numeric ng-required="injury" ng-model="DISEASECLASSIFICATION.ICDCODE"
                                                        maxlength="50" ng-click="ICDModalToggle('Injury')" required>
                                                </div>
                                                <p class="text-error" ng-show="(form.diseaseClassification.submitted && form.diseaseClassification.ICDCode.$invalid) || (form.diseaseClassification.ICDCode.$touched && form.diseaseClassification.ICDCode.$invalid)">
                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                    Enter Valid ICD Code
                                                </p>
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                                <label for="ShortD" required>Short Description</label>
                                                <div>
                                                    <input type="text" name="ShortD" class="form-control input-normal" for-alpha-numeric id="ShortD" ng-required="injury" ng-model="DISEASECLASSIFICATION.SHORTDESCRIPTION" 
                                                     maxlength="200" required>
                                                </div>
                                                <p class="text-error" ng-show="(form.diseaseClassification.submitted && form.diseaseClassification.ShortD.$invalid) || (form.diseaseClassification.ShortD.$touched && form.diseaseClassification.ShortD.$invalid)">
                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                    Enter Valid Short Description
                                                </p>
                                            </div>
                                            <div class="row">
                                            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                                <label for="LongD" required>Long Description</label>
                                                <div>
                                                    <input type="text" name="LongD" class="form-control input-normal" id="LongD" for-alpha-numeric ng-required="injury" ng-model="DISEASECLASSIFICATION.LONGDESCRIPTION"
                                                     maxlength="400" required>
                                                </div>
                                                <p class="text-error" ng-show="(form.diseaseClassification.submitted && form.diseaseClassification.LongD.$invalid) || (form.diseaseClassification.LongD.$touched && form.diseaseClassification.LongD.$invalid)">
                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                    Enter Valid Long Description
                                                </p>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-target="#DischargeDetailsPanel">
                                    <h4 class="panel-title">
                                        <b>Discharge Details</b>
                                    </h4>
                                </div>
                                <div id="DischargeDetailsPanel" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">

                                            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                                <label for="status" required>Status at Discharge</label>
                                                <div>
                                                    <input type="text" name="status" class="form-control input-normal" id="status" ng-model="DISEASECLASSIFICATION.DISCHARGESTATUS"
                                                         readonly>
                                                </div>
                                                <p class="text-error" ng-show="(form.diseaseClassification.submitted && form.diseaseClassification.status.$invalid) || (form.diseaseClassification.status.$touched && form.diseaseClassification.status.$invalid)">
                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                    Enter Valid Status at Discharge
                                                </p>
                                            </div>



                                            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                                <label for="ICDCode2" required>ICD Code</label>
                                                <div>
                                                    <input type="text" name="ICDCode2" class="form-control input-normal" id="ICDCode2" for-alpha-numeric for-alpha-numeric ng-model="DISEASECLASSIFICATION.DISCHARGEICDCODE"
                                                     maxlength="50" ng-click="ICDModalToggle('Discharge')" required>
                                                </div>
                                                <p class="text-error" ng-show="(form.diseaseClassification.submitted && form.diseaseClassification.ICDCode2.$invalid) || (form.diseaseClassification.ICDCode2.$touched && form.diseaseClassification.ICDCode2.$invalid)">
                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                    Enter Valid ICD Code
                                                </p>
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                                <label for="ShortD2" required>Short Description</label>
                                                <div>
                                                    <input type="text" name="ShortD2" class="form-control input-normal" id="ShortD2" for-alpha-numeric ng-model="DISEASECLASSIFICATION.DISCHARGESHORTDESCRIPTION"
                                                     maxlength="200" required>
                                                </div>
                                                <p class="text-error" ng-show="(form.diseaseClassification.submitted && form.diseaseClassification.ShortD2.$invalid) || (form.diseaseClassification.ShortD2.$touched && form.diseaseClassification.ShortD2.$invalid)">
                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                    Enter Valid Short Description
                                                </p>
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                                <label for="LongD2" required>Long Description</label>
                                                <div>
                                                    <input type="text" name="LongD2" class="form-control input-normal" id="LongD2" for-alpha-numeric ng-model="DISEASECLASSIFICATION.DISCHARGELONGDESCRIPTION"
                                                         maxlength="400" required>
                                                </div>
                                                <p class="text-error" ng-show="(form.diseaseClassification.submitted && form.diseaseClassification.LongD2.$invalid) || (form.diseaseClassification.LongD2.$touched && form.diseaseClassification.LongD2.$invalid)">
                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                    Enter Valid Long Description
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-target="#ICD10Details">
                                    <h4 class="panel-title">
                                        <b>ICD 10 and PCS Details</b>
                                    </h4>
                                </div>
                                <div id="ICD10Details" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="table-responsive col-sm-12 force-overflow style-4">

                                                <table class="table table-bordered table-striped custom-table" cellpadding="0" cellspacing="0" border="0">
                                                    <thead class="custom-table-header">
                                                        <tr>
                                                            <th>Sl. No.</th>
                                                            <th></th>
                                                            <th> Diagnosis Name </th>
                                                            <th> ICD Code</th>
                                                            <th> Short Description</th>
                                                            <th> Long Description </th>
                                                            <th>Name of Surgery</th>
                                                            <th>ICD 10 PCS code</th>
                                                            <th>Line of treatment</th>
                                                            <th>Route of Drug Administration</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="x in ICD10PCSDETAILS">
                                                            <td>
                                                                 {{(currentPosition-1)*10 + $index+1 }}
                                                            </td>
                                                            <td>
                                                                {{x.DIAGNOSIS}}
                                                            </td>
                                                            <td>
                                                                <input type="text " maxlength="200" ng-required="ICDAdded[$index] == true" id="diagnosis[$index]" for-alpha-numeric class="form-control input-normal" data-ng-model="x.DIAGNOSISNAME">
                                                                <p class="text-error" ng-show="(form.diseaseClassification.submitted && form.diagnosis[$index].procedure.$invalid) || (form.diseaseClassification.diagnosis[$index].$touched && form.diseaseClassification.diagnosis[$index].$invalid)">
                                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                                    Enter Valid Diagnosis
                                                                </p>
                                                            </td>
                                                            <td>
                                                                <input type="text " maxlength="50" ng-required="ICDAdded[$index] == true" id="ICDCode[$index]" for-alpha-numeric ng-click ="ICDModalToggleICD($index)" class="form-control input-normal" data-ng-model="x.ICDCODE">
                                                            </td>
                                                            <td>
                                                                <input type="text " maxlength="200" ng-required="ICDAdded[$index] == true" id="ShortDescription[$index]" for-alpha-numeric class="form-control input-normal" data-ng-model="x.SHORTDESCRIPTION">
                                                            </td>
                                                            <td>
                                                                <input type="text " maxlength="200" ng-required="ICDAdded[$index] == true" id="LongDescription[$index]" for-alpha-numeric class="form-control input-normal" data-ng-model="x.LONGDESCRIPTION">
                                                            </td>
                                                            <td>
                                                                <input type="text " maxlength="200" ng-required="ICDAdded[$index] == true" id="SurgeryName[$index]" for-alpha-numeric class="form-control input-normal" data-ng-model="x.SURGERYNAME">
                                                            </td>
                                                            <td>
                                                                <input type="text " maxlength="200" ng-required="ICDAdded[$index] == true" id="PSCCode[$index]" for-alpha-numeric class="form-control input-normal" data-ng-model="x.PSCCODE">
                                                            </td>
                                                            <td>
                                                                <select class="form-control input-normal" ng-required="ICDAdded[$index] == true" id="LineOfTreatment[$index]" for-alpha-numeric class="form-control input-normal" data-ng-model="x.LINEOFTREATEMENT">
                                                                    <option value="">--Select--</option>
                                                                    <option value="Medical">Medical</option>
                                                                    <option value="Surgical">Surgical</option>
                                                                    <option value="Both">Both</option>
                                                                </select>
                                                            </td>

                                                            <td>
                                              
                                                                <select class="form-control input-normal" ng-required="ICDAdded[$index] == true" id="DrugRoute[$index]" class="form-control input-normal"
                                                                    data-ng-model="x.DRUGROUTE">
                                                                    <option value="">--Select--</option>
                                                                    <option value="Oral">Oral</option>
                                                                    <option value="IV">IV</option>
                                                                    <option value="IM">IM</option>
                                                                    <option value="ALL">All</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                           <span class="glyphicon glyphicon-trash" ng-click="deleteRowICD10($index)"></span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                        
                                            <button type="button" class="common-button first-button" ng-click="addRowICDAdded()" style="margin:15px">
                                                Add Row</button>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                                <label for="ailement" required>Procedure Details</label>
                                                <div>
                                                    <input type="text" name="procedure" class="form-control input-normal" for-alpha-numeric id="procedure" ng-model="DISEASECLASSIFICATION.PROCEDUREDETAILS"  maxlength="200" required>
                                                </div>
                                                <p class="text-error" ng-show="(form.diseaseClassification.submitted && form.diseaseClassification.procedure.$invalid) || (form.diseaseClassification.procedure.$touched && form.diseaseClassification.procedure.$invalid)">
                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                    Enter Valid Procedure Details
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                    </div>

                    <div class="col-sm-12 col-md-12 col-xs-12" style="margin-top:10px">
                        <div class="slight-margin-top slight-right-margin pull-right">
                            <div class="row">
                                <div class="left-right-margin">
                                    <button type="button" class="common-button first-button" ng-click="endUserTask()">Submit</button>
                                    <button type="button" class="common-button second-button" ng-click="addUpdateDiseaseClassification()">Save</button>
                                    <button type="button" class="common-button" ng-click="ClearDiseaseClassification()">Clear</button>
                                    <button type="button" class="common-button" ng-click="">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2" style="border-left: 0.3px solid #CCC;">
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button class="common-button first-button" data-toggle="modal" ng-click="getCaseManagement()" href="#tagClaimModal">
                                 {{!!CASEMAPPING.HEALTHCASECLAIMMAPPINGID ? "Change Case Tagging" : "Tag Case to Claim"}}
                                
                            </button>
                        </div>
                        <div class="form-group col-xs-12">
                            <label>Case Name</label>
                            <div>
                                <input type="text " name="" class="form-control input-sm" ng-model="CASEMAPPING.CASENAME" disabled>
                            </div>

                        </div>
                        <div class="form-group col-xs-12">
                            <label>Case Status</label>
                            <div>
                                <input type="text " name="" class="form-control input-sm" ng-model="CASEMAPPING.CASESTATUS" disabled>
                            </div>

                        </div>

                        <div class="form-group col-xs-12">
                            <label>Case Type</label>
                            <div>
                                <input type="text " name="" class="form-control input-sm" ng-model="CASEMAPPING.CASETYPE" disabled>
                            </div>

                        </div>

                        <div class="form-group col-xs-12">
                            <label>Case Sub-type</label>
                            <div>
                                <input type="text " name="" class="form-control input-sm" ng-model="CASEMAPPING.CASESUBTYPE" disabled>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

    

        </form>
                <div id="tagClaimModal" class="modal fade" tabindex="-1">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">Tag Claim to Case</h4>
                            </div>
                
                            <div class="modal-body style-4">
                                <div class="row">
                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="PolicyNumberSearch">Policy Number</label>
                                        <div>
                                            <input type="text" name="PolicyNumberSearch" class="form-control input-normal" id="PolicyNumberSearch" ng-model="tagClaimSearch.POLICYNUMBER"
                                                readonly>
                                        </div>
                                       
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="MemberIDSearch">Member ID</label>
                                        <div>
                                            <input type="text" name="MemberIDSearch" class="form-control input-normal" id="MemberIDSearch" ng-model="claimSummary.MEMBERID"
                                                 readonly>
                                        </div>
                                        
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="ClaimIDSearch" >Claim ID</label>
                                        <div>
                                            <input type="text" name="ClaimIDSearch" class="form-control input-normal" id="ClaimIDSearch" ng-model="claimSummary.CLAIMNUMBER" readonly>
                                        </div>
                                       
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="FeatureSearch">Feature</label>
                                        <div>
                                            <input type="text" name="FeatureSearch" class="form-control input-normal" id="FeatureSearch" ng-model="claimSummary.FEATURE" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="ProductNameSearch">Product Name</label>
                                        <div>
                                            <input type="text" name="ProductNameSearch" class="form-control input-normal" id="ProductNameSearch" ng-model="claimSummary.PRODUCTNAME" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="AgeSearch">Age</label>
                                        <div>
                                            <input type="text" name="AgeSearch" class="form-control input-normal" id="AgeSearch" ng-model="tagClaimSearch.AGE" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="AgeSearch">Gender</label>
                                        <div>
                                            <input type="text" name="AgeSearch" class="form-control input-normal" id="AgeSearch" ng-model="tagClaimSearch.GENDER" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="table-responsive col-sm-12 force-overflow style-4">
                                
                                    <table class="table table-bordered table-striped custom-table">
                                        <thead class="custom-table-header">
                                            <tr>
                                              
                                                <th>Sl. No.</th>
                                                <th>Case ID</th>
                                                <th>Case Name</th>
                                                <th>Case type</th>
                                                <th>Sub Type</th>
                                                <th>Illness</th>
                                                <th>Description</th>
                                                <th>ICD Codes</th>
                                                <th>Status</th>
                                                <th></th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                             <tr ng-repeat="x in CaseManagement" ng-show="CaseManagement.length > 0">
                                                <td>
                                                    {{(currentPosition-1)*10 + $index+1 }}
                                                </td>
                                                <td>
                                                    {{x.HEALTHCASEMANAGEMENTMASTERID}}
                                                </td>
                                                <td>
                                                    {{x.CASENAME}}
                                                </td>
                                                <td>
                                                    {{x.CASETYPE}}
                                                </td>
                                                <td>
                                                    {{x.SUBTYPE}}
                                                </td>
                                                <td>
                                                    {{x.ILLNESS}}
                                                </td>
                                                <td>
                                                    {{x.DESCRIPTION}}
                                                </td>
                                                <td>
                                                    {{x.ICDCODECHAPTER}}
                                                </td>
                                                <td>
                                                    {{x.ICDCODECHAPTER}}
                                                </td>
                                                <td>
                                                    <button type="button" class="common-button first-button" data-dismiss="modal" ng-click="addUpdateCaseManagement(x)">Tag</button>
                                                </td> 
                                            </tr>
                                            <tr ng-show="CaseManagement.length <= 0">
                                            <td colspan="9">No records found !!</td>
                                            </tr>
                                        </tbody>
                                 </table>
                                </div>
                            </div>
                            </div>
                
                           
                            <div class="modal-footer ">
                
                                <button type="button" class="common-button first-button" data-dismiss="modal">Close</button>
                
                            </div>
                        </div>
                    </div>
                </div>

                <div id="ICDCodeModal" class="modal fade" tabindex="-1">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">ICD Code Selection</h4>
                            </div>
                
                            <div class="modal-body style-4">
                                <div class="row">
                                    <!-- <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="ICDCode">ICD Code</label>
                                        <div>
                                            <input type="text" name="ICDCode" class="form-control input-normal" id="ICDCode" ng-model="searchICD.ICDCODE"
                                                >
                                        </div>
                                    </div> -->
                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="shortDescription">Short Description</label>
                                        <div>
                                            <input type="text" name="shortDescription" class="form-control input-normal" id="shortDescription" ng-model="searchICD.SHORTDESCRIPTION" >
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="longDescription">Long Description</label>
                                        <div>
                                            <input type="text" name="longDescription" class="form-control input-normal" id="longDescription" ng-model="searchICD.LONGDESCRIPTION"
                                                >
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                        <label for="shortDescription"></label>
                                    <div>
                                        <button type="button" class="common-button first-button" ng-click="getICDData(1)"><span class="glyphicon glyphicon-search"></span></button>
                                    </div>
                                    </div>

                                    <div class="table-responsive col-sm-12 force-overflow style-4">
                                    
                                        <table class="table table-bordered table-striped custom-table">
                                            <thead class="custom-table-header">
                                                <tr>
                                    
                                                    <th>Sl. No.</th>
                                                    <th>ICD Code</th>
                                                    <th>Short Description</th>
                                                    <th>Long Description</th>
                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="x in ICDSearchData" ng-show="ICDSearchData.length > 0" ng-dblclick="selectICDCode(x)">
                                                    <td>
                                                        {{(currentPosition-1)*10 + $index+1 }}
                                                    </td>
                                                    <td>
                                                        {{x.ICDCODE}}
                                                    </td>
                                                    <td>
                                                        {{x.SHORTDESCRIPTION}}
                                                    </td>
                                                    <td>
                                                        {{x.LONGDESCRIPTION}}
                                                    </td> 
                                                </tr>
                                                <tr ng-show="ICDSearchData.length <= 0">
                                                    <td colspan="4">No records found !!</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                <div class="col-sm-12">
                                    <div class="pull-left " ng-show="ICDtotalPages > 0">
                                        <label></label>
                                
                                        <span class="">
                                            <b>Showing {{(ICDcurrentPosition-1) * ICDpageSize + 1}} - {{(ICDcurrentPosition-1) * ICDpageSize + ICDpageSize
                                                < ICDresultCount ? (ICDcurrentPosition-1) * ICDpageSize + ICDpageSize :ICDresultCount}} of {{ICDresultCount}} records</b>
                                        </span>
                                    </div>
                                
                                    <div class="pull-right" ng-show="ICDtotalPages > 0">
                                        <div class="shift-right">
                                            <a href="#" ng-click="getICDData(ICDtotalPages)" ng-class="{'not-active' : ICDcurrentPosition == ICDtotalPages}">
                                                <span class="glyphicon glyphicon-forward"></span>
                                            </a>
                                        </div>
                                
                                        <div class="shift-right">
                                            <a href="#" ng-click="getICDData(ICDcurrentPosition+1)" ng-class="{'not-active' : ICDcurrentPosition == ICDtotalPages}">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>
                                        </div>
                                
                                        <div class="shift-right" ng-hide="ICDcurrentPosition + 1 >=ICDtotalPages || ICDtotalPages <=3">
                                            <span>... </span>
                                            <a href="#" ng-click="getICDData(ICDtotalPages)" ng-class="{'not-active' : ICDcurrentPosition == ICDtotalPages}">
                                                <span>{{ICDtotalPages}}</span>
                                            </a>
                                        </div>
                                
                                        <div class="shift-right" ng-hide="ICDnextPage == 0" ng-class="{'pag-active' : ICDtotalPages == ICDcurrentPosition}">
                                            <a href="#" ng-click="getICDData(ICDnextPage)">
                                                <span>{{ICDnextPage}}</span>
                                            </a>
                                        </div>
                                
                                        <div class="shift-right" ng-class="{'pag-active' : !((ICDtotalPages == ICDcurrentPosition && ICDcurrentPosition != 2) ||(ICDcurrentPosition == 1 && ICDtotalPages > 2)) || ICDtotalPages == 1}">
                                            <a href="#" ng-click="getICDData(ICDmiddlePage)">
                                                <span>{{ICDmiddlePage}}</span>
                                            </a>
                                        </div>
                                
                                        <div class="shift-right" ng-hide="ICDpreviousPage == 0" ng-class="{'pag-active' : ICDcurrentPosition == 1}">
                                            <a href="#" ng-click="getICDData(ICDpreviousPage)">
                                                <span>{{ICDpreviousPage}}</span>
                                            </a>
                                        </div>
                                
                                        <div class="shift-right" ng-show="ICDcurrentPosition > 2 && ICDtotalPages > 3">
                                
                                            <a href="#" ng-click="getICDData(1)">
                                                <span>1</span>
                                            </a>
                                            <span> ...</span>
                                        </div>
                                
                                        <div class="shift-right">
                                            <a href="#" ng-click="getICDData(ICDcurrentPosition-1)" ng-class="{'not-active' : ICDcurrentPosition == 1}">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>
                                        </div>
                                
                                        <div class="shift-right">
                                            <a href="#" ng-click="getICDData(1)" ng-class="{'not-active' : ICDcurrentPosition == 1}">
                                                <span class="glyphicon glyphicon-backward"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                </div>
                            <div class="modal-footer ">
                                    <button type="button" class="common-button first-button" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


    </div>


</div>






<script>

    //date time picker for date of admission
    $('.datetimepickeradmitdate').datetimepicker({
        useCurrent: false,
        format: 'DD-MM-YYYY',
        maxDate: new Date(),
    });
    $('.datetimepickeradmitdate-addon').on('click', function () {
        $(this).prev('input.datetimepickeradmitdate').data('DateTimePicker').toggle();
    });