<head>
</head>

<div id="cover">
    <div class="loader">
    </div>
</div>

<div ng-show="alertModal" class="alert" style="display : block" role="alert"
    ng-class="{success:success,error:error,warning:warning}">
    <span class="pull-right" ng-click="alertModal=false;error=false;success=false;warning=false;">
        <span>&nbsp;&times;</span>
    </span>
    <strong>{{errCode}}</strong> {{errDesc}}
    <br>
    <a ng-show="alertModalError" data-toggle="collapse" data-target="#demo">
        <strong>
            <u>Error Details</u>
        </strong>
    </a>
    <div ng-show="alertModalError" id="demo" class="collapse">
        <textarea style="width: 100%;" readonly rows="5" cols="50">{{errDtls}}</textarea>
    </div>
</div>

<fieldset class="HealthMainPage">
    <div class="container-fluid white-background maindiv">

        <div class="mainheader">
            <button type="button" id="sidebarCollapse"
                class="common-button-sidebar btn btn-primary navbar-btn never_disable shadow1" ng-click="openNav()">
                <i class="glyphicon glyphicon-align-left"></i>
            </button>
            <div class="headerNav pull-right">
                <center>
                    <div class="">
                        <div class="box3">
                            <p class="box-content" title="">
                                <b>Policy No.</b>
                                <br>
                            </p>
                        </div>
                        <div class="box3">
                            <p class="box-content" title="">
                                <b>Policy Status</b>
                                <br>
                            </p>
                        </div>
                        <div class="box3">
                            <p class="box-content" title="">
                                <b>Member ID</b>
                                <br>
                            </p>
                        </div>
                        <div class="box3">
                            <p class="box-content" title="">
                                <b>Policy Effective Date</b>
                                <br>
                            </p>
                        </div>
                        <div class="box3">
                            <p class="box-content" title="">
                                <b>Policy Expiry Date</b>
                                <br>
                            </p>
                        </div>
                        <div class="box3">
                            <p class="box-content" title="">
                                <b>Product Name</b>
                                <br>
                            </p>
                        </div>
                        <div class="box3">
                            <p class="box-content" title="">
                                <b>Claim Number</b>
                                <br>
                                {{claimSummary.CLAIMNUMBER}}
                            </p>
                        </div>
                        <div class="box3">
                            <p class="box-content" title="">
                                <b>Claim Status</b>
                                <br>
                                {{claimSummary.CLAIMSTATUS}}
                            </p>
                        </div>
                    </div>
                    <div class="">

                        <div class="box3">
                            <p class="box-content" title="">
                                <b>Claim Sub-Status</b>
                                <br>
                                {{claimSummary.CLAIMSUBSTATUS}}
                            </p>
                        </div>
                        <div class="box3">
                            <p class="box-content" title="">
                                <b>Sum Insured</b>
                                <br>
                            </p>
                        </div>
                        <div class="box3">
                            <p class="box-content" title="">
                                <b>Cumulative Bonus</b>
                                <br>
                            </p>
                        </div>
                        <div class="box3">
                            <p class="box-content" title="">
                                <b>Total SI</b>
                                <br>
                            </p>
                        </div>
                        <div class="box3">
                            <p class="box-content" title="">
                                <b>Utilized SI</b>
                                <br>
                            </p>
                        </div>
                        <div class="box3">
                            <p class="box-content" title="">
                                <b>Reserved</b>
                                <br>
                            </p>
                        </div>
                        <div class="box3">
                            <p class="box-content" title="">
                                <b>Balance SI</b>
                                <br>
                            </p>
                        </div>
                        <div class="box3">
                            <p class="box-content" title="">
                                <b>Corporate Buffer</b>
                                <br>
                            </p>
                        </div>

                    </div>
                </center>
            </div>
        </div>
        <div class="mainContent" ng-init="form={}">

            <div class="col-md-2 col-xs-2 leftTabDiv" id="leftNavBar">
                <ul class="leftTabs nav nav-tabs">
                    <li></li>
                    <li><a data-toggle="tab" href="#Reserve" id="ReserveAnchorTag" ng-click="getTabData('RESERVE')"
                            title="Reserve">Reserve
                        </a></li>
                    <li class="active"><a data-toggle="tab" href="#claimRegistration" id="claimRegistrationAnchorTag"
                            ng-click="getTabData('CLAIMREGISTRATIONTAB')" title="Claim Registration">Claim
                            Registration</a></li>
                    <li><a data-toggle="tab" href="#icdPcsCoding" id="icdPcsCodingAnchorTag"
                            ng-click="getTabData('ICDPCSCODING')" title="ICD/PCS Coding">ICD/PCS Coding</a></li>
                    <li><a data-toggle="tab" href="#commercialApproval" id="commercialApprovalAnchorTag"
                            ng-click="getTabData('COMMERCIALAPPROVAL')" title="Commercial Approval">Commercial
                            Approval</a></li>
                    <li><a data-toggle="tab" href="#medicalApproval" id="medicalApprovalAnchorTag"
                            ng-click="getTabData('MEDICALAPPROVAL')" title="Medical Approval">Medical Approval</a></li>
                </ul>
            </div>
            <div class="container-fluid  parent-content shadow tab-content style-4">
                <div id="Reserve" class="tab-pane fade">

                    <ul class="nav nav-tabs next-tab">
                        <li class="active"><a data-toggle="tab" href="#reserve"> Reserve Details</a></li>
                    </ul>
                    <div class="reserveView tab-content">
                        <div id="reserve" class="tab-pane fade in active style-4">
                            <div ng-include="ReserveURL">

                            </div>
                        </div>
                    </div>
                </div>
                <div id="claimRegistration" class="tab-pane fade in active" ng-cloak>
                    <ul class="nav nav-tabs next-tab">
                        <li class="active" ng-if="TYPE == 'INWARD'"><a data-toggle="tab"
                                href="#InsuredPersonHospitalizedDetails">Insured Person Details</a></li>
                        <li ng-if="TYPE == 'INWARD'"><a data-toggle="tab" href="#InsuranceHistory"
                                id="InsuranceHistoryAnchorTag">Insurance History</a>
                        </li>
                        <li ng-if="TYPE == 'INWARD'"><a data-toggle="tab" href="#ProviderDetails"
                                id="ProviderDetailsAnchorTag">Provider Details</a>
                        </li>
                        <li ng-if="TYPE == 'INWARD'"><a data-toggle="tab" href="#HospitalizatinDetails"
                                id="HospitalizatinDetailsAnchorTag">Hospitalization
                                Details</a></li>
                        <li ng-if="TYPE == 'INWARD'"><a data-toggle="tab" href="#BankDetails"
                                id="BankDetailsAnchorTag">Bank Details</a></li>
                        <li ng-if="TYPE == 'INWARD'"><a data-toggle="tab" href="#InvoiceAddition"
                                id="InvoiceAdditionAnchorTag">Invoice Addition</a>
                        </li>
                        <li ng-if="TYPE == 'INWARD'"><a data-toggle="tab" href="#BillingScreen"
                                id="BillingScreenAnchorTag">Billing</a></li>
                        <li ng-if="TYPE == 'INWARD'"><a data-toggle="tab" href="#BenefitWiseScreen"
                                id="BenefitWiseScreenAnchorTag">Benefit Wise
                                Screen</a>
                        </li>

                        <li class="active" ng-if="TYPE == 'PRE-AUTH'"><a data-toggle="tab" href="#MemberDetails"
                                id="MemberDetailsAnchorTag">Member
                                Details</a></li>
                        <li ng-if="TYPE == 'PRE-AUTH'"><a data-toggle="tab" href="#ProviderDetails"
                                id="ProviderDetailsAnchorTag">Provider Details</a>
                        </li>
                        <li ng-if="TYPE == 'PRE-AUTH'"><a data-toggle="tab" href="#PatientDetailsFromHospital"
                                id="PatientDetailsFromHospitalAnchorTag">Patient
                                Details</a></li>
                        <li ng-if="TYPE == 'PRE-AUTH'"><a data-toggle="tab" href="#PatientAdmissionDetails"
                                id="PatientAdmissionDetailsAnchorTag">Patient
                                Admission Details</a></li>
                        <li ng-if="TYPE == 'PRE-AUTH'"><a data-toggle="tab" href="#InvoiceAddition"
                                id="InvoiceAdditionAnchorTag">Invoice Addition</a>
                        </li>
                        <li ng-if="TYPE == 'PRE-AUTH'"><a data-toggle="tab" href="#BillingScreen"
                                id="BillingScreenAnchorTag">Billing</a></li>

                    </ul>

                    <div class="mainview tab-content">
                        <div ng-if="TYPE == 'INWARD'" id="InsuredPersonHospitalizedDetails"
                            class="tab-pane fade in active style-4">
                            <div ng-include="InsuredPersonHospitalizedDetailsURL">

                            </div>
                        </div>
                        <div ng-if="TYPE == 'INWARD'" id="InsuranceHistory" class="tab-pane fade style-4">
                            <div ng-include="InsuranceHistoryURL">

                            </div>
                        </div>
                        <div ng-if="TYPE == 'INWARD'" id="ProviderDetails" class="tab-pane fade style-4">
                            <div ng-include="ProviderDetailsURL">

                            </div>
                        </div>
                        <div ng-if="TYPE == 'INWARD'" id="HospitalizatinDetails" class="tab-pane fade style-4">
                            <div ng-include="HospitalizatinDetailsURL">

                            </div>
                        </div>
                        <div ng-if="TYPE == 'INWARD'" id="BankDetails" class="tab-pane fade style-4">
                            <div ng-include="BankDetailsURL">

                            </div>
                        </div>
                        <div ng-if="TYPE == 'INWARD'" id="InvoiceAddition" class="tab-pane fade style-4">
                            <div ng-include="InvoiceAdditionURL">

                            </div>
                        </div>
                        <div ng-if="TYPE == 'INWARD'" id="BillingScreen" class="tab-pane fade style-4">
                            <div ng-include="BillingScreenURL">

                            </div>
                        </div>
                        <div ng-if="TYPE == 'INWARD'" id="BenefitWiseScreen" class="tab-pane fade style-4">
                            <div ng-include="BenefitWiseScreenURL">

                            </div>
                        </div>

                        <div ng-if="TYPE == 'PRE-AUTH'" id="MemberDetails" class="tab-pane fade in active style-4">
                            <div ng-include="MemberDetailsURL">

                            </div>

                        </div>
                        <div ng-if="TYPE == 'PRE-AUTH'" id="ProviderDetails" class="tab-pane fade style-4">
                            <div ng-include="ProviderDetailsURL">

                            </div>
                        </div>
                        <div ng-if="TYPE == 'PRE-AUTH'" id="PatientDetailsFromHospital" class="tab-pane fade style-4">
                            <div ng-include="PatientDetailsFromHospitalURL">

                            </div>
                        </div>
                        <div ng-if="TYPE == 'PRE-AUTH'" id="PatientAdmissionDetails" class="tab-pane fade style-4">
                            <div ng-include="PatientAdmissionDetailsURL">

                            </div>
                        </div>
                        <div ng-if="TYPE == 'PRE-AUTH'" id="InvoiceAddition" class="tab-pane fade style-4">
                            <div ng-include="InvoiceAdditionURL">

                            </div>
                        </div>
                        <div ng-if="TYPE == 'PRE-AUTH'" id="BillingScreen" class="tab-pane fade style-4">
                            <div ng-include="BillingScreenURL">

                            </div>
                        </div>


                    </div>
                </div>
                <div id="icdPcsCoding" class="tab-pane fade">
                    <div id="icdPcsCoding" class="style-4">
                        <div ng-include="icdPcsCodingURL">

                        </div>
                    </div>
                </div>
                <div id="commercialApproval" class="tab-pane fade">
                    <div id="commercialApproval" class="style-4">
                        <div ng-include="commercialApprovalURL">

                        </div>
                    </div>
                </div>
                <div id="medicalApproval" class="tab-pane fade">
                    <div id="medicalApproval" class="style-4">
                        <ul class="nav nav-tabs next-tab">
                            <li class="active"><a data-toggle="tab" href="#medicalPastHistory"> Medical Past History</a></li>
                            <li><a data-toggle="tab" href="#medicalAdjuducation"> Medical Adjudication</a></li>
                        </ul>
                        <div class="reserveView tab-content">
                            <div id="medicalPastHistory" class="tab-pane fade in active style-4">
                                <div ng-include="medicalPastHistoryURL">

                                </div>
                            </div>
                            <div id="medicalAdjuducation" class="tab-pane fade style-4">
                                <div ng-include="medicalAdjuducationURL">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mainfooter">
            <div>
                <center>
                    <ol class="breadcrumb">
                        <li ng-click="getFooterData('CLAIMFLAG')"> <a href="#">Claims Flag</a></li>
                        <li ng-click="getFooterData('CLAIMHISTORY')"> <a href="#">Claim History</a></li>
                        <li ng-click="getFooterData('POLICYDETAILS')"><a href="#">Policy Details</a></li>
                        <li ng-click="getFooterData('NOTES')"> <a href="#">Notes</a></li>
                        <li ng-click="getFooterData('BSI')"> <a href="#">BSI</a></li>
                        <li ng-click="getFooterData('TRANSACTION')"> <a href="#">Transaction</a></li>
                        <li ng-click="getFooterData('INWARDDETAILS')"><a href="#">Inward Details</a></li>
                        <li ng-click="getFooterData('COMMUNICATIONSENT')"><a href="#">Communication Sent</a></li>
                        <li ng-click="getFooterData('DOCUMENTS')"> <a href="#">Documents</a></li>
                        <li ng-click="getFooterData('PROVIDERDETAILS')"><a href="#">Provider Details</a></li>
                    </ol>
                </center>
            </div>
        </div>

    </div>
</fieldset>

<div id="inwardDetailsModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" role="dialog" style="width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
                <div class="modal-title">
                    <h4>Inward Details</h4>
                </div>
            </div>
            <div class="modal-body">
                <fieldset ng-disabled="true">
                    <div class="table-responsive">
                        <table class="table table-bordered  custom-table">
                            <thead class="custom-table-header">
                                <tr>
                                    <th>Consignment Received Date</th>
                                    <th>Consignment Number</th>
                                    <th>Inward ID</th>
                                    <th>Number of Documents</th>
                                    <th>Claim Type</th>
                                    <th>Claim Sub Type</th>
                                    <th>Remarks</th>
                                    <th>Email ID</th>
                                    <th>Email received date</th>
                                    <th>Email received time</th>
                                    <th>Notes</th>
                                    <th>TYPE</th>

                                </tr>
                            </thead>
                            <tr data-ng-repeat="x in inwardDetailsData" ng-show="inwardDetailsData.length > 0">
                                <td>{{x.CONSIGNMENTRECDATE | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                                <td>{{x.CONSIGNMENTNUMBER}}</td>
                                <td>{{x.INWARDID}}</td>
                                <td>{{x.NUMBEROFDOCUMENT}}</td>
                                <td>{{x.CLAIMTYPE}}</td>
                                <td>{{x.CLAIMSUBTYPE}}</td>
                                <td>{{x.REMARKS}}</td>
                                <td>{{x.EMAILID}}</td>
                                <td>{{x.EMAILRECDATE | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                                <td>{{x.EMAILRECTIME | date : 'HH:mm:ss'}}</td>
                                <td>{{x.NOTES}}</td>
                                <td>{{x.TYPE}}</td>

                            </tr>
                            <tr ng-show="inwardDetailsData == undefined || inwardDetailsData.length == 0"
                                class="text-center" aria-hidden="false">
                                <td colspan="11">No records found !!</td>
                            </tr>
                        </table>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="common-button first-button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="documentDetailsModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
                <div class="modal-title">
                    <h4>Documents</h4>
                </div>
            </div>
            <div class="modal-body">


                <div class="table-responsive">
                    <table class="table table-bordered  custom-table">
                        <thead class="custom-table-header">
                            <tr>
                                <th>Doc. No.</th>
                                <th>File Name</th>
                                <th>Doc. Type</th>
                                <th>Photocopy</th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="x in documentsData" ng-show="documentsData.length > 0">
                            <td>{{$index + 1}}</td>
                            <td><a
                                    ng-click="downloadDocuments(x.HEALTHDOCUMENTMANAGEMENTID,x.OMNIDOCSID)">{{x.FILENAME}}</a>
                            </td>
                            <td>{{x.DOCUMENTTYPE}}</td>
                            <td>{{x.PHOTOCOPY}}</td>
                        </tr>
                        <tr ng-show="documentsData == undefined || documentsData.length == 0" class="text-center"
                            aria-hidden="false">
                            <td colspan="4">No records found !!</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="common-button first-button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="ClaimNumberModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
                <div class="modal-title">
                    <h4>Claim number</h4>
                </div>
            </div>
            <div class="modal-body">
                {{CLAIMNUMBER}}
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="common-button first-button" data-dismiss="modal"
                    ng-click="endUserTask()">OK</button> -->
                    <button type="button" class="common-button first-button" data-dismiss="modal"
                    ng-click="triggerBoundaryEvent()">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="gctransactionModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg" role="dialog" style="width:95%">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
                <div class="modal-title">
                    <h4>GC Transaction</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered custom-table">
                        <thead class="custom-table-header">
                            <tr>
                                <th>Feature No.</th>
                                <th>Account Line</th>
                                <th>Trans Date</th>
                                <th>Voucher No.</th>
                                <th>Trans Type</th>
                                <th>Trans Code</th>
                                <th>Trans Amount</th>
                                <th>Tds</th>
                                <th>cheque No.</th>
                                <th>GST</th>
                                <th>User ID</th>
                                <th>Approver ID</th>
                                <th>Reason</th>
                                <th>Pushed To GC</th>
                                <th>GC Pushed Date</th>
                                <th>Trans Input</th>
                                <th>Trans Output</th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="x in gctransactionData" ng-show="gctransactionData.length > 0">
                            <td>{{x.FEATURENUMBER}}</td>
                            <td>{{x.ACCOUNTLINE}}</td>
                            <td>{{x.TRANSACTIONDATETIME | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                            <td>{{x.VOUCHERNUMBER}}</td>
                            <td>{{x.TRANSACTIONNAME}}</td>
                            <td>{{x.TRANSACTIONCODE}}</td>
                            <td>{{x.TRANSAMOUNT}}</td>
                            <td>{{x.TRANSACTIONTDS}}</td>
                            <td>{{x.CHEQUENUMBER}}</td>
                            <td>{{x.GST}}</td>
                            <td>{{x.CREATEDBY}}</td>
                            <td>{{x.APPROVEDBY}}</td>
                            <td>{{x.MARKOFFREASON}}</td>
                            <td>{{x.PUSHEDTOGC | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                            <td>{{x.GCPUSHEDDATETIME | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                            <td>{{x.TRANSACTIONINPUT}}</td>
                            <td>{{x.TRANSACTIONOUTPUT}}</td>
                        </tr>
                        <tr ng-show="gctransactionData == undefined || gctransactionData.length == 0"
                            class="text-center">
                            <td colspan="17">No records found !!</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="common-button first-button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<a href="#" id="DownloadedDocument" src="" download=""></a>

<script>
    // function openNav() {
    //     $('#leftNavBar').toggleClass('activeLeftTab');
    //     debugger;
    //     if(document.getElementById("leftNavBar").style.display == "none"){
    //         //document.getElementById("leftNavBar").style.display = 'block';
    //         document.getElementById("leftNavBar").addClass("");

    //         $('#BankDetailsAnchorTag').removeClass('inActiveLeftTab')
    //         $('#BankDetailsAnchorTag').toggleClass('activeLeftTab')

    //     }else{
    //         //document.getElementById("leftNavBar").style.display = 'none';
    //         $('#BankDetailsAnchorTag').removeClass('inActiveLeftTab')
    //         $('#BankDetailsAnchorTag').addClass('activeLeftTab')
    //     }

    // }
</script>