<div class="col-md-12 clt">
    <div class="col-md-10 col-sm-10">
        <fieldset>
            <form name="form.medicalAdjucationForm">
                <div class="panel-group">
                    <!--non collapse panel-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <b>Case Details</b>
                            </h4>
                        </div>
                        <div class="panel-body">
                            <div class="form-group col-xs-12 col-sm-4 col-md-4">
                                <label for="caseName">Case Name</label>
                                <div>
                                    <input type="text" name="caseName" class="form-control input-normal" id="caseName"
                                        placeholder="Case Name" disabled
                                        ng-model="medicalAdjucation.medicalAdjucation.CASENAME" maxlength="">

                                    <p class="text-error"
                                        ng-show="(form.medicalAdjucationForm.submitted  || form.medicalAdjucationForm.caseName.$touched) && form.medicalAdjucationForm.caseName.$invalid">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter
                                        valid case name
                                    </p>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-4 col-md-4">
                                <label for="caseStatus">Case Status</label>
                                <div>
                                    <input type="text" name="caseStatus" class="form-control input-normal"
                                        id="caseStatus" disabled placeholder="Case Status"
                                        ng-model="medicalAdjucation.CASESTATUS" maxlength="">

                                    <p class="text-error"
                                        ng-show="(form.medicalAdjucationForm.submitted  || form.medicalAdjucationForm.caseStatus.$touched) && form.medicalAdjucationForm.caseStatus.$invalid">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter
                                        valid case
                                        status
                                    </p>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-4 col-md-4">
                                <label for="caseType">Case Type</label>
                                <div>
                                    <input type="text" name="caseType" class="form-control input-normal" id="caseType"
                                        disabled placeholder="Case Type" ng-model="medicalAdjucation.CASETYPE"
                                        maxlength="">

                                    <p class="text-error"
                                        ng-show="(form.medicalAdjucationForm.submitted  || form.medicalAdjucationForm.caseType.$touched) && form.medicalAdjucationForm.caseType.$invalid">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter
                                        valid case type
                                    </p>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-4 col-md-4">
                                <label for="caseSubType">Case sub-type</label>
                                <div>
                                    <input type="text" name="caseSubType" class="form-control input-normal"
                                        id="caseSubType" disabled placeholder="Case sub-type"
                                        ng-model="medicalAdjucation.CASESUBTYPE" maxlength="">

                                    <p class="text-error"
                                        ng-show="(form.medicalAdjucationForm.submitted  || form.medicalAdjucationForm.caseSubType.$touched) && form.medicalAdjucationForm.caseSubType.$invalid">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter
                                        valid case
                                        sub-type
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--collapse panel-->
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-target="#medicalBillingCollapse">
                            <h4 class="panel-title">
                                <b>Billing Details</b>
                            </h4>
                        </div>
                        <div id="medicalBillingCollapse" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group col-xs-12 col-sm-4 col-md-4">
                                        <label for="negotiatedAmount">Negotiated Amount</label>
                                        <div>
                                            <input type="text" name="negotiatedAmount" class="form-control input-normal"
                                                id="negotiatedAmount" disabled placeholder="Negotiated Amount"
                                                ng-model="medicalAdjucation.NEGOTIATEDAMOUNT" maxlength="">

                                            <p class="text-error"
                                                ng-show="(form.medicalAdjucationForm.submitted  || form.medicalAdjucationForm.negotiatedAmount.$touched) && form.medicalAdjucationForm.negotiatedAmount.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter
                                                valid
                                                negotiated amount
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4 col-md-4">
                                        <label for="rejectionReason">Rejection reason</label>
                                        <div>
                                            <select name="rejectionReason" class="form-control input-normal"
                                                id="rejectionReason" ng-model="medicalAdjucation.REJECTIONREASON"
                                                maxlength="">
                                                <option value="" selected disabled>--select--</option>
                                                <option ng-repeat="x in MEDICALREJECTIONREASON">{{x}}</option>
                                            </select>
                                            <p class="text-error"
                                                ng-show="(form.medicalAdjucationForm.submitted  || form.medicalAdjucationForm.rejectionReason.$touched) && form.medicalAdjucationForm.rejectionReason.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                select valid
                                                Rejection reason
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4 col-md-4">
                                        <label for="rejectionReasonRemarks">Rejection reason remarks</label>
                                        <div>
                                            <input type="text" name="rejectionReasonRemarks"
                                                class="form-control input-normal" id="rejectionReasonRemarks"
                                                placeholder="Rejection reason remarks"
                                                ng-model="medicalAdjucation.REJECTIONREASONREMARKS" maxlength="">

                                            <p class="text-error"
                                                ng-show="(form.medicalAdjucationForm.submitted  || form.medicalAdjucationForm.rejectionReasonRemarks.$touched) && form.medicalAdjucationForm.rejectionReasonRemarks.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter
                                                valid rejection
                                                reason remarks
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12 col-sm-4 col-md-4">
                                        <label for="dateOfRejection">Date of Rejection</label>
                                        <div class="input-group date">
                                            <input type="text" name="dateOfRejection" class="form-control input-normal"
                                                id="dateOfRejection" readonly placeholder="eg : 12-02-2020 "
                                                ng-model="medicalAdjucation.DATEOFREJECTION">
                                            <span class="input-group-addon datetimepickerreporteddate-addon" readonly>
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                            <p class="text-error"
                                                ng-show="(form.medicalAdjucationForm.submitted  || form.medicalAdjucationForm.dateOfRejection.$touched) && form.medicalAdjucationForm.dateOfRejection.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter
                                                valid date of
                                                rejection
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4 col-md-4">
                                        <label for="policyClause">Policy Clause</label>
                                        <div>
                                            <select name="policyClause" class="form-control input-normal"
                                                id="policyClause" ng-model="medicalAdjucationForm.POLICYCLAUSE"
                                                maxlength="" multiple>
                                                <option value="" selected disabled>--select--</option>
                                                <option ng-repeat="x in POLICYCLAUSE">{{x}}</option>
                                            </select>

                                            <p class="text-error"
                                                ng-show="(form.medicalAdjucationForm.submitted  || form.medicalAdjucationForm.policyClause.$touched) && form.medicalAdjucationForm.policyClause.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                select valid policy
                                                clause

                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4 col-md-4">
                                        <label for="rejectionCount">Rejection Count</label>
                                        <div>
                                            <input type="number" name="rejectionCount" class="form-control input-normal"
                                                disabled id="rejectionCount" placeholder="Rejection Count"
                                                ng-model="medicalAdjucation.REJECTIONCOUNT" maxlength="">

                                            <p class="text-error"
                                                ng-show="(form.medicalAdjucationForm.submitted  || form.medicalAdjucationForm.rejectionCount.$touched) && form.medicalAdjucationForm.rejectionCount.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter
                                                valid rejection
                                                count
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12 col-sm-4 col-md-4">
                                        <label for="requestedAmount">Requested Amount</label>
                                        <div>
                                            <input type="text" name="requestedAmount" class="form-control input-normal"
                                                disabled id="requestedAmount" placeholder="eg :15500 "
                                                ng-model="medicalAdjucation.REQUESTEDAMOUNT" maxlength="">

                                            <p class="text-error"
                                                ng-show="(form.medicalAdjucationForm.submitted  || form.medicalAdjucationForm.requestedAmount.$touched) && form.medicalAdjucationForm.requestedAmount.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter
                                                valid requested
                                                Amount
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4 col-md-4">
                                        <label for="manualDisallowances">Manual Disallowances</label>
                                        <div>
                                            <input type="text" name="manualDisallowances"
                                                class="form-control input-normal" disabled id="manualDisallowances"
                                                placeholder="eg :100000"
                                                ng-model="medicalAdjucation.MANUALDISALLOWANCES" maxlength="">

                                            <p class="text-error"
                                                ng-show="(form.medicalAdjucationForm.submitted  || form.medicalAdjucationForm.manualDisallowances.$touched) && form.medicalAdjucationForm.manualDisallowances.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter
                                                valid manual
                                                disallowances
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4 col-md-4">
                                        <label for="totalDisallowances">Total Disallowances</label>
                                        <div>
                                            <input type="text" name="totalDisallowances"
                                                class="form-control input-normal" id="totalDisallowances"
                                                placeholder="eg :100000 "
                                                ng-model="medicalAdjucation.TOTALDISALLOWANCES" maxlength="">

                                            <p class="text-error"
                                                ng-show="(form.medicalAdjucationForm.submitted  || form.medicalAdjucationForm.totalDisallowances.$touched) && form.medicalAdjucationForm.totalDisallowances.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter
                                                valid total
                                                disallowances
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12 col-sm-4 col-md-4">
                                        <label for="totalApprovedAmount">Total Approved Amount</label>
                                        <div>
                                            <input type="text" name="totalApprovedAmount"
                                                class="form-control input-normal" id="totalApprovedAmount"
                                                placeholder="eg :20000" ng-model="medicalAdjucation.TOTALAPPROVEDAMOUNT"
                                                maxlength="">

                                            <p class="text-error"
                                                ng-show="(form.medicalAdjucationForm.submitted  || form.medicalAdjucationForm.totalApprovedAmount.$touched) && form.medicalAdjucationForm.totalApprovedAmount.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter
                                                valid total
                                                approved amount
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4 col-md-4">
                                        <label for="partialApproval">Partial Approval</label>
                                        <div>
                                            <select name="partialApproval" class="form-control input-normal"
                                                id="partialApproval" ng-model="medicalAdjucation.PARTIALAPPROVAL"
                                                maxlength="">
                                                <option value="NO" selected>No</option>
                                                <option value="YES" ng-disabled="medicalAdjucation.COMPLETEAPPROVAL=='YES'">Yes</option>
                                            </select>
                                            <p class="text-error"
                                                ng-show="(form.medicalAdjucationForm.submitted  || form.medicalAdjucationForm.partialApproval.$touched) && form.medicalAdjucationForm.partialApproval.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                select valid partial
                                                approval

                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4 col-md-4">
                                        <label for="reasonForPartialApproval">Reason for Partial approval</label>
                                        <div>
                                            <input type="text" name="reasonForPartialApproval"
                                                class="form-control input-normal" id="reasonForPartialApproval"
                                                placeholder="reasonForPartialApproval"
                                                ng-model="medicalAdjucation.REASONFORPARTIALAPPROVAL" maxlength="">

                                            <p class="text-error"
                                                ng-show="(form.medicalAdjucationForm.submitted  || form.medicalAdjucationForm.reasonForPartialApproval.$touched) && form.medicalAdjucationForm.reasonForPartialApproval.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter
                                                valid Reason
                                                for Partial approval

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12 col-sm-4 col-md-4">
                                        <label for="completeApproval">Complete Approval</label>
                                        <div>
                                            <select name="completeApproval" class="form-control input-normal"
                                                id="completeApproval" ng-model="medicalAdjucation.COMPLETEAPPROVAL"
                                                maxlength="">
                                                <option value="NO" selected>No</option>
                                                <option value="YES" ng-disabled="medicalAdjucation.PARTIALAPPROVAL =='YES'">Yes</option>
                                            </select>
                                            <p class="text-error"
                                                ng-show="(form.medicalAdjucationForm.submitted  || form.medicalAdjucationForm.completeApproval.$touched) && form.medicalAdjucationForm.completeApproval.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                select valid Complete
                                                Approval

                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4 col-md-4">
                                        <label for="comments">Comments</label>
                                        <div>
                                            <input type="text" name="comments" class="form-control input-normal"
                                                id="comments" placeholder="comments"
                                                ng-model="medicalAdjucation.COMMENTS" ng-disabled="medicalAdjucation.COMPLETEAPPROVAL != 'YES'" maxlength="">

                                            <p class="text-error"
                                                ng-show="(form.medicalAdjucationForm.submitted  || form.medicalAdjucationForm.comments.$touched) && form.medicalAdjucationForm.comments.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter
                                                valid Comments

                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4 col-md-4">
                                        <label for="sendDischargeVoucher">Send Discharge Voucher</label>
                                        <div>
                                            <select name="sendDischargeVoucher" class="form-control input-normal"
                                                id="sendDischargeVoucher"
                                                ng-model="medicalAdjucation.SENDDISCHARGEVOUCHER" maxlength="">
                                                <option value="NO" selected>No</option>
                                                <option value="YES">Yes</option>
                                            </select>
                                            <p class="text-error"
                                                ng-show="(form.medicalAdjucationForm.submitted  || form.medicalAdjucationForm.sendDischargeVoucher.$touched) && form.medicalAdjucationForm.sendDischargeVoucher.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                select valid Send
                                                Discharge Voucher

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12 col-sm-4 col-md-4">
                                        <label for="amountToBePaid">Amount to be paid</label>
                                        <div>
                                            <input type="text" name="amountToBePaid" class="form-control input-normal"
                                                id="amountToBePaid" placeholder="eg : 100000"
                                                ng-model="medicalAdjucation.AMOUNTTOBEPAID" maxlength="">

                                            <p class="text-error"
                                                ng-show="(form.medicalAdjucationForm.submitted  || form.medicalAdjucationForm.amountToBePaid.$touched) && form.medicalAdjucationForm.amountToBePaid.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter
                                                valid Amount to
                                                be paid

                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4 col-md-4">
                                        <label for="paidAmount">Paid Amount</label>
                                        <div>
                                            <input type="text" name="paidAmount" class="form-control input-normal"
                                                id="paidAmount" placeholder="eg :200000 "
                                                ng-model="medicalAdjucation.PAIDAMOUNT" maxlength="">

                                            <p class="text-error"
                                                ng-show="(form.medicalAdjucationForm.submitted  || form.medicalAdjucationForm.paidAmount.$touched) && form.medicalAdjucationForm.paidAmount.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter
                                                valid Paid
                                                Amount

                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4 col-md-4">
                                        <label for="remainingAmount">Remaining Amount</label>
                                        <div>
                                            <input type="text" name="remainingAmount" class="form-control input-normal"
                                                id="remainingAmount" placeholder="eg : 10000"
                                                ng-model="medicalAdjucation.REMAININGAMOUNT" maxlength="">

                                            <p class="text-error"
                                                ng-show="(form.medicalAdjucationForm.submitted  || form.medicalAdjucationForm.remainingAmount.$touched) && form.medicalAdjucationForm.remainingAmount.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please
                                                enter
                                                valid Remaining
                                                Amount

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
        <div class="pull-right">
            <button type="button" class="common-button first-button" disable-on-click
                data-ng-click="saveMedicalAdjudication('SAVEASDRAFT')">Save as draft </button>
            <button type="button" class="common-button first-button" disable-on-click
                data-ng-click="saveMedicalAdjudication('APPROVE')">Approve</button>
            <button type="button" class="common-button second-button" disable-on-click
                data-ng-click="saveMedicalAdjudication('REJECT')">Reject </button>
            <button type="button" class="common-button" disable-on-click data-ng-click="a()">Return</button>
        </div>
    </div>

    <div class="col-md-2 col-sm-2">
        <div class="row">
            <button type="button" class="common-button first-button form-control btn-sm1 ellipsis" disable-on-click
                data-ng-click="openMedicalCheckListandWarning('CHECKLIST')">Medical
                Adjudication Checklist <span class="glyphicon glyphicon-ok"></span></button>
            <button type="button" class="common-button second-button form-control btn-sm1" disable-on-click
                data-ng-click="">Investigation</button>
            <button type="button" class="common-button second-button form-control btn-sm1" disable-on-click
                data-ng-click="">Negotiation</button>
            <button type="button" class="common-button second-button form-control btn-sm1 ellipsis" disable-on-click
                data-ng-click="saveMedicalAdjudication('COMMERCIAL')">Send To
                Commercial</button>
            <button type="button" class="common-button second-button form-control btn-sm1" disable-on-click
                data-ng-click="">Query</button>
            <button type="button" class="common-button second-button form-control btn-sm1" disable-on-click
                data-ng-click="">OFR</button>
            <button type="button" class="common-button second-button form-control btn-sm1" disable-on-click
                data-ng-click="">Notes</button>
            <button type="button" class="common-button second-button form-control btn-sm1" disable-on-click
                data-ng-click="openNonDisclousureModal()">Non
                disclosure</button>
        </div>
    </div>
</div>


<div id="medicalCheckListModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" role="dialog" style="width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
                <div class="modal-title">
                    <h4>Check List</h4>
                </div>
            </div>
            <div class="modal-body">
                <form name="form.medicalCheckListForm">
                    <div class="table-responsive">
                        <table class="table table-bordered  custom-table">
                            <thead class="custom-table-header">
                                <tr>
                                    <th>Description</th>
                                    <th>#</th>
                                    <th>Comments</th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="x in medicalCheckList" ng-show="medicalCheckList.length > 0">
                                <td>{{x.DESCRIPTION}}</td>
                                <td><label class="checkboxContainer slight-margin-top">
                                        <input type="checkbox" ng-true-value="'true'" ng-false-value="'false'"
                                            data-ng-model="x.ISSELECTED">
                                        <span class="checkboxCheckmark"></span>
                                    </label>
                                </td>
                                <td><textarea type="text" name="" for-alpha rows="2" ng-class="{submitted:form.medicalCheckListForm.submitted}" ng-required="x.ISSELECTED =='true'"
                                        class="form-control input-normal" ng-model="x.COMMENTS"> </textarea></td>
                            </tr>
                            <tr ng-show=" medicalCheckList== undefined || medicalCheckList.length == 0"
                                class="text-center" aria-hidden="false">
                                <td colspan="3">No records found !!</td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="common-button first-button"
                    ng-click="saveMedicalCheckLIst('SAVE')">Save</button>
                <button type="button" class="common-button second-button"
                    ng-click="saveMedicalCheckLIst('SUBMIT')">Submit</button>
                <button type="button" class="common-button" ng-click="saveMedicalCheckLIst('RETURN')">Return</button>
            </div>
        </div>
    </div>
</div>

<div id="warningListModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" role="dialog" style="width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
                <div class="modal-title">
                    <h4>Warning List</h4>
                </div>
            </div>
            <div class="modal-body">
                <form name="form.medicalWarningListForm">
                    <div class="table-responsive">
                        <table class="table table-bordered  custom-table">
                            <thead class="custom-table-header">
                                <tr>
                                    <th>Description</th>
                                    <th>#</th>
                                    <th>Comments</th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="x in medicalWarningList" ng-show="medicalWarningList.length > 0">
                                <td>{{x.DESCRIPTION}}</td>
                                <td><label class="checkboxContainer slight-margin-top">
                                        <input type="checkbox" ng-true-value="'true'" ng-false-value="'false'"
                                            data-ng-model="x.ISSELECTED">
                                        <span class="checkboxCheckmark"></span>
                                    </label>
                                </td>
                                <td><textarea type="text" name="" for-alpha rows="2" ng-required="x.ISSELECTED =='true'" ng-class="{submitted:form.medicalWarningListForm.submitted}" class="form-control input-normal"
                                        ng-model="x.COMMENTS"> </textarea></td>
                            </tr>
                            <tr ng-show=" medicalWarningList== undefined || medicalWarningList.length == 0"
                                class="text-center" aria-hidden="false">
                                <td colspan="3">No records found !!</td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="common-button first-button"
                    ng-click="saveMedicalWarningLIst('SAVE')">Save</button>
                <button type="button" class="common-button second-button"
                    ng-click="saveMedicalWarningLIst('SUBMIT')">Submit</button>
                <button type="button" class="common-button" ng-click="saveMedicalWarningLIst('RETURN')">Return</button>
            </div>
        </div>
    </div>
</div>



<div id="nonDisclosureConditionModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
                <div class="modal-title">
                    <h4>Non disclosure</h4>
                </div>
            </div>
            <div class="modal-body">
                <form name="form.nonDisclosureForm">
                    <div class="table-responsive">
                        <table class="table table-bordered  custom-table">
                            <thead class="custom-table-header">
                                <tr>
                                    <th colspan="4" style="text-align: center;">Non disclosure condition</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Policy Number</td>
                                <td><input type="text" name="" disabled class="form-control input-sm" maxlength="20" ng-model="NONDISCLOSURE.POLICYNUMBER" ng-value="NONDISCLOSURE.POLICYNUMBER=claimSummary.POLICYNUMBER"></td>
                                <td>Member ID</td>
                                <td><input type="text" name="" disabled class="form-control input-sm" maxlength="20" ng-model="NONDISCLOSURE.MEMBERID" ng-value="NONDISCLOSURE.MEMBERID=claimSummary.MEMBERID"></td>
                            </tr>
                            <tr>
                                <td>Member First Name</td>
                                <td><input type="text" name="" disabled class="form-control input-sm" maxlength="200" ng-model="NONDISCLOSURE.MEMEBERFIRSTNAME" ng-value="NONDISCLOSURE.MEMEBERFIRSTNAME=claimSummary.MEMBERNAME"></td>
                           
                                <td>Member Last Name</td>
                                <td><input type="text" name="" disabled class="form-control input-sm" maxlength="200" ng-model="NONDISCLOSURE.MEMEBERLASTNAME" ng-value="NONDISCLOSURE.MEMEBERLASTNAME=claimSummary.MEMBERLASTNAME"></td>
                            </tr>
                            <tr>
                                <td>Non Disclosure Condition</td>
                                <td><input type="text" name="" class="form-control input-sm" required maxlength="300" ng-class="{submitted:form.nonDisclosureForm.submitted}" ng-model="NONDISCLOSURE.CONDITION"></td>
                            
                                <td>Remarks</td>
                                <td><input type="text" name="" class="form-control input-sm" required maxlength="300" ng-class="{submitted:form.nonDisclosureForm.submitted}" ng-model="NONDISCLOSURE.REMARKS"></td>
                            </tr>
                            <tr>
                                <td>UW Team Response</td>
                                <td colspan="3"><textarea type="text" name="" ng-disabled="!ClaimInfo.TASKNAME" class="form-control input-sm" ng-model="NONDISCLOSURE.RESPONSE"></textarea></td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="common-button first-button"
                    ng-click="submitNonDisclosure()" ng-hide="!!ClaimInfo.TASKNAME" ng-disabled="!ClaimInfo.TASKNAME && !!NONDISCLOSURE.HEALTHNONDISCLOSUREID">Submit</button>
                    <button type="button" class="common-button first-button"
                    ng-click="submitNonDisclosure()" ng-hide="!ClaimInfo.TASKNAME" >Submit</button>
                <button type="button" class="common-button second-button"
                    ng-click="">Cancle</button>
            </div>
        </div>
    </div>
</div>