<div class="col-md-12">
    <div class="table-responsive style-4" style="max-height:350px">
        <form name="form.medicalPastHistoryForm">
            <table class="table table-bordered  custom-table">
                <thead class="custom-table-header">
                    <tr>
                        <th>Disease</th>
                        <th>#</th>
                        <th>Period Since(month)</th>
                        <th>Date Since</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tr data-ng-repeat="x in medicalPastHistory" ng-show="medicalPastHistory.length > 0" ng-dblclick="(x)">
                    <td> <input type="text" name="" class="form-control input-sm" for-alpha ng-model="x.DISEASENAME"></td>
                    <td><select name="" class="form-control input-sm" ng-model="x.SELECTED">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                    </td>
                    <td> <input type="text" name="" class="form-control input-sm"
                            ng-class="{submitted:form.medicalPastHistoryForm.submitted}"
                            ng-required="x.SELECTED == 'true' && !x.DATESINCE" for-digit ng-model="x.PERIODSINCE"></td>
                    <td>
                        <div class="input-group date">
                            <input type="text" name="" class="form-control input-sm"
                                ng-class="{submitted:form.medicalPastHistoryForm.submitted}"
                                placeholder="eg : 12-05-2020" ng-model="x.DATESINCE" date-picker maxlength="50"
                                ng-required="x.SELECTED == 'true' && !x.PERIODSINCE">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </td>
                    <td><a ng-click="openDeletePastHistoryModal(x,$index)">delete</a></td>
                </tr>
                <tr ng-show="medicalPastHistory== undefined || medicalPastHistory.length == 0" class="text-center"
                    aria-hidden="false">
                    <td colspan="5">No records found !!</td>
                </tr>
            </table>
        </form>
    </div>
    <div class="pull-left">
        <button type="button" class="common-button second-button" disable-on-click
            data-ng-click="AddMoreItemInPastHistory()">Add More</button>
    </div>
    <div class="pull-right">
        <button type="button" class="common-button first-button" disable-on-click
            data-ng-click="saveMedicalPastHistoryData()">Save</button>
        <button type="button" class="common-button second-button" disable-on-click data-ng-click="a()">Cancel</button>
        <button type="button" class="common-button second-button" disable-on-click data-ng-click="a()">Clear</button>
        <button type="button" class="common-button first-button" disable-on-click data-ng-click="a()">Next</button>
    </div>



    <div id="DeleteHistoryConfModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">×</button>
                    <div class="modal-title">
                        <h4>Confirm ? </h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">Do u Want to delete {{dieseseNameToBeDeleted}} Disease ?</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="common-button first-button"
                        ng-click="deleteDiseaseFromDb()">Yes</button>
                    <button type="button" class="common-button second-button" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>