<div class="container css-card" style="width:40%;margin:10% 30% 15% 30%;padding:1% 1% 1% 1%">

	
    <div class="col-md-12 notificationheader">
    {{NOTIFICATION.HEADER}}
    <hr/>
    </div>
    
    <div class="col-md-12 notificationbody">
    {{NOTIFICATION.BODY}}
    </div>
    <div class="col-md-12 ">
        <button type="button " class="btn btn-primary btn-sm pull-right" disable-on-click data-ng-click="endUserTask()">     Ok     </button>
    </div>

</div>