<fieldset ng-disabled="false">
    <div class="container-fluid">
        <div class="col-md-12 clt">
            <form name="form.BankForm" novalidate>
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <b>Bank Details</b>
                            </h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                <label for="panNumber">PAN Card</label>
                                <div>
                                    <input type="text" name="panNumber" pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" class="form-control input-normal" id="panNumber"
                                        placeholder="eg : GNBPK2474L" ng-model="BankDetails.PANNUMBER" maxlength="10">

                                    <p class="text-error"
                                        ng-show="(form.BankForm.submitted  || form.BankForm.panNumber.$touched) && form.BankForm.panNumber.$invalid">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter
                                        valid PAN Card
                                    </p>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                <label for="accountNumber">Account Number</label>
                                <div>
                                    <input type="text" name="accountNumber" class="form-control input-normal"
                                        id="accountNumber" placeholder="eg : 300765834525" for-digit
                                        ng-model="BankDetails.ACCOUNTNUMBER" ng-class="{submitted:form.BankForm.submitted}" ng-required="!BankDetails.CHEQUEDDDETAILS" maxlength="12">

                                    <p class="text-error"
                                        ng-show="(form.BankForm.submitted  || form.BankForm.accountNumber.$touched) && form.BankForm.accountNumber.$invalid">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter
                                        valid Account
                                        Number
                                    </p>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                <label for="bankname">Bank Name</label>
                                <div class="input-group">
                                    <input type="text" name="bankname" for-alpha class="form-control input-normal"
                                        id="bankname" placeholder="Bank Name" ng-model="BankDetails.BANK"
                                        maxlength="150" data-toggle="modal" data-target="#bankModal" readonly>
                                    <span class="input-group-addon" data-toggle="modal" data-target="#bankModal">
                                        <span class="glyphicon glyphicon-search" style="color:#0073BB;"></span>
                                    </span>
                                    <!-- <p class="text-error"
                            ng-show="(form.BankForm.submitted  || form.BankForm.bankname.$touched) && form.BankForm.bankname.$invalid">
                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter valid Bank Name
                        </p> -->
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                <label for="branchName">Bank Branch</label>
                                <div>
                                    <input type="text" name="branchName" for-alpha class="form-control input-normal"
                                        id="branchName" placeholder="Bank Branch Name" ng-model="BankDetails.BRANCH"
                                        maxlength="150" readonly>

                                    <p class="text-error"
                                        ng-show="(form.BankForm.submitted  || form.BankForm.branchName.$touched) && form.BankForm.branchName.$invalid">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter
                                        valid Bank
                                        Branch
                                    </p>
                                </div>
                            </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                <label for="ifscCode">IFSC Code</label>
                                <div>
                                    <input type="text" name="ifscCode" class="form-control input-normal" id="ifscCode"
                                        placeholder="eg : ABHY0065005" ng-model="BankDetails.IFSC" maxlength="11"
                                        readonly>

                                    <p class="text-error"
                                        ng-show="(form.BankForm.submitted  || form.BankForm.ifscCode.$touched) && form.BankForm.ifscCode.$invalid">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter
                                        valid IFSC Code
                                    </p>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                                <label for="chequeDdPayableDetails">Cheque/DD Payable details</label>
                                <div>
                                    <input type="text" name="chequeDdPayableDetails" class="form-control input-normal"
                                        id="chequeDdPayableDetails" placeholder="Cheque/DD Payable Details"
                                        ng-model="BankDetails.CHEQUEDDDETAILS" ng-class="{submitted:form.BankForm.submitted}" ng-required="!BankDetails.ACCOUNTNUMBER" maxlength="200">

                                    <p class="text-error"
                                        ng-show="(form.BankForm.submitted  || form.BankForm.chequeDdPayableDetails.$touched) && form.BankForm.chequeDdPayableDetails.$invalid">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter
                                        valid Cheque/DD
                                        payable details
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-4 col-md-12">
                    <div class="pull-right">
                        <button type="button" class="common-button first-button"
                            data-ng-click="saveBankDetails('prev')">Previous</button>
                        <button type="button" class="common-button first-button"
                            data-ng-click="saveBankDetails()">Save</button>
                        <button type="button" class="common-button second-button"
                            data-ng-click="reset('bankform')">Clear</button>
                        <button type="button" class="common-button second-button" data-ng-click="">Cancel</button>
                        <button type="button" class="common-button"
                            data-ng-click="saveBankDetails('next')">Next</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</fieldset>

<div id="bankModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" ng-click="reset('bankSearch')">×</button>
                <div class="modal-title">
                    <h4></h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="input-group col-sm-8 col-sm-offset-2">
                    <select class="form-control" ng-model="bankSearch.SearchParam" style="width:30%"
                        ng-init="bankSearch.SearchParam = 'BANK'">
                        <option value="BANK">Bank Name</option>
                        <option value="BRANCH">Bank Branch</option>
                        <option value="IFSC">IFSC Code</option>
                    </select>
                    <input type="text" class="form-control"
                        placeholder="{{bankSearch.SearchParam == 'BANK' ?'Enter Bank Name': bankSearch.SearchParam == 'BRANCH' ? 'Enter Branch Name' :'Enter IFSC Code'}}"
                        ng-model="bankSearch.searchText" name="searchText" style="width:70%" placeholder="Email">
                    <!-- <input  type="text" class="form-control" ng-if="bankSearch.SearchParam =='BRANCH'"  ng-model="bankSearch.searchText" name="searchText" style="width:50%"
                        placeholder="Email">
                        <input  type="text" class="form-control" ng-if="bankSearch.SearchParam =='IFSC'"  ng-model="bankSearch.searchText" name="searchText" style="width:50%"
                        placeholder="Email"> -->
                    <span class="input-group-addon" ng-click="getBankDetails()"><i
                            class="glyphicon glyphicon-search"></i></span>
                    <span class="input-group-addon" ng-click="reset('bankSearch')"><i
                            class="glyphicon glyphicon-remove"></i></span>
                </div>
                <div class="tableContent">
                    <table class="table table-bordered  custom-table">
                        <thead class="custom-table-header">
                            <tr>
                                <th>Bank Name</th>
                                <th>Bank Branch</th>
                                <th>IFSC Code</th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="x in bankDetailsData" ng-show="bankDetailsData.length > 0"
                            ng-dblclick="setBankDetail(x)">
                            <td>{{x.BANK}}</td>
                            <td>{{x.BRANCH}}</td>
                            <td>{{x.IFSC}}</td>
                        </tr>
                        <tr ng-show=" bankDetailsData== undefined || bankDetailsData.length == 0" class="text-center"
                            aria-hidden="false">
                            <td colspan="3">No records found !!</td>
                        </tr>
                    </table>
                </div>
                <div class="paginaiton">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="common-button first-button" ng-click="reset('bankSearch')"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>