<div id="cover">
    <div class="loader">
    </div>
</div>

<div ng-cloak>

    <div ng-show="alertModal" class="alert" style="display : block" role="alert"
        ng-class="{success:success,error:error,warning:warning}">
        <span class="pull-right" ng-click="alertModal=false;error=false;success=false;warning=false;">
            <span>&nbsp;&times;</span>
        </span>
        <strong>{{errCode}}</strong> {{errDesc}}
        <br>
        <a ng-show="alertModalError" data-toggle="collapse" data-target="#demo">
            <strong>
                <u>Error Details</u>
            </strong>
        </a>
        <div ng-show="alertModalError" id="demo" class="collapse">
            <textarea style="width: 100%;" readonly rows="5" cols="50">{{errDtls}}</textarea>
        </div>
    </div>


    <div class="container-fluid style-4 slight-margin-top" style="margin-top:25px;">
        <form name="form.HospitalizationDetails" id="HospitalizationDetailsForm">

            <div class="container-fluid custom-margin-top">
                <!--main div-->
                <div class="col-sm-12 col-md-12 col-xs-12">

                    <div class="panel-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            
                            <div class="panel panel-default">
                                <div class="panel-heading" id="hospitalizationDetailsHeader"
                                    data-target="#hospitalizationDetails">
                                    <div class="panel-title" style="color:#0073BB;">
                                        <b>Hospitalization Details</b></div>
                                </div>
                
                                <div id="hospitalizationDetails">
                                    <div class="panel-body">
                                        <div class="row">
                
                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="inPatientRegistrationNumber">In-Patient Registration number</label>                        
                                                        <input type="text" name="inPatientRegistrationNumber"
                                                            class="form-control input-normal"
                                                            title="{{hospitalizationDetailsTabData.IPREGISTRATIONNUMBER}}"
                                                            ng-model="hospitalizationDetailsTabData.IPREGISTRATIONNUMBER"
                                                            for-alpha-numeric
                                                            maxlength="10"
                                                            ng-class="{submitted:form.HospitalizationDetails.submitted}"
                                                            placeholder="eg: 123456"/>
                                                        
                                                </div>
                                            </div>
                                            
                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="roomCategoryOccupied">Room category occupied</label>
                                                    <select class="form-control input-normal" name="roomCategoryOccupied"
                                                        title="{{hospitalizationDetailsTabData.ROOMCATEGORYOCCUPIED}}"
                                                        ng-model="hospitalizationDetailsTabData.ROOMCATEGORYOCCUPIED"
                                                        ng-class="{submitted:form.HospitalizationDetails.submitted}">
                                                        <option value="" selected>--select--</option>
                                                        <option value="Daycare">Daycare</option>
                                                        <option value="SingleOccupancy">Single occupancy</option>
                                                        <option value="TwinSharing">Twin sharing</option>
                                                        <option value="3orMmoreBedsPerRoom">3 or more beds per room</option>
                                                    </select>
                                                </div>
                                            </div>
                
                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="hospitalizationDueTo" required>Hospitalization due to</label>
                                                    <select class="form-control input-normal" name="hospitalizationDueTo"
                                                        title="{{hospitalizationDetailsTabData.HOSPITALIZATIONDUETO}}"
                                                        ng-model="hospitalizationDetailsTabData.HOSPITALIZATIONDUETO"
                                                        ng-class="{submitted:form.HospitalizationDetails.submitted}" required>
                                                        <option value="" selected>--select--</option>
                                                        <option value="Injury">Injury</option>
                                                        <option value="Illness">Illness</option>
                                                        <option value="Maternity">Maternity</option>
                                                    </select>
                                                    <p class="text-error" ng-show="(form.HospitalizationDetails.submitted && form.HospitalizationDetails.hospitalizationDueTo.$invalid) || (form.HospitalizationDetails.hospitalizationDueTo.$touched && form.HospitalizationDetails.hospitalizationDueTo.$invalid)">
                                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                        Enter Valid Value
                                                    </p>
                                                </div>
                                            </div>
                
                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="typeOfAdmission" required>Type of admission</label>
                                                    <select class="form-control input-normal" name="typeOfAdmission"
                                                        title="{{hospitalizationDetailsTabData.TYPEOFADMISSION}}"
                                                        ng-model="hospitalizationDetailsTabData.TYPEOFADMISSION"
                                                        ng-class="{submitted:form.HospitalizationDetails.submitted}" required>
                                                        <option value="" selected>--select--</option>
                                                        <option value="Emergency">Emergency</option>
                                                        <option value="Planned">Planned</option>
                                                    </select>
                                                    <p class="text-error" ng-show="(form.HospitalizationDetails.submitted && form.HospitalizationDetails.typeOfAdmission.$invalid) || (form.HospitalizationDetails.typeOfAdmission.$touched && form.HospitalizationDetails.typeOfAdmission.$invalid)">
                                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                        Enter Valid Value
                                                    </p>
                                                </div>
                                            </div>
                
                                        </div>
                
                                        <div class="row">
                
                                            <div class="col-sm-6 col-md-3 double-box">
                                                    <div class="col-sm-6 col-md-6 inside-double-box-left">
                                                        <div class="form-group">
                                                                <label for="dateOfAdmissionLoss" required>Date Of Admission(Loss)</label>
                                                                    <div class="input-group date">
                                                                        <input name="dateOfAdmissionLoss" type ="text"
                                                                            class="form-control input-normal datetimepickeradmitdate"                                                            autocomplete="off"
                                                                            ng-class="{submitted:form.HospitalizationDetails.submitted}"
                                                                            title="{{hospitalizationDetailsTabData.DATEOFADMISSIONLOSS}}"
                                                                            ng-model="hospitalizationDetailsTabData.DATEOFADMISSIONLOSS"
                                                                            date-picker
                                                                            placeholder="eg: 01-01-2018" maxlength="10" size="100%" 
                                                                            required/>
                                                                        <span class="input-group-addon datetimepickeradmitdate-addon">
                                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                                        </span>
                                                                    </div>
                                                                    <p class="text-error" ng-show="(form.HospitalizationDetails.submitted && form.HospitalizationDetails.dateOfAdmissionLoss.$invalid) || (form.HospitalizationDetails.dateOfAdmissionLoss.$touched && form.HospitalizationDetails.dateOfAdmissionLoss.$invalid)">
                                                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                                        Enter Valid Value
                                                                    </p>
                                                        </div>
                                                    </div>
                    
                                                    <div class="col-sm-6 col-md-6 inside-double-box-right">
                                                        <div class="form-group">
                                                            <label for="dateOfAdmissionLossTime"> Time </label>
                                                            <input type="time" name="dateOfAdmissionLossTime"
                                                                class="form-control input-normal"
                                                                title="{{hospitalizationDetailsTabData.DATEOFADMISSIONLOSSTIME}}"
                                                                ng-model="hospitalizationDetailsTabData.DATEOFADMISSIONLOSSTIME"
                                                                ng-class="{submitted:form.HospitalizationDetails.submitted}"
                                                                placeholder="eg: 12:12"  />
                                                        </div>
                                                    </div>
                                            </div>
                
                                            <div class="col-sm-6 col-md-3 double-box">
                                                    <div class="col-sm-6 col-md-6 inside-double-box-left">
                                                        <div class="form-group">
                                                                <label for="dateOfDischarge" required>Date of discharge</label>
                                                                    <div class="input-group date">
                                                                        <input name="dateOfDischarge" type ="text"
                                                                            class="form-control input-normal dischargedate"                                                            
                                                                            ng-class="{submitted:form.HospitalizationDetails.submitted}"
                                                                            autocomplete="off"
                                                                            title="{{hospitalizationDetailsTabData.DATEOFDISCHARGE}}"
                                                                            ng-model="hospitalizationDetailsTabData.DATEOFDISCHARGE"
                                                                            date-picker
                                                                            placeholder="eg: 01-01-2018" maxlength="10" size="100%" 
                                                                            required/>
                                                                        <span class="input-group-addon dischargedate-addon">
                                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                                        </span>
                                                                    </div>
                                                                    <p class="text-error" ng-show="((form.HospitalizationDetails.submitted && form.HospitalizationDetails.dateOfDischarge.$invalid) || (form.HospitalizationDetails.dateOfDischarge.$touched && form.HospitalizationDetails.dateOfDischarge.$invalid)) && !wrongDateOfDischarge">
                                                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                                        Enter Valid Value
                                                                    </p>
                                                                    <p class="text-error" ng-show="(form.HospitalizationDetails.submitted && wrongDateOfDischarge) || (form.HospitalizationDetails.dateOfDischarge.$touched && wrongDateOfDischarge)">
                                                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                                        Date of discharge cannot be earlier<br/> than date of admission
                                                                    </p>
                                                        </div>
                                                    </div>
                    
                                                    <div class="col-sm-6 col-md-6 inside-double-box-right">
                                                        <div class="form-group">
                                                            <label for="dateOfDischargeTime"> Time </label>
                                                            <input type="time" name="dateOfDischargeTime"
                                                                class="form-control input-normal"
                                                                title="{{hospitalizationDetailsTabData.DATEOFDISCHARGETIME}}"
                                                                ng-model="hospitalizationDetailsTabData.DATEOFDISCHARGETIME"
                                                                ng-class="{submitted:form.HospitalizationDetails.submitted}"
                                                                placeholder="eg: 12:12"  />
                                                        </div>
                                                    </div>
                                            </div>
                
                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="lengthOfStay" required> Length of stay </label>
                                                    <input type="text" name="lengthOfStay"
                                                        class="form-control input-normal"
                                                        for-digit
                                                        maxlength="3"
                                                        title="{{hospitalizationDetailsTabData.LENGTHOFSTAY}}"
                                                        ng-model="hospitalizationDetailsTabData.LENGTHOFSTAY"
                                                        ng-invalid="deviationMorethanTwo"
                                                        ng-blur="validateLengthOfStay()"
                                                        ng-class="{submitted:form.HospitalizationDetails.submitted}"
                                                        placeholder="Length Of Stay" required/>
                                                        <p class="text-error" ng-show="(form.HospitalizationDetails.submitted && deviationMorethanTwo) || (form.HospitalizationDetails.lengthOfStay.$touched && deviationMorethanTwo)">
                                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                            Enter right length of stay
                                                        </p>
                                                        <p class="text-error" ng-show="((form.HospitalizationDetails.submitted && form.HospitalizationDetails.lengthOfStay.$invalid) || (form.HospitalizationDetails.lengthOfStay.$touched && form.HospitalizationDetails.lengthOfStay.$invalid)) && !deviationMorethanTwo">
                                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                            Enter Valid Value
                                                        </p>
                                                        
                                                </div>
                                            </div>
                
                                            <div class="col-sm-6 col-md-3">
                                                    <div class="form-group">
                                                        <label for="systemOfMedicine"> System of medicine </label>
                                                        <input type="text" name="systemOfMedicine"
                                                            class="form-control input-normal"
                                                            for-alpha-numeric
                                                            maxlength="10"
                                                            title="{{hospitalizationDetailsTabData.SYSTEMOFMEDICINE}}"
                                                            ng-model="hospitalizationDetailsTabData.SYSTEMOFMEDICINE"
                                                            ng-class="{submitted:form.HospitalizationDetails.submitted}"
                                                            placeholder="System of medicine"/>
                                                    </div>
                                            </div>                           
                
                                        </div>
                
                                        <div class="row">
                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                        <label for="statusAtDischarge" required>Status at Discharge</label>
                                                        <select class="form-control input-normal" name="statusAtDischarge"
                                                            title="{{hospitalizationDetailsTabData.STATUSATDISCHARGE}}"
                                                            ng-model="hospitalizationDetailsTabData.STATUSATDISCHARGE"
                                                            ng-class="{submitted:form.HospitalizationDetails.submitted}" required>
                                                            <option value="" selected>--select--</option>
                                                            <option value="DischargeToHome">Discharge to home</option>
                                                            <option value="DischargeToAnotherHospital">Discharge to another hospital</option>
                                                            <option value="Deceased">Deceased</option>
                                                        </select>
                                                        <p class="text-error" ng-show="(form.HospitalizationDetails.submitted && form.HospitalizationDetails.statusAtDischarge.$invalid) || (form.HospitalizationDetails.statusAtDischarge.$touched && form.HospitalizationDetails.statusAtDischarge.$invalid)">
                                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                            Enter Valid Value
                                                        </p>
                                                </div>
                                            </div>

                                            <div class="form-group col-sm-3 col-md-3">
                                                <label>Select intimation</label>
                                                <div>
                                                    <div class="input-group">
                                                        <input name="intimation" maxlength="500" type="text" class="form-control input-normal less-border" id="intimation"
                                                            placeholder="intimation Id" data-ng-model="hospitalizationDetailsTabData.INTIMATIONID" ng-class="{submitted: form.HospitalizationDetails.intimation.$invalid && form.HospitalizationDetails.intimation.$touched}"
                                                            ng-click="openIntimationModal()"
                                                            readonly/>
                                                        <a ng-click="openIntimationModal()" class="input-group-addon" style="background:white; color:blue;">
                                                            <span class="glyphicon glyphicon-search"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                
                            <div class="panel panel-default" ng-show="hospitalizationDetailsTabData.HOSPITALIZATIONDUETO=='Illness'">
                                    <div class="panel-heading" id="illnessDetailsHeader" data-toggle="collapse"
                                        data-target="#illnessDetails">
                                        <div class="panel-title" style="color:#0073BB;">
                                            <b>Illness Details</b>
                                        </div>
                                    </div>
                    
                                    <div class="panel-collapse collapse" id="illnessDetails">
                                        <div class="panel-body">
                                            <div class="row">
                                                    <div class="col-sm-6 col-md-3">
                                                    <div class="form-group">
                                                            <label for="dateDiseaseFirstDetected" >Date disease first detected</label>
                                                                <div class="input-group date">
                                                                    <input name="dateDiseaseFirstDetected"
                                                                        class="form-control input-normal diseasefirstdetecteddate"                                                            
                                                                        ng-class="{submitted:form.HospitalizationDetails.submitted}"
                                                                        title="{{hospitalizationDetailsTabData.DATEDISEASEFIRSTDETECTED}}"
                                                                        date-picker
                                                                        ng-model="hospitalizationDetailsTabData.DATEDISEASEFIRSTDETECTED"
                                                                        placeholder="eg: 01-01-2018" maxlength="10" size="100%" 
                                                                        />
                                                                    <span class="input-group-addon diseasefirstdetecteddate-addon">
                                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                                    </span>
                                                                    
                                                                </div>
                                                                <p class="text-error" ng-show="(form.HospitalizationDetails.submitted && wrongDateOfDiseaseFirstDetected) || (form.HospitalizationDetails.dateOfDischarge.$touched && wrongDateOfDiseaseFirstDetected)">
                                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                                    Date disease first detected cannot<br/> be after the date of admission
                                                                </p>
                                                    </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="form-group">
                                                            <label for="ailment"> Ailment </label>
                                                            <input type="text" name="ailment"
                                                                class="form-control input-normal"
                                                                for-alpha-numeric
                                                                maxlength="10"
                                                                title="{{hospitalizationDetailsTabData.AILMENT}}"
                                                                ng-model="hospitalizationDetailsTabData.AILMENT"
                                                                ng-class="{submitted:form.HospitalizationDetails.submitted}"
                                                                placeholder="Ailment"/>
                                                        </div>
                                                    </div>   
                                            </div>
                                        </div>
                                    </div>
                            </div>
                
                            <div class="panel panel-default" ng-show="hospitalizationDetailsTabData.HOSPITALIZATIONDUETO=='Injury'">
                                <div class="panel-heading" id="injuryDetailsHeader" data-toggle="collapse"
                                    data-target="#injuryDetails">
                                    <div class="panel-title" style="color:#0073BB;">
                                        <b>Injury Details</b>
                                    </div>
                                </div>
                
                                <div class="panel-collapse collapse" id="injuryDetails">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-3">
                                            <div class="form-group">
                                                    <label for="dateOfInjury" >Date of injury</label>
                                                        <div class="input-group date">
                                                            <input name="dateOfInjury"
                                                                class="form-control input-normal injurydate"                                                            
                                                                ng-class="{submitted:form.HospitalizationDetails.submitted}"
                                                                title="{{hospitalizationDetailsTabData.DATEOFINJURY}}"
                                                                ng-model="hospitalizationDetailsTabData.DATEOFINJURY"
                                                                placeholder="eg: 01-01-2018" maxlength="10" size="100%" date-picker
                                                                />
                                                            <span class="input-group-addon injurydate-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                            <p class="text-error" ng-show="(form.HospitalizationDetails.submitted && wrongDateOfInjury) || (form.HospitalizationDetails.dateOfDischarge.$touched && wrongDateOfInjury)">
                                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                                Date of injury cannot be after<br/> the date of admission
                                                            </p>
                                                       
                                            </div>
                                            </div>
                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="injuryDetails"> Injury details </label>
                                                    <input type="text" name="injuryDetails"
                                                        class="form-control input-normal"
                                                        for-alpha-numeric
                                                        maxlength="20"
                                                        title="{{hospitalizationDetailsTabData.INJURYDETAILS}}"
                                                        ng-model="hospitalizationDetailsTabData.INJURYDETAILS"
                                                        ng-class="{submitted:form.HospitalizationDetails.submitted}"
                                                        placeholder="Injury details"/>
                                                </div>
                                            </div>   
                                            <div class="col-sm-6 col-md-3">
                                                    <div class="form-group">
                                                            <label for="cause" >Cause</label>
                                                            <select class="form-control input-normal" name="cause"
                                                                title="{{hospitalizationDetailsTabData.CAUSE}}"
                                                                ng-model="hospitalizationDetailsTabData.CAUSE"
                                                                ng-class="{submitted:form.HospitalizationDetails.submitted}">
                                                                <option value="" selected>--select--</option>
                                                                <option value="selfInflicted">Self-inflicted</option>
                                                                <option value="roadTrafficAccident">Road Traffic Accident</option>
                                                                <option value="substanceAbuseAlcoholConsumption">Substance Abuse/Alcohol Consumption</option>
                                                            </select>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="panel panel-default" ng-show="hospitalizationDetailsTabData.HOSPITALIZATIONDUETO=='Injury' && hospitalizationDetailsTabData.CAUSE=='roadTrafficAccident'">
                                <div class="panel-heading" id="roadTrafficAccidentDetailsHeader" data-toggle="collapse"
                                    data-target="#roadTrafficAccidentDetails">
                                    <div class="panel-title" style="color:#0073BB;">
                                        <b>Road Traffic Accident Details</b>
                                    </div>
                                </div>
                
                                <div class="panel-collapse collapse" id="roadTrafficAccidentDetails">
                                    <div class="panel-body">
                                        <div class="row">
                                                <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                        <label for="isMedicoLegal" ng-required="hospitalizationDetailsTabData.HOSPITALIZATIONDUETO=='Injury' && hospitalizationDetailsTabData.CAUSE=='roadTrafficAccident'"> Is Medico Legal?
                                                            </label>
                                                    
                                                            <div class="radio-custom-margin">
                                                                <label class="radio-inline radioContainer">
                                                                    Yes
                                                                    <input type="radio" name="isMedicoLegal" ng-model="hospitalizationDetailsTabData.ISMEDICOLEGAL" value="true" ng-required="hospitalizationDetailsTabData.HOSPITALIZATIONDUETO=='Injury' && hospitalizationDetailsTabData.CAUSE=='roadTrafficAccident'">
                                                                    <span class="radioCheck"></span>
                                                                </label>
                                                                <label class="radio-inline radioContainer">
                                                                    No
                                                                    <input type="radio" name="isMedicoLegal" ng-model="hospitalizationDetailsTabData.ISMEDICOLEGAL" value="false" ng-required="hospitalizationDetailsTabData.HOSPITALIZATIONDUETO=='Injury' && hospitalizationDetailsTabData.CAUSE=='roadTrafficAccident'">
                                                                    <span class="radioCheck"></span>
                                                                </label>
                                                                <p class="text-error" ng-show="(form.HospitalizationDetails.submitted && form.HospitalizationDetails.isMedicoLegal.$invalid) || (form.HospitalizationDetails.isMedicoLegal.$touched && form.HospitalizationDetails.isMedicoLegal.$invalid)">
                                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                                    Enter Valid Value
                                                                </p>
                                                    
                                                            </div>
                                                </div>
                                                </div>
                                                <div class="col-sm-6 col-md-3">
                                                    <div class="form-group">
                                                        <label for="reportedToPolice" ng-required="hospitalizationDetailsTabData.ISMEDICOLEGAL=='true'" > Reported to police?
                                                            </label>
                                                    
                                                            <div class="radio-custom-margin">
                                                                <label class="radio-inline radioContainer">
                                                                    Yes
                                                                    <input type="radio" name="reportedToPolice" ng-model="hospitalizationDetailsTabData.REPORTEDTOPOLICE" value="true" ng-required="hospitalizationDetailsTabData.ISMEDICOLEGAL=='true'">
                                                                    <span class="radioCheck"></span>
                                                                </label>
                                                                <label class="radio-inline radioContainer">
                                                                    No
                                                                    <input type="radio" name="reportedToPolice" ng-model="hospitalizationDetailsTabData.REPORTEDTOPOLICE" value="false" ng-required="hospitalizationDetailsTabData.ISMEDICOLEGAL=='true'">
                                                                    <span class="radioCheck"></span>
                                                                </label>
                                                                <p class="text-error" ng-show="(form.HospitalizationDetails.submitted && form.HospitalizationDetails.reportedToPolice.$invalid) || (form.HospitalizationDetails.reportedToPolice.$touched && form.HospitalizationDetails.reportedToPolice.$invalid)">
                                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                                    Enter Valid Value
                                                                </p>
                                                    
                                                            </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-3">
                                                        <div class="form-group">
                                                            <label for="MLCReportAndPoliceFIRAttached" ng-required="hospitalizationDetailsTabData.REPORTEDTOPOLICE=='true'"> MLC Report & Police FIR Attached
                                                                </label>
                                                        
                                                                <div class="radio-custom-margin">
                                                                    <label class="radio-inline radioContainer">
                                                                        Yes
                                                                        <input type="radio" name="MLCReportAndPoliceFIRAttached" ng-model="hospitalizationDetailsTabData.MLCREPORTANDPOLICEFIRATTACHED" value="true" ng-required="hospitalizationDetailsTabData.REPORTEDTOPOLICE=='true'">
                                                                        <span class="radioCheck"></span>
                                                                    </label>
                                                                    <label class="radio-inline radioContainer">
                                                                        No
                                                                        <input type="radio" name="MLCReportAndPoliceFIRAttached" ng-model="hospitalizationDetailsTabData.MLCREPORTANDPOLICEFIRATTACHED" value="false"  ng-required="hospitalizationDetailsTabData.REPORTEDTOPOLICE=='true'">
                                                                        <span class="radioCheck"></span>
                                                                    </label>
                                                                    <p class="text-error" ng-show="(form.HospitalizationDetails.submitted && form.HospitalizationDetails.MLCReportAndPoliceFIRAttached.$invalid) || (form.HospitalizationDetails.MLCReportAndPoliceFIRAttached.$touched && form.HospitalizationDetails.MLCReportAndPoliceFIRAttached.$invalid)">
                                                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                                        Enter Valid Value
                                                                    </p>
                                                        
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="col-sm-6 col-md-3">
                                                    <div class="form-group">
                                                        <label for="reasonIfNotReportedToPolice" ng-required="hospitalizationDetailsTabData.MLCREPORTANDPOLICEFIRATTACHED=='false'"> Reason, if not reported to police </label>
                                                        <input type="text" name="reasonIfNotReportedToPolice"
                                                            class="form-control input-normal"
                                                            title="{{hospitalizationDetailsTabData.REASONIFNOTREPORTEDTOPOLICE}}"
                                                            for-alpha-numeric
                                                            maxlength="100"
                                                            ng-model="hospitalizationDetailsTabData.REASONIFNOTREPORTEDTOPOLICE"
                                                            ng-class="{submitted:form.HospitalizationDetails.submitted}"
                                                            placeholder="Reason, if not reported to police" ng-required="hospitalizationDetailsTabData.MLCREPORTANDPOLICEFIRATTACHED=='false'"/>
                                                            <p class="text-error" ng-show="(form.HospitalizationDetails.submitted && form.HospitalizationDetails.reasonIfNotReportedToPolice.$invalid) || (form.HospitalizationDetails.reasonIfNotReportedToPolice.$touched && form.HospitalizationDetails.reasonIfNotReportedToPolice.$invalid)">
                                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                                Enter Valid Value
                                                            </p>
                                                    </div>
                                                </div> 
                                        </div>  
                                        <div class="row">
                                            <div class="col-sm-6 col-md-3">
                                                    <div class="form-group">
                                                            <label for="FIRNumber" ng-required="hospitalizationDetailsTabData.MLCREPORTANDPOLICEFIRATTACHED=='true'"> FIR Number </label>
                                                            <input type="text" name="FIRNumber"
                                                                class="form-control input-normal"
                                                                title="{{hospitalizationDetailsTabData.FIRNUMBER}}"
                                                                ng-model="hospitalizationDetailsTabData.FIRNUMBER"
                                                                for-alpha-numeric
                                                                maxlength="10"
                                                                ng-class="{submitted:form.HospitalizationDetails.submitted}"
                                                                placeholder="FIR Number" ng-required="hospitalizationDetailsTabData.MLCREPORTANDPOLICEFIRATTACHED=='true'"/>
                                                                <p class="text-error" ng-show="(form.HospitalizationDetails.submitted && form.HospitalizationDetails.FIRNumber.$invalid) || (form.HospitalizationDetails.FIRNumber.$touched && form.HospitalizationDetails.FIRNumber.$invalid)">
                                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                                    Enter Valid Value
                                                                </p>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="panel panel-default" ng-show="hospitalizationDetailsTabData.HOSPITALIZATIONDUETO=='Injury' && hospitalizationDetailsTabData.CAUSE=='substanceAbuseAlcoholConsumption'">
                                <div class="panel-heading" id="substanceAbuseAlcoholConsumptionDetailsHeader" data-toggle="collapse"
                                    data-target="#substanceAbuseAlcoholConsumptionDetails">
                                    <div class="panel-title" style="color:#0073BB;">
                                        <b>Substance Abuse/Alcohol Consumption details</b>
                                    </div>
                                </div>
                            
                                <div class="panel-collapse collapse" id="substanceAbuseAlcoholConsumptionDetails">
                                    <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                        <label for="testConductedToEstablish" required> Test conducted to establish?
                                                            </label>
                                                    
                                                            <div class="radio-custom-margin">
                                                                <label class="radio-inline radioContainer">
                                                                    Yes
                                                                    <input type="radio" name="testConductedToEstablish" ng-model="hospitalizationDetailsTabData.TESTCONDUCTEDTOESTABLISH" value="true">
                                                                    <span class="radioCheck"></span>
                                                                </label>
                                                                <label class="radio-inline radioContainer">
                                                                    No
                                                                    <input type="radio" name="testConductedToEstablish" ng-model="hospitalizationDetailsTabData.TESTCONDUCTEDTOESTABLISH" value="false" checked>
                                                                    <span class="radioCheck"></span>
                                                                </label>
                                                                <p class="text-error" ng-show="(form.HospitalizationDetails.submitted && form.HospitalizationDetails.testConductedToEstablish.$invalid) || (form.HospitalizationDetails.testConductedToEstablish.$touched && form.HospitalizationDetails.testConductedToEstablish.$invalid)">
                                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                                    Enter Valid Value
                                                                </p>
                                                    
                                                            </div>
                                                </div>
                                                </div>
                                                <div class="col-sm-6 col-md-3">
                                                    <div class="form-group">
                                                        <label for="reportsAttached" ng-required="hospitalizationDetailsTabData.TESTCONDUCTEDTOESTABLISH=='true'"> Reports Attached?
                                                            </label>
                                                    
                                                            <div class="radio-custom-margin">
                                                                <label class="radio-inline radioContainer">
                                                                    Yes
                                                                    <input type="radio" name="reportsAttached" ng-model="hospitalizationDetailsTabData.REPORTSATTACHED" value="true" ng-required="hospitalizationDetailsTabData.TESTCONDUCTEDTOESTABLISH=='true'">
                                                                    <span class="radioCheck"></span>
                                                                </label>
                                                                <label class="radio-inline radioContainer">
                                                                    No
                                                                    <input type="radio" name="reportsAttached" ng-model="hospitalizationDetailsTabData.REPORTSATTACHED" value="false"  ng-required="hospitalizationDetailsTabData.TESTCONDUCTEDTOESTABLISH=='true'">
                                                                    <span class="radioCheck"></span>
                                                                </label>
                                                                <p class="text-error" ng-show="(form.HospitalizationDetails.submitted && form.HospitalizationDetails.reportsAttached.$invalid) || (form.HospitalizationDetails.reportsAttached.$touched && form.HospitalizationDetails.reportsAttached.$invalid)">
                                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                                    Enter Valid Value
                                                                </p>
                                                    
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="panel panel-default" ng-show="hospitalizationDetailsTabData.HOSPITALIZATIONDUETO=='Maternity'">
                                <div class="panel-heading" id="maternityDetailsHeader" data-toggle="collapse"
                                    data-target="#maternityDetails">
                                    <div class="panel-title" style="color:#0073BB;">
                                        <b>Maternity Details</b>
                                    </div>
                                </div>
                
                                <div class="panel-collapse collapse" id="maternityDetails">
                                    <div class="panel-body">
                                        <div class="row">
                                                <div class="col-sm-6 col-md-3">
                                                    <div class="form-group">
                                                            <label for="dateOfDelivery" >Date of delivery</label>
                                                                <div class="input-group date">
                                                                    <input name="dateOfDelivery"
                                                                        class="form-control input-normal deliverydate"                                                            
                                                                        ng-class="{submitted:form.HospitalizationDetails.submitted}"
                                                                        title="{{hospitalizationDetailsTabData.DATEOFDELIVERY}}"
                                                                        ng-model="hospitalizationDetailsTabData.DATEOFDELIVERY"
                                                                        date-picker
                                                                        placeholder="eg: 01-01-2018" maxlength="10" size="100%" 
                                                                        />
                                                                    <span class="input-group-addon deliverydate-addon">
                                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                                    </span>
                                                                </div>
                                                                    <p class="text-error" ng-show="(form.HospitalizationDetails.submitted && wrongDateOfDelivery) || (form.HospitalizationDetails.dateOfDischarge.$touched && wrongDateOfDelivery)">
                                                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                                        Date of delivery cannot be earlier<br/> than date of discharge
                                                                    </p>
                                                                
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-3">
                                                    <div class="form-group">
                                                        <label for="Gravida"> Gravida </label>
                                                        <input type="text" name="Gravida"
                                                        for-digit
                                                            class="form-control input-normal"
                                                            maxlength="5"
                                                            title="{{hospitalizationDetailsTabData.GRAVIDA}}"
                                                            ng-model="hospitalizationDetailsTabData.GRAVIDA"
                                                            ng-class="{submitted:form.HospitalizationDetails.submitted}"
                                                            placeholder="Gravida"/>
                                                    </div>
                                                </div> 
                                                <div class="col-sm-6 col-md-3">
                                                        <div class="form-group">
                                                            <label for="Parity"> Parity </label>
                                                            <input type="text" name="Parity"
                                                                class="form-control input-normal"
                                                                for-digit
                                                                maxlength="5"
                                                                title="{{hospitalizationDetailsTabData.PARITY}}"
                                                                ng-model="hospitalizationDetailsTabData.PARITY"
                                                                ng-class="{submitted:form.HospitalizationDetails.submitted}"
                                                                placeholder="Parity"/>
                                                        </div>
                                                </div> 
                                                <div class="col-sm-6 col-md-3">
                                                    <div class="form-group">
                                                        <label for="Abortus"> Abortus </label>
                                                        <input type="text" name="Abortus"
                                                            class="form-control input-normal"
                                                            for-digit
                                                            maxlength="5"
                                                            title="{{hospitalizationDetailsTabData.ABORTUS}}"
                                                            ng-model="hospitalizationDetailsTabData.ABORTUS"
                                                            ng-class="{submitted:form.HospitalizationDetails.submitted}"
                                                            placeholder="Abortus"/>
                                                    </div>
                                                </div> 
                                        </div>  
                                        <div class="row">
                                            <div class="col-sm-6 col-md-3">
                                                    <div class="form-group">
                                                            <label for="livingChildren"> Living Children </label>
                                                            <input type="text" name="livingChildren"
                                                                class="form-control input-normal"
                                                                for-digit
                                                                maxlength="5"
                                                                title="{{hospitalizationDetailsTabData.LIVINGCHILDREN}}"
                                                                ng-model="hospitalizationDetailsTabData.LIVINGCHILDREN"
                                                                ng-class="{submitted:form.HospitalizationDetails.submitted}"
                                                                placeholder="Living Children"/>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                        </div>
                    </div>
                    
                </div>
                <!--end of main div-->
                <!--button row div-->
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <div class="slight-margin-top slight-right-margin pull-right">
                        <div class="row clt">
                            <div class="left-right-margin">
                                <button type="button" class="common-button second-button" ng-click="saveHospitalizationDetails('prev')">Previous</button>
                                <button type="button" class="common-button" ng-click="">Cancel</button>
                                <button type="button" class="common-button" ng-click="resetHospitalizationDetails()">Clear</button>
                                <button type="button" class="common-button first-button" ng-click="saveHospitalizationDetails()">Save</button>
                                <button type="button" class="common-button second-button" ng-click="saveHospitalizationDetails('next')">Next</button>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!--end of button row div-->

            </div>

            <div id="intimationModal" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" data-ng-click="resetintimationFilter();intimationList.length=0;"
                                data-ng-disabled="false">×</button>
                            <h4 class="modal-title">Intimation Records</h4>
                        </div>
            
                        <div class="modal-body style-4">
                                <div class="table-responsive col-sm-12 scrollbar force-overflow style-4">
                                    <table class="table table-bordered table-striped custom-table">
                                        <thead class="custom-table-header">
                                            <tr>                       
                                                <th>S.No.</th>
                                                <th>INTIMATION ID</th>
                                                <th>CLAIM ID</th>
                                                <th>MEMBER ID</th>
                                                <th>POLICY NUMBER</th>
                                                <th>FIRST NAME</th>
                                                <th>LAST NAME</th>
                                                <th>ILLNESS</th>
                                                <th>INTIMATION DATE</th>
                                                <th>DATE OF ADMISSION</th>
                                                <th>INTIMATION STATUS</th>
                                            </tr>
            
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in intimationList" ng-dblclick="setintimation(item)">
                                                
                                                <td>{{(currentPosition-1)*10 + $index + 1}}</td>
                                                <td>{{item.INTIMATIONID}}</td>
                                                <td>{{item.CLAIMID}}</td>
                                                <td>{{item.MEMBERID}}</td>
                                                <td>{{item.POLICYNUMBER}}</td>
                                                <td>{{item.FIRSTNAME}}</td>
                                                <td>{{item.LASTNAME}}</td>
                                                <td>{{item.ILLNESS}}</td>
                                                <td>{{item.INTIMATIONDATE}}</td>
                                                <td>{{item.DATEOFADMISSION}}</td>
                                                <td>{{item.INTIMATIONSTATUS}}</td>
                                            </tr>
                                            <tr ng-show="intimationTableData">
                                                <td colspan="11" class="input-empty">No results Found !!</td>
                                            </tr>
                                        </tbody>
                                    </table>
            
                                </div>
                                <!-- navigation panel start for intimation -->
                                <div class="col-sm-12">
                                    <div class="pull-left " ng-show="intimationList.length>0">
                                        <label></label>
            
                                        <span class="">
                                            <b>Showing {{(intimationCurrentPosition-1) * 10 + 1}} - {{(intimationCurrentPosition-1)
                                                * 10 + 10
                                                < intimationResultCount ? (intimationCurrentPosition-1) * 10 + 10 :intimationResultCount}} of {{intimationResultCount}}
                                                    records</b>
                                        </span>
                                    </div>
                                    <div class="pull-right" ng-show="totalintimationPages > 0">
                                        <div class="shift-right">
                                            <a href="#" ng-click="getintimationList(totalintimationPages)" ng-class="{'not-active' : intimationCurrentPosition == totalintimationPages}">
                                                <span class="glyphicon glyphicon-forward"></span>
                                            </a>
                                        </div>
            
                                        <div class="shift-right">
                                            <a href="#" ng-click="getintimationList(intimationCurrentPosition+1)" ng-class="{'not-active' : intimationCurrentPosition == totalintimationPages}">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>
                                        </div>
                                        <div class="shift-right" ng-hide="intimationCurrentPosition + 1 >=totalintimationPages || totalintimationPages <=3">
                                            <span>... </span>
                                            <a href="#" ng-click="getintimationList(totalintimationPages)" ng-class="{'not-active' : intimationCurrentPosition == totalintimationPages}">
                                                <span>{{totalintimationPages}}</span>
                                            </a>
                                        </div>
            
                                        <div class="shift-right" ng-hide="intimationNextPage == 0" ng-class="{'pag-active' : totalintimationPages == intimationCurrentPosition}">
                                            <a href="#" ng-click="getintimationList(intimationNextPage)">
                                                <span>{{intimationNextPage}}</span>
                                            </a>
                                        </div>
            
                                        <div class="shift-right" ng-class="{'pag-active' : !((totalintimationPages == intimationCurrentPosition && intimationCurrentPosition != 2) ||(intimationCurrentPosition == 1 && totalintimationPages > 2))}">
                                            <a href="#" ng-click="getintimationList(intimationMiddlePage)">
                                                <span>{{intimationMiddlePage}}</span>
                                            </a>
                                        </div>
            
                                        <div class="shift-right" ng-hide="intimationPreviousPage == 0" ng-class="{'pag-active' : intimationCurrentPosition == 1}">
                                            <a href="#" ng-click="getintimationList(intimationPreviousPage)">
                                                <span>{{intimationPreviousPage}}</span>
                                            </a>
            
                                        </div>
                                        <div class="shift-right" ng-show="intimationCurrentPosition > 2 && totalintimationPages > 3">
            
                                            <a href="#" ng-click="getintimationList(1)">
                                                <span>1</span>
                                            </a>
                                            <span> ...</span>
                                        </div>
            
                                        <div class="shift-right">
                                            <a href="#" ng-click="getintimationList(intimationCurrentPosition-1)" ng-class="{'not-active' : intimationCurrentPosition == 1}">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>
                                        </div>
            
                                        <div class="shift-right">
                                            <a href="#" ng-click="getintimationList(1)" ng-class="{'not-active' : intimationCurrentPosition == 1}">
                                                <span class="glyphicon glyphicon-backward"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of navigation panel for intimation -->
                        </div>
              
            
                        <div class="modal-footer ">
                
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


</div>

<script>

    //date time picker for date of admission
    $('.datetimepickeradmitdate').datetimepicker({
        useCurrent: false,
        format: 'DD-MM-YYYY',
        maxDate: new Date(),  

    });
    $('.datetimepickeradmitdate-addon').on('click', function () {
        $(this).prev('input.datetimepickeradmitdate').data('DateTimePicker').toggle();
    });

    //date time picker for dischargedate
    $('.dischargedate').datetimepicker({
        useCurrent: false,
        format: 'DD-MM-YYYY',
        maxDate: new Date(),
    });
    $('.dischargedate-addon').on('click', function () {
        $(this).prev('input.dischargedate').data('DateTimePicker').toggle();
    });

        //date time picker for diseasefirstdetecteddate
    $('.diseasefirstdetecteddate').datetimepicker({
        useCurrent: false,
        format: 'DD-MM-YYYY',
        maxDate: new Date(),
    });
    $('.diseasefirstdetecteddate-addon').on('click', function () {
        $(this).prev('input.diseasefirstdetecteddate').data('DateTimePicker').toggle();
    });

    //date time picker for injurydate
    $('.injurydate').datetimepicker({
        useCurrent: false,
        format: 'DD-MM-YYYY',
        maxDate: new Date(),
    });
    $('.injurydate-addon').on('click', function () {
        $(this).prev('input.injurydate').data('DateTimePicker').toggle();
    });

    //date time picker for deliverydate
    $('.deliverydate').datetimepicker({
        useCurrent: false,
        format: 'DD-MM-YYYY',
        maxDate: new Date(),
    });
    $('.deliverydate-addon').on('click', function () {
        $(this).prev('input.deliverydate').data('DateTimePicker').toggle();
    });

    $('.panel').on('show.bs.collapse', function () {
        $('.collapse').collapse('hide');
    });

    $("#dropSearchButton").click(function () {
        $(this)
            .parents(".dropdown")
            .find("button.dropdown-toggle")
            .dropdown("toggle");
    });

</script>