<div id="cover">
    <div class="loader">
    </div>
</div>



<div ng-cloak>
    <div ng-show="alertModal" class="alert" style="display : block" role="alert" ng-class="{success:success,error:error,warning:warning}">
        <span class="pull-right" ng-click="alertModal=false;error=false;success=false;warning=false;">
            <span>&nbsp;&times;</span>
        </span>
        <strong>{{errCode}}</strong> {{errDesc}}
        <br>
        <a ng-show="alertModalError" data-toggle="collapse" data-target="#demo">
            <strong>
                <u>Error Details</u>
            </strong>
        </a>
        <div ng-show="alertModalError" id="demo" class="collapse">
            <textarea style="width: 100%;" readonly rows="5" cols="50">{{errDtls}}</textarea>
        </div>
    </div>

    <div class="container-fluid slight-margin-top">
        <div class="col-md-12">
            <form name="form.InsuranceHistory" novalidate>

                <div class="row">

                    <div class="form-group col-xs-12 col-sm-4 col-md-4">

                        <label for="CurrentMedicalHealth" required> Currently Covered by Any Other Medical/Health Insurance
                        </label>

                        <div class="radio-custom-margin">
                            <label class="radio-inline radioContainer">
                                Yes
                                <input type="radio" name="CurrentMedicalHealth" ng-change="CurrentInsuranceChanged(INSURANCEHISTORYDETAILS.CURRENTINSURANCEFLAG)" ng-model="INSURANCEHISTORYDETAILS.CURRENTINSURANCEFLAG" value="true" required>
                                <span class="radioCheck"></span>
                            </label>
                            <label class="radio-inline radioContainer">
                                No
                                <input type="radio" name="CurrentMedicalHealth" ng-change="CurrentInsuranceChanged()" ng-model="INSURANCEHISTORYDETAILS.CURRENTINSURANCEFLAG" value="false" required checked>
                                <span class="radioCheck"></span>
                            </label>
                            <p class="text-error" ng-show="(form.InsuranceHistory.submitted && form.InsuranceHistory.CurrentMedicalHealth.$invalid) || (CurrentMedicalHealth.CurrentMedicalHealth.$touched && form.InsuranceHistory.CurrentMedicalHealth.$invalid)">
                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                Enter Valid Value
                            </p>

                        </div>
                    </div>

                    <!-- <div class="form-group col-xs-12 col-sm-4 col-md-4 pull-right">
                        <label>Member ID</label>
                        <div>
                            <input type="text" class="form-control input-normal" ng-model="memberID" readonly>


                        </div>
                    </div> -->


                </div>

                <div class="row" ng-show="INSURANCEHISTORYDETAILS.CURRENTINSURANCEFLAG == 'true' && CURRENTINSURANCE.length > 0">
                    <div id="CurrentInsuranceTable">
                        <div class="table-responsive col-lg-12 scrollbar force-overflow" id="style-4">
                            <table class="table table-bordered table-striped custom-table" style="margin-bottom:0px;">
                                <thead class="custom-table-header">
                                    <tr>
                                        <td>
                                            S.No.
                                        </td>
                                        <td>
                                            Company Name
                                        </td>
                                        <td>
                                            Policy Number
                                        </td>
                                        <td>
                                            Sum Insured(Rs.)
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in CURRENTINSURANCE">
                                        <td>{{(currentPosition-1)*10 + $index+1 }}</td>
                                        <td>
                                            <input type="text " maxlength="150" name="companyName[$index]" class="form-control input-normal" ng-required="currentAdded[$index]==true" data-ng-model="CURRENTINSURANCE[$index].COMPANYNAME">
                                            <p class="text-error" ng-show="(form.InsuranceHistory.submitted  || form.InsuranceHistory.companyName[$index].$touched) && form.InsuranceHistory.companyName[$index].$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter valid Company Name
                                            </p>
                                        </td>
                                        <td>
                                            <input type="text " maxlength="10" name="PolicyNumber[$index]" for-digit class="form-control input-normal" ng-required="currentAdded[$index]==true" data-ng-model="CURRENTINSURANCE[$index].POLICYNUMBER">
                                            <p class="text-error" ng-show="(form.InsuranceHistory.submitted  || form.InsuranceHistory.PolicyNumber[$index].$touched) && form.InsuranceHistory.PolicyNumber[$index].$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter valid Policy Number
                                            </p>
                                        </td>
                                        <td>
                                            <input type="text " maxlength="13" name="SumInsured[$index]" for-digit class="form-control input-normal" ng-required="currentAdded[$index]==true" oninput="javascript: if(parseFloat(this.value) != 0){ this.value =this.value}else{this.value=''}" data-ng-model="CURRENTINSURANCE[$index].SUMINSURED">
                                            <p class="text-error" ng-show="(form.InsuranceHistory.submitted  || form.InsuranceHistory.SumInsured[$index].$touched) && form.InsuranceHistory.SumInsured[$index].$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter valid Sum Insured
                                            </p>
                                        </td>
                                        <td>
                                            <span class="glyphicon glyphicon-trash" ng-show = "deleteCurrent[$index]" ng-click="deleteRowCurrentInstance($index)"></span>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="INSURANCEHISTORYDETAILS.CURRENTINSURANCEFLAG == 'true'">
                
                    <button class="common-button first-button" ng-click="addRowCurrent()" style="margin:15px">
                        Add Row</button>
                </div>


                <div class='row'>
                
                    <div class="form-group col-sm-6 col-md-3">
                        <label for="CommencementDate" required>Date of commencement of first insurance without break</label>
                        <div>
                            <div class="input-group date">
                                <input name="dateOfCommencement" class="form-control input-normal" date-picker data-ng-model="INSURANCEHISTORYDETAILS.DATEOFCOMMENCEMENT"
                                    placeholder="01-01-2020" maxlength="10" size="100%" required />
                                <span class="input-group-addon datetimepickeradmitdate-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                
                            <p class="text-error" ng-show="(form.InsuranceHistory.submitted  || form.InsuranceHistory.dateOfCommencement.$touched) && form.InsuranceHistory.dateOfCommencement.$invalid">
                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter valid Date
                            </p>
                        </div>
                    </div>
                
                </div>

                <div class="row">

                    <div class="form-group col-xs-12 col-sm-4 col-md-4">

                        <label for="hospitalization" style="white-space: normal" required> Have you been hospitalized in the last four years since inception of the contract?
                        </label>

                        <div class="radio-custom-margin">
                            <label class="radio-inline radioContainer">
                                Yes
                                <input type="radio" name="hospitalization" ng-change="hospitalizationChanged()" ng-model="INSURANCEHISTORYDETAILS.HOSPITALIZATION" value="true" required>
                                <span class="radioCheck"></span>
                            </label>
                            <label class="radio-inline radioContainer">
                                No
                                <input type="radio" name="hospitalization" ng-change="hospitalizationChanged()" ng-model="INSURANCEHISTORYDETAILS.HOSPITALIZATION" value="false" required checked>
                                <span class="radioCheck"></span>
                            </label>
                            <p class="text-error" ng-show="(form.InsuranceHistory.submitted && form.InsuranceHistory.hospitalization.$invalid) || (form.InsuranceHistory.hospitalization.$touched && form.InsuranceHistory.hospitalization.$invalid)">
                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                Enter Valid Value
                            </p>

                        </div>
                    </div>

                    <div class="row" ng-show="INSURANCEHISTORYDETAILS.HOSPITALIZATION == 'true' && HOSPITALIZATIONHISTORY.length > 0">
                        <div id="hospitalizationHistoryTable">
                            <div class=" col-lg-12 scrollbar force-overflow" style="overflow:visible" id="style-4">
                                <table class="table table-bordered table-striped custom-table" style="margin-bottom:0px;">
                                    <thead class="custom-table-header">
                                        <tr>
                                            <td>
                                                S.No.
                                            </td>
                                            <td>
                                                Date
                                            </td>
                                            <td>
                                                Diagnosis
                                            </td>
                                            <td>
                                                
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <tr ng-repeat="x in HOSPITALIZATIONHISTORY" style="overflow:visible">
                                        <td>{{(currentPosition-1)*10 + $index+1 }}</td>
                                            <td>
                                                    <div class="input-group date">
                                                        <input name="hospitalizationDate[$index]" class="form-control input-normal" date-picker placeholder="01-01-2020" maxlength="10"
                                                            ng-required="hospitalizedAdded[$index] == true" ng-model="HOSPITALIZATIONHISTORY[$index].HOSPITALIZATIONDATE"
                                                             />
                                                           
                                                        <span class="input-group-addon datetimepickerdobdate-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                        <p class="text-error" ng-show="(form.InsuranceHistory.submitted && form.InsuranceHistory.hospitalizationDate[$index].$invalid) || (form.InsuranceHistory.hospitalizationDate[$index].$touched && form.InsuranceHistory.hospitalizationDate[$index].$invalid)">
                                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                            Enter Valid Date
                                                        </p>
                                                    </div>
                                            </td>
                                            <td>
                                                <input type="text " maxlength="200" ng-required="hospitalizedAdded[$index] == true" name="diagnosis[$index]" class="form-control input-normal" data-ng-model="HOSPITALIZATIONHISTORY[$index].DIAGNOSIS">
                                                <p class="text-error" ng-show="(form.InsuranceHistory.submitted && form.InsuranceHistory.diagnosis[$index].$invalid) || (form.InsuranceHistory.diagnosis[$index].$touched && (form.InsuranceHistory.diagnosis[$index].$invalid))">
                                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                    Enter Valid Date
                                                </p>
                                            </td>
                                            <td>
                                                <span class="glyphicon glyphicon-trash" ng-show="deleteHospitalized[$index]" ng-click="deleteRowHospitalized($index)"></span>
                                            </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <button class="common-button first-button" ng-show="INSURANCEHISTORYDETAILS.HOSPITALIZATION == 'true'" ng-click="addRowHospitalized()"
                            style="margin:15px">
                            Add Row</button>
                    </div>



                    <!-- <div class="form-group col-xs-12 col-sm-4 col-md-4" ng-show="INSURANCEHISTORYDETAILS.HOSPITALIZATION == 'true'">
                        <label for="CommencementDate" required>Date</label>
                        <div>
                            <div class="input-group date">
                                <input name="dateOfCommencement" class="form-control input-normal datetimepickeradmitdate" placeholder="01-01-2020" maxlength="10"
                                    ng-required="INSURANCEHISTORYDETAILS.HOSPITALIZATION == 'true'" ng-model="INSURANCEHISTORYDETAILS.HOSPITALIZATIONDATE"
                                    size="100%" />
                                <span class="input-group-addon datetimepickeradmitdate-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>

                            <p class="text-error" ng-show="(form.InsuranceHistory.submitted  || form.InsuranceHistory.dateOfCommencement.$touched) && form.InsuranceHistory.dateOfCommencement.$invalid">
                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter valid Date
                            </p>
                        </div>
                    </div>

                    <div class="form-group col-xs-12 col-sm-4 col-md-4" ng-show="INSURANCEHISTORYDETAILS.HOSPITALIZATION == 'true'">
                        <label for="diagnosis" required>Diagnosis</label>
                        <div>
                            <input type="text" name="diagnosis" for-alpha class="form-control input-normal" ng-required="INSURANCEHISTORYDETAILS.HOSPITALIZATION == 'true'"
                                ng-model="INSURANCEHISTORYDETAILS.DIAGNOSIS" maxlength="">

                            <p class="text-error" ng-show="(form.InsuranceHistory.submitted  || form.InsuranceHistory.diagnosis.$touched) && form.InsuranceHistory.diagnosis.$invalid">
                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter valid Diagnosis
                            </p>
                        </div>
                    </div> -->

                </div>





                <div class="row">

                    <div class="form-group col-xs-12 col-sm-4 col-md-4">

                        <label for="hospitalization" required> Previously covered by any other Mediclaim/Health Insurance?
                        </label>

                        <div class="radio-custom-margin">
                            <label class="radio-inline radioContainer">
                                Yes
                                <input type="radio" name="prevInsurance" ng-model="INSURANCEHISTORYDETAILS.PREVIOUSINSURANCE" value="true" required>
                                <span class="radioCheck"></span>
                            </label>
                            <label class="radio-inline radioContainer">
                                No
                                <input type="radio" name="prevInsurance" ng-model="INSURANCEHISTORYDETAILS.PREVIOUSINSURANCE" value="false" required checked>
                                <span class="radioCheck"></span>
                            </label>
                            <p class="text-error" ng-show="(form.InsuranceHistory.submitted && form.InsuranceHistory.prevInsurance.$invalid) || (form.InsuranceHistory.prevInsurance.$touched && form.InsuranceHistory.prevInsurance.$invalid)">
                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                Enter Valid Value
                            </p>

                        </div>
                    </div>

                    <div class="form-group col-xs-12 col-sm-4 col-md-4" ng-show="INSURANCEHISTORYDETAILS.PREVIOUSINSURANCE == 'true'">
                        <label for="diagnosis" required>Previous Company Name</label>
                        <div>
                            <input type="text" name="prevCompany" for-alpha class="form-control input-normal" ng-required="INSURANCEHISTORYDETAILS.PREVIOUSINSURANCE == 'true'"
                                ng-model="INSURANCEHISTORYDETAILS.PREVIOUSCOMPANY" maxlength="200">

                            <p class="text-error" ng-show="(form.InsuranceHistory.submitted  || form.InsuranceHistory.prevCompany.$touched) && form.InsuranceHistory.prevCompany.$invalid">
                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please enter valid Previous Company Name
                            </p>
                        </div>
                    </div>
                </div>





                <div class="form-group col-xs-12 col-sm-4 col-md-12">
                    <div class="pull-right">
                        <button type="button" class="common-button first-button" data-ng-click="addUpdateInsuranceHistoryDetails('prev')">Previous</button>
                        <button type="button" class="common-button first-button" data-ng-click="addUpdateInsuranceHistoryDetails('save')">Save</button>
                        <button type="button" class="common-button second-button" data-ng-click="INSURANCEHISTORYDETAILS={};HOSPITALIZATIONHISTORY=[];CURRENTINSURANCE=[];">Clear</button>
                        <button type="button" class="common-button second-button" data-ng-click="">Cancel</button>
                        <button type="button" class="common-button" data-ng-click="addUpdateInsuranceHistoryDetails('next')">Next</button>
                    </div>
                </div>


                </form>

        </div>

        <!-- Modal -->

    </div>



    <script>

        //date time picker for date of admission
        $('.datetimepickeradmitdate').datetimepicker({
            useCurrent: false,
            format: 'DD-MM-YYYY',
            maxDate: new Date(),
        });

        $('.datetimepickeradmitdate-addon').on('click', function () {
            $(this).prev('input.datetimepickeradmitdate').data('DateTimePicker').toggle();
        });

        

        //date time picker for date of birth
        $('.datetimepickerdobdate').datetimepicker({
            useCurrent: false,
            format: 'DD-MM-YYYY',
            maxDate: new Date(),
        });
        $('.datetimepickerdobdate-addon').on('click', function () {
            $(this).prev('input.datetimepickerdobdate').data('DateTimePicker').toggle();
        });

        $('.panel').on('show.bs.collapse', function () {
            $('.collapse').collapse('hide');
        });

        $("#dropSearchButton").click(function () {
            $(this)
                .parents(".dropdown")
                .find("button.dropdown-toggle")
                .dropdown("toggle");
        });

    </script>