<div id="cover">
    <div class="loader">
    </div>
</div>



<div ng-cloak>
    <div class="container-fluid style-4 slight-margin-top">
        <form name="form.detailsEntryForm">
            <div class="container-fluid">
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <div class="row slight-margin-top">
                        <div class="col-sm-3 col-md-2 col-xs-4" style="padding-left: 15px;margin: inherit;">
                            <div class="form-group pull-left">
                                <button class="common-button first-button" ng-disabled="!!claimSummary.CLAIMNUMBER" data-toggle="modal" data-target="#featureClaimModal"  ng-model="featureClaim">
                                    Create Feature Claim</button>
                            </div>
                        </div>
                        <div class="col-sm-7 col-md-8 col-xs-6" style="margin: inherit;">
                            <div class="text-center radio-custom-margin">
                                <label class="radio-inline radioContainer">
                                    New Claim
                                    <input type="radio" name="newOrFeature" ng-model="insuredPersonData.CLAIMCATEGORY"  ng-disabled="!!claimSummary.CLAIMNUMBER" value="NEW" ng-checked="true" required>
                                    <span class="radioCheck"></span>

                                </label>
                                <label class="radio-inline radioContainer">
                                    Feature Claim
                                    <input type="radio" name="newOrFeature" ng-model="insuredPersonData.CLAIMCATEGORY"  ng-disabled="!!claimSummary.CLAIMNUMBER" value="FEATURE" required>
                                    <span class="radioCheck"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-xs-2" style="margin: inherit;padding-right: 15px;">
                            <div class="form-group pull-right">
                                <button class="common-button second-button"  ng-model="NIDB">
                                    NIDB</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid custom-margin-top">
                <div class="col-sm-12 col-md-12 col-xs-12">

                    <div class="row" id="claimDetails">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label for="dateReported"> Date Reported </label>
                                    <div class="input-group date">
                                        <input name="dateReported" class="form-control input-normal datetimepickerreporteddate" title="{{insuredPersonData.DATEREPORTED}}"
                                            ng-class="{submitted:form.detailsEntryForm.submitted}" ng-model="insuredPersonData.DATEREPORTED"
                                            placeholder="eg: 01-01-2018" maxlength="10" size="100%" readonly />
                                        <span class="input-group-addon datetimepickerreporteddate-addon" readonly>
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label for="claimRegisteredDate"> Claim Registered Date </label>
                                    <div class="input-group date">
                                        <input name="claimRegisteredDate" class="form-control input-normal" title="{{insuredPersonData.CLAIMREGDATE}}" ng-model="insuredPersonData.CLAIMREGDATE"
                                            ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="eg: 01-01-2018"
                                            maxlength="10" size="100%" readonly />
                                        <span class="input-group-addon datetimepickerreporteddate-addon" readonly>
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label for="claimNumber"> Claim Number </label>
                                    <input name="claimNumber" class="form-control input-normal" title="{{insuredPersonDetails.CLAIMNUMBER}}" ng-model="insuredPersonData.CLAIMNUMBER"
                                         maxlength="10" ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="Claim Number" size="auto"
                                        type="text" readonly />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label for="featureNumber"> Feature Number </label>
                                    <input name="featureNumber" class="form-control input-normal" title="{{insuredPersonDetails.FEATURENUMBER}}" ng-model="insuredPersonData.FEATURENUMBER"
                                        ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="Feature Number" size="auto"
                                        type="text" readonly />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-6 double-box">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label for="claimedAmount" required> Claimed Amount </label>
                                        <input name="claimedAmount" class="form-control input-normal" for-digit title="{{insuredPersonDetails.CLAIMEDAMT}}" ng-model="insuredPersonData.CLAIMEDAMT"
                                            ng-class="{submitted:form.detailsEntryForm.submitted}"  maxlength="13" placeholder="10000.00" oninput="javascript: if(parseFloat(this.value) != 0){ this.value =this.value}else{this.value=''}" required/>

                                        <div class="text-error slight-margin-top">
                                            <p ng-show="(form.detailsEntryForm.$submitted || 
                                                form.detailsEntryForm.claimedAmount.$touched)
                                                && form.detailsEntryForm.claimedAmount.$invalid">
                                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                Enter Claimed Amount</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label for="orphanClaim"> Orphan Claim </label>
                                        <select class="form-control input-normal" name="orphanClaim" title="{{insuredPersonDetails.ORPHANCLAIM}}" ng-model="insuredPersonData.ORPHANCLAIM"
                                            ng-class="{submitted:form.detailsEntryForm.submitted}" ng-disabled="!isSupervisor"
                                            style="cursor: default;">

                                            <option value="Yes">Yes</option>
                                            <option value="No" selected>No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label for="serviceClaim"> Service Claim </label>
                                    <select class="form-control input-normal" name="serviceClaim" title="{{insuredPersonDetails.SERVICECLAIM}}" ng-model="insuredPersonData.SERVICECLAIM"
                                        ng-class="{submitted:form.detailsEntryForm.submitted}" disabled style="cursor: default;">

                                        <option value="Yes">Yes</option>
                                        <option value="No" selected>No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="panel panel-default">
                                <div class="panel-heading" id="memberDetailsHeader" data-toggle="collapse" data-target="#memberDetails">
                                    <div class="panel-title" style="color:#0073BB;">
                                        <b>Member Details</b>
                                    </div>
                                </div>

                                <div class="panel-collapse collapse" id="memberDetails">
                                    <div class="panel-body">
                                        <div class="row">

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="memberId"> Member Id </label>
                                                    <div class="input-group" ng-click="searchMember.SEARCHATTR='Member Id'">
                                                        <input type="text" name="memberId" class="form-control input-normal" title="{{insuredPersonData.MEMBERID}}" ng-model="insuredPersonData.MEMBERID"
                                                            ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="eg: 123456"
                                                            size="100%" data-toggle="modal" data-backdrop="static" href="#memberModal"
                                                            style="background-color: white;" readonly />
                                                        <span class="input-group-addon" data-toggle="modal" data-backdrop="static" href="#memberModal">
                                                            <span class="glyphicon glyphicon-search" style="color:#0073BB;"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="policyNumber"> Policy Number </label>
                                                    <input type="text" name="policyNumber" class="form-control input-normal" title="{{insuredPersonData.POLICYNUMBER}}" ng-model="insuredPersonData.POLICYNUMBER"
                                                        ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="Policy Number"
                                                        readonly />
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="certificateNumber"> Certificate Number </label>
                                                    <input type="text" name="certificateNumber" class="form-control input-normal" title="{{insuredPersonData.CERTIFICATENUMBER}}"
                                                        ng-model="insuredPersonData.CERTIFICATENUMBER" ng-class="{submitted:form.detailsEntryForm.submitted}"
                                                        placeholder="Certificate Number" readonly />
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="nameOfCorporate"> Name Of Corporate </label>
                                                    <input type="text" name="nameOfCorporate" class="form-control input-normal" title="{{insuredPersonData.CORPORATENAME}}" ng-model="insuredPersonData.CORPORATENAME"
                                                        ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="Name Of Corporate"
                                                        readonly />
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="employeeId"> Employee Id </label>
                                                    <input type="text" name="employeeId" class="form-control input-normal" title="{{insuredPersonData.EMPLOYEEID}}" ng-model="insuredPersonData.EMPLOYEEID"
                                                        ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="Employee Id"
                                                        readonly />
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="dateOfAdmission" required> Date Of Admission(Loss)
                                                    </label>
                                                    <div class="input-group date">
                                                        <input name="dateOfAdmission" class="form-control input-normal" title="{{insuredPersonDetails}}" ng-model="insuredPersonData.DATEOFADMIT"
                                                            date-picker ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="eg: 01-01-2018"
                                                            maxlength="10" size="100%" required/>
                                                        <span class="input-group-addon datetimepickeradmitdate-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                    <div class="incorrect">
                                                        <p ng-show="(form.detailsEntryForm.$submitted || 
                                                            form.detailsEntryForm.dateOfAdmission.$touched)
                                                            && form.detailsEntryForm.dateOfAdmission.$invalid">
                                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                            Enter Date Of Admission</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="firstName"> First Name </label>
                                                    <input type="text" name="firstName" class="form-control input-normal" title="{{insuredPersonData.FIRSTNAME}}" ng-model="insuredPersonData.FIRSTNAME"
                                                        ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="First Name"
                                                        readonly />
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3 double-box">
                                                <div class="col-sm-6 col-md-6 inside-double-box-left">
                                                    <div class="form-group">
                                                        <label for="middleName"> Middle Name </label>
                                                        <input type="text" name="middleName" class="form-control input-normal" title="{{insuredPersonData.MIDDLENAME}}" ng-model="insuredPersonData.MIDDLENAME"
                                                            ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="Middle Name"
                                                            readonly />
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 col-md-6 inside-double-box-right">
                                                    <div class="form-group">
                                                        <label for="surname"> Surname </label>
                                                        <input type="text" name="surname" class="form-control input-normal" title="{{insuredPersonData.LASTNAME}}" ng-model="insuredPersonData.LASTNAME"
                                                            ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="Surname"
                                                            readonly />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="dateOfBirth"> Date Of Birth </label>
                                                    <div class="input-group date">
                                                        <input type="text" name="dateOfBirth" class="form-control input-normal datetimepickerdobdate" title="{{insuredPersonData.DATEOFBIRTH}}"
                                                            ng-model="insuredPersonData.DATEOFBIRTH" ng-class="{submitted:form.detailsEntryForm.submitted}"
                                                            placeholder="eg: 01-01-2018" maxlength="10" size="100%" readonly
                                                        />
                                                        <span class="input-group-addon datetimepickerdobdate-addon" readonly>
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3 double-box">
                                                <div class="col-sm-6 col-md-6 inside-double-box-left">
                                                    <div class="form-group">
                                                        <label for="age"> Age </label>
                                                        <input type="text" name="age" class="form-control input-normal" title="{{insuredPersonData.AGE}}" ng-model="insuredPersonData.AGE"
                                                            ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="Relationship to Primary Insured"
                                                            value="40 years 8 months" readonly />
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 col-md-6 inside-double-box-right">
                                                    <div class="form-group">
                                                        <label for="gender"> Gender </label>
                                                        <select class="form-control input-normal" name="gender" title="{{insuredPersonData.GENDER}}" ng-model="insuredPersonData.GENDER"
                                                            ng-class="{submitted:form.detailsEntryForm.submitted}" disabled style="cursor: default;">

                                                            <option value="Male">Male</option>
                                                            <option value="Female">Female</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="relationship"> Relationship to Primary Insured </label>
                                                    <select class="form-control input-normal" name="relationship" title="{{insuredPersonData.RELATIONSHIPTOPRIMARYINSURED}}"
                                                        ng-model="insuredPersonData.RELATIONSHIPTOPRIMARYINSURED" ng-class="{submitted:form.detailsEntryForm.submitted}"
                                                        disabled style="cursor: default;">

                                                        <option value="" disabled>--select--</option>
                                                        <option value="Self">Self</option>
                                                        <option value="Spouse">Spouse</option>
                                                        <option value="Mother">Mother</option>
                                                        <option value="Father">Father</option>
                                                        <option value="Son">Son</option>
                                                        <option value="Daughter">Daughter</option>
                                                        <option value="Other">Other</option>

                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group" ng-if="insuredPersonData.RELATIONSHIPTOPRIMARYINSURED=='Other'">
                                                    <label for="relationshipOthers" ng-required="insuredPersonData.RELATIONSHIPTOPRIMARYINSURED=='Other'">
                                                        Others, please specify </label>
                                                    <input type="text" name="relationshipOthers" class="form-control input-normal" title="{{insuredPersonData.RELATIONSHIPTOPRIMARYINSUREDOTHER}}"
                                                        ng-model="insuredPersonData.RELATIONSHIPTOPRIMARYINSUREDOTHER" ng-class="{submitted:form.detailsEntryForm.submitted}"
                                                        ng-required="insuredPersonData.RELATIONSHIPTOPRIMARYINSURED=='Other'"
                                                    />
                                                    <div class="incorrect">
                                                        <p ng-show="(form.detailsEntryForm.$submitted || 
                                                            form.detailsEntryForm.relationshipOthers.$touched)
                                                            && form.detailsEntryForm.relationshipOthers.$invalid">
                                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                            Enter Relationship</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="occupation"> Occupation </label>
                                                    <select class="form-control input-normal" name="occupation" title="{{insuredPersonData.OCCUPATION}}" ng-model="insuredPersonData.OCCUPATION"
                                                        ng-class="{submitted:form.detailsEntryForm.submitted}">

                                                        <option value="" disabled>---select---</option>
                                                        <option value="Service">Service</option>
                                                        <option value="Self Employed">Self Employed</option>
                                                        <option value="Homemaker">Homemaker</option>
                                                        <option value="Student">Student</option>
                                                        <option value="Retired">Retired</option>
                                                        <option value="Other">Other</option>

                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3" ng-if="insuredPersonData.OCCUPATION == 'Other'">
                                                <div class="form-group">
                                                    <label for="occupationOthers" ng-required="insuredPersonData.OCCUPATION == 'Other'">
                                                        Others, please specify </label>
                                                    <input type="text" name="occupationOthers" class="form-control input-normal" title="{{insuredPersonData.OCCUPATIONOTHER}}"
                                                        ng-model="insuredPersonData.OCCUPATIONOTHER" ng-class="{submitted:form.detailsEntryForm.submitted}"
                                                        ng-required="insuredPersonData.OCCUPATION == 'Other'" />
                                                    <div class="incorrect">
                                                        <p ng-show="(form.detailsEntryForm.$submitted || 
                                                            form.detailsEntryForm.occupationOthers.$touched)
                                                            && form.detailsEntryForm.occupationOthers.$invalid">
                                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                            Enter Occupation</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="employee"> Tata AIG Employee? </label>
                                                    <select class="form-control input-normal" name="employee" title="{{insuredPersonData.AIGEMPLOYEE}}" ng-model="insuredPersonData.AIGEMPLOYEE"
                                                            ng-class="{submitted:form.detailsEntryForm.submitted}">
                                                        <option value="">--Select--</option>
                                                        <option value="Yes">Yes</option>
                                                        <option value="No">No</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" id="benefitDetailsHeader" data-toggle="collapse" data-target="#benefitDetails">
                                    <div class="panel-title" style="color:#0073BB;">
                                        <b>Details Of Benefit Claimed</b>
                                    </div>
                                </div>

                                <div class="panel-collapse collapse" id="benefitDetails">
                                    <div class="panel-body">
                                        <div class="row">

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="productName"> Product Name </label>
                                                    <input type="text" name="productName" class="form-control input-normal" title="{{insuredPersonDetails.PRODUCTNAME}}" ng-model="insuredPersonData.PRODUCTNAME"
                                                        ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="eg: Medicare"
                                                        readonly />
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="benefitClaimed" required> Benefit Claimed </label>
                                                    <select class="form-control input-normal" name="benefitClaimed" title="{{insuredPersonData.BENEFITCLAIMED}}" ng-class="{submitted:form.detailsEntryForm.submitted}"
                                                        ng-model="insuredPersonData.BENEFITCLAIMED" required>

                                                        <option value="" disabled>---select---</option>
                                                        <option value="In-Patient">In-Patient</option>
                                                    </select>
                                                    <div class="incorrect">
                                                        <p ng-show="(form.detailsEntryForm.$submitted || 
                                                            form.detailsEntryForm.benefitClaimed.$touched)
                                                            && form.detailsEntryForm.benefitClaimed.$invalid">
                                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                            Select Benefit Claimed</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="inPatient" ng-required="insuredPersonData.BENEFITCLAIMED == 'In-Patient'">
                                                        If, In-patient </label>
                                                    <select class="form-control input-normal" name="inPatient" title="{{insuredPersonData.INPATIENT}}" ng-model="insuredPersonData.INPATIENT"
                                                        ng-class="{submitted:form.detailsEntryForm.submitted}" ng-required="insuredPersonData.BENEFITCLAIMED == 'In-Patient'">

                                                        <option value="" disabled>---select---</option>
                                                        <option value="Option 1">Option 1</option>
                                                    </select>
                                                    <div class="incorrect">
                                                        <p ng-show="(form.detailsEntryForm.$submitted || 
                                                            form.detailsEntryForm.inPatient.$touched)
                                                            && form.detailsEntryForm.inPatient.$invalid">
                                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                            Select Valid Option</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="catastrophe"> Catastrophe? </label>
                                                    <select class="form-control input-normal" name="catastrophe" title="{{insuredPersonData.CATASTROPHE}}" ng-model="insuredPersonData.CATASTROPHE"
                                                        ng-class="{submitted:form.detailsEntryForm.submitted}">

                                                        <option value="Yes">Yes</option>
                                                        <option value="No" selected>No</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-sm-6 col-md-3" ng-if="insuredPersonData.CATASTROPHE=='Yes'">
                                                <div class="form-group">
                                                    <label for="catastropheType">
                                                        Catastrophe Type </label>
                                                    <select class="form-control input-normal" name="catastropheType" title="{{insuredPersonData.CATASTROPHETYPE}}" ng-model="insuredPersonData.CATASTROPHETYPE"
                                                        ng-class="{submitted:form.detailsEntryForm.submitted}">

                                                        <option value="" disabled>---select---</option>
                                                        <option value="Local">Local</option>
                                                        <option value="International" selected>International</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3" ng-if="insuredPersonData.CATASTROPHE=='Yes'">
                                                <div class="form-group">
                                                    <label for="catastropheCode">
                                                        Catastrophe Code </label>
                                                    <select class="form-control input-normal" name="catastropheCode" title="{{insuredPersonData.CATASTROPHECODE}}" ng-model="insuredPersonData.CATASTROPHECODE"
                                                        ng-class="{submitted:form.detailsEntryForm.submitted}">

                                                        <option value="" disabled>---select---</option>
                                                        <option value="Option 1">Option 1</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" id="addressDetailsHeader" data-toggle="collapse" data-target="#addressDetails">
                                    <div class="panel-title" style="color:#0073BB;">
                                        <b>Address</b>
                                    </div>
                                </div>

                                <div class="panel-collapse collapse" id="addressDetails">
                                    <div class="panel-body">
                                        <div class="row">

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="addressline1"> Address Line 1 </label>
                                                    <input type="text" name="addressline1" class="form-control input-normal" title="{{insuredPersonData.ADDRESS}}" ng-model="insuredPersonData.ADDRESS_LINE1"
                                                        ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="Address Line 1"
                                                        readonly />
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="addressline2"> Address Line 2 </label>
                                                    <input type="text" name="addressline2" class="form-control input-normal" title="{{insuredPersonDetails}}" ng-class="{submitted:form.detailsEntryForm.submitted}"
                                                     ng-model="insuredPersonData.ADDRESS_LINE2" placeholder="Address Line 2" readonly />
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="addressline3"> Address Line 3 </label>
                                                    <input type="text" name="addressline3" class="form-control input-normal" title="{{insuredPersonDetails}}" ng-class="{submitted:form.detailsEntryForm.submitted}"
                                                         ng-model="insuredPersonData.ADDRESS_LINE3" placeholder="Address Line 3" readonly />
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="landmark"> Landmark </label>
                                                    <input type="text" name="landmark" class="form-control input-normal" title="{{insuredPersonData.LANDMARK}}" ng-model="insuredPersonData.LANDMARK"
                                                        ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="Landmark"
                                                        readonly />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="area"> Area </label>
                                                    <input type="text" name="area" class="form-control input-normal" title="{{insuredPersonData.AREA}}" ng-model="insuredPersonData.AREA"
                                                        ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="Area"
                                                        readonly />
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="city"> City/Town/Village </label>
                                                    <input type="text" name="city" class="form-control input-normal" title="{{insuredPersonData.CITY}}" ng-model="insuredPersonData.CITY"
                                                        ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="City/Town/Village"
                                                        readonly />
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="district"> District </label>
                                                    <input type="text" name="district" class="form-control input-normal" title="{{insuredPersonData.DISTRICT}}" ng-model="insuredPersonData.DISTRICT"
                                                        ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="District"
                                                        readonly />
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="pincode"> Pincode </label>
                                                    <input type="text" name="pincode" class="form-control input-normal" title="{{insuredPersonData.PINCODE}}" ng-model="insuredPersonData.PINCODE"
                                                        ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="Pincode"
                                                        readonly />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="state"> State </label>
                                                    <input type="text" name="state" class="form-control input-normal" title="{{insuredPersonData.STATE}}" ng-model="insuredPersonData.STATE"
                                                        ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="State"
                                                        readonly />
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="isAlternateAddr"> Is Address in claim form different?
                                                    </label>
                                                    <br>
                                                    <div class="radio-custom-margin">
                                                        <label class="radio-inline radioContainer">
                                                            Yes
                                                            <input type="radio" name="isAlternateAddr" ng-model="insuredPersonData.ISALTADDRESS" value="Yes">
                                                            <span class="radioCheck"></span>
                                                        </label>
                                                        <label class="radio-inline radioContainer">
                                                            No
                                                            <input type="radio" name="isAlternateAddr" ng-model="insuredPersonData.ISALTADDRESS" value="No" checked>
                                                            <span class="radioCheck"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default" ng-show="insuredPersonData.ISALTADDRESS == 'Yes'">
                                <div class="panel-heading" id="altAddressDetailsHeader" data-toggle="collapse" data-target="#altAddressDetails">
                                    <div class="panel-title" style="color:#0073BB;">
                                        <label style="cursor: pointer;">
                                            <b>Alternate Address</b>
                                        </label required>
                                    </div>
                                </div>

                                <div class="panel-collapse collapse" id="altAddressDetails">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6 double-box">
                                                <div class="col-sm-6 col-md-6 form-group">
                                                    <label for="altAddressline1" ng-required="insuredPersonData.ISALTADDRESS == 'Yes'"> Address Line 1 </label>
                                                    <input type="text" name="altAddressline1" class="form-control input-normal" title="{{insuredPersonData.ALTADDRESS_LINE1}}"
                                                     maxlength="200" ng-model="insuredPersonData.ALTADDRESS_LINE1" ng-class="{submitted:form.detailsEntryForm.submitted}"
                                                        placeholder="Address Line 1" ng-required="insuredPersonData.ISALTADDRESS == 'Yes'"
                                                    />

                                                    <div class="text-error slight-margin-top">
                                                        <p ng-show="(form.detailsEntryForm.$submitted || 
                                                            form.detailsEntryForm.altAddressline1.$touched)
                                                            && form.detailsEntryForm.altAddressline1.$invalid">
                                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                            Enter Alternate Address</p>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 col-md-6 form-group">
                                                    <label for="altAddressline2"> Address Line 2 </label>
                                                    <input type="text" name="altAddressline2" class="form-control input-normal" title="{{insuredPersonData.ALTADDRESS_LINE2}}"
                                                         maxlength="200" ng-model="insuredPersonData.ALTADDRESS_LINE2" ng-class="{submitted:form.detailsEntryForm.submitted}"
                                                        placeholder="Address Line 2" />
                                                </div>
                                            </div>


                                            <div class="col-sm-12 col-md-6 double-box">
                                                <div class="col-sm-6 col-md-6 form-group">
                                                    <label for="altAddressline3"> Address Line 3 </label>
                                                    <input type="text" name="altAddressline3" class="form-control input-normal" title="{{insuredPersonData.ALTADDRESS_LINE3}}"
                                                         maxlength="200" ng-model="insuredPersonData.ALTADDRESS_LINE3" ng-class="{submitted:form.detailsEntryForm.submitted}"
                                                        placeholder="Address Line 3" />
                                                </div>

                                                <div class="col-sm-6 col-md-6 form-group">
                                                    <label for="altLandmark" ng-required="insuredPersonData.ISALTADDRESS == 'Yes'"> Landmark </label>
                                                    <input type="text" name="altLandmark" class="form-control input-normal" title="{{insuredPersonData.ALTLANDMARK}}" ng-model="insuredPersonData.ALTLANDMARK"
                                                         maxlength="150" ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="Landmark"
                                                        ng-required="insuredPersonData.ISALTADDRESS == 'Yes'" />

                                                    <div class="text-error slight-margin-top">
                                                        <p ng-show="(form.detailsEntryForm.$submitted || 
                                                            form.detailsEntryForm.altLandmark.$touched)
                                                            && form.detailsEntryForm.altLandmark.$invalid">
                                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                            Enter Landmark</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-3 form-group double-box">

                                                <div class="col-sm-6 col-md-6 form-group inside-double-box-left">
                                                    <label for="altArea" ng-required="insuredPersonData.ISALTADDRESS == 'Yes'"> Area </label>
                                                    <input type="text" name="altArea" class="form-control input-normal" title="{{insuredPersonData.ALTAREA}}" ng-model="insuredPersonData.ALTAREA"
                                                     maxlength="200" ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="Area"
                                                        ng-required="insuredPersonData.ISALTADDRESS == 'Yes'" />

                                                    <div class="text-error slight-margin-top">
                                                        <p ng-show="(form.detailsEntryForm.$submitted || 
                                                            form.detailsEntryForm.altArea.$touched)
                                                            && form.detailsEntryForm.altArea.$invalid">
                                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                            Enter Area</p>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 col-md-6 form-group inside-double-box-right">
                                                    <label for="altCity" ng-required="insuredPersonData.ISALTADDRESS == 'Yes'"> City/Town/Village </label>
                                                    <input type="text" name="altCity" class="form-control input-normal" title="{{insuredPersonData.ALTCITY}}" ng-model="insuredPersonData.ALTCITY"
                                                     maxlength="100" ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="City/Town/Village"
                                                        ng-required="insuredPersonData.ISALTADDRESS == 'Yes'" />

                                                    <div class="text-error slight-margin-top">
                                                        <p ng-show="(form.detailsEntryForm.$submitted || 
                                                            form.detailsEntryForm.altCity.$touched)
                                                            && form.detailsEntryForm.altCity.$invalid" style="text-overflow:ellipsis;overflow:hidden;">
                                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                            Enter City/Town/Village</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3 form-group">
                                                <label for="altDistrict" ng-required="insuredPersonData.ISALTADDRESS == 'Yes'"> District </label>
                                                <input type="text" name="altDistrict" class="form-control input-normal" title="{{insuredPersonData.ALTDISTRICT}}" ng-model="insuredPersonData.ALTDISTRICT"
                                                 maxlength="100"  ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="District"
                                                    ng-required="insuredPersonData.ISALTADDRESS == 'Yes'" />

                                                <div class="text-error slight-margin-top">
                                                    <p ng-show="(form.detailsEntryForm.$submitted || 
                                                        form.detailsEntryForm.altDistrict.$touched)
                                                        && form.detailsEntryForm.altDistrict.$invalid">
                                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                        Enter District</p>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3 form-group">
                                                <label for="altPincode" ng-required="insuredPersonData.ISALTADDRESS == 'Yes'"> Pincode </label>
                                                <input type="text" name="altPincode" class="form-control input-normal" title="{{insuredPersonData.ALTPINCODE}}" ng-model="insuredPersonData.ALTPINCODE"
                                                     maxlength="6" ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="Pincode"
                                                    ng-required="insuredPersonData.ISALTADDRESS == 'Yes'" />

                                                <div class="text-error slight-margin-top">
                                                    <p ng-show="(form.detailsEntryForm.$submitted || 
                                                        form.detailsEntryForm.altPincode.$touched)
                                                        && form.detailsEntryForm.altPincode.$invalid">
                                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                        Enter Pincode</p>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3 form-group">
                                                <label for="altState" ng-required="insuredPersonData.ISALTADDRESS == 'Yes'"> State </label>
                                                <input type="text" name="altState" class="form-control input-normal" title="{{insuredPersonData.ALTSTATE}}" ng-model="insuredPersonData.ALTSTATE"
                                                     maxlength="100" ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="State"
                                                    ng-required="insuredPersonData.ISALTADDRESS == 'Yes'" />

                                                <div class="text-error slight-margin-top">
                                                    <p ng-show="(form.detailsEntryForm.$submitted || 
                                                        form.detailsEntryForm.altState.$touched)
                                                        && form.detailsEntryForm.altState.$invalid">
                                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                        Enter State</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" id="contactDetailsHeader" data-toggle="collapse" data-target="#contactDetails">
                                    <div class="panel-title" style="color:#0073BB;">
                                        <b>Contact Details</b>
                                    </div>
                                </div>

                                <div class="panel-collapse collapse" id="contactDetails">
                                    <div class="panel-body">
                                        <div class="row">

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="email"> E-mail </label>
                                                    <input type="text" name="email" class="form-control input-normal" title="{{insuredPersonData.EMAILID}}" ng-model="insuredPersonData.EMAILID"
                                                         maxlength="100" ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="eg: amit@amit.com"
                                                        readonly />
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="mobile"> Mobile Number </label>
                                                    <input type="text" name="mobile" class="form-control input-normal" title="{{insuredPersonData.MOBILENUMBER}}" ng-model="insuredPersonData.MOBILENUMBER"
                                                        ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="eg: 9876543210"
                                                        maxlength='10' readonly />
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="isAlternateContact"> Is Contact Details in claim form different? </label>
                                                    <br>
                                                    <div class="radio-custom-margin">
                                                        <label class="radio-inline radioContainer">
                                                            Yes
                                                            <input type="radio" name="isAlternateContact" ng-model="insuredPersonData.ISALTMOBILE" value="Yes">
                                                            <span class="radioCheck"></span>
                                                        </label>
                                                        <label class="radio-inline radioContainer">
                                                            No
                                                            <input type="radio" name="isAlternateContact" ng-model="insuredPersonData.ISALTMOBILE" value="No" checked>
                                                            <span class="radioCheck"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default" ng-show="insuredPersonData.ISALTMOBILE == 'Yes'">
                                <div class="panel-heading" id="altContactDetailsHeader" data-toggle="collapse" data-target="#altContactDetails">
                                    <div class="panel-title" style="color:#0073BB;" required>
                                        <label style="cursor: pointer;">
                                            <b>Alternate Contact Details</b>
                                        </label>
                                    </div>
                                </div>

                                <div class="panel-collapse collapse" id="altContactDetails">
                                    <div class="panel-body">
                                        <div class="row">

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="altEmail" ng-required="insuredPersonData.ISALTADDRESS == 'Yes'"> E-mail </label>
                                                    <input name="altEmail" type="email" class="form-control input-normal" title="{{insuredPersonData.ALTEMAILID}}" ng-model="insuredPersonData.ALTEMAILID"
                                                        ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="eg: amit@amit.com" for-email pattern="[a-zA-Z0-9._%+-]+@[a-zA-ZS0-9.-]+\.[a-zA-Z]{2,3}$"
                                                        ng-required="insuredPersonData.ISALTADDRESS == 'Yes'" />

                                                    <div class="incorrect">
                                                        <p ng-show="(form.detailsEntryForm.$submitted || 
                                                            form.detailsEntryForm.altEmail.$touched)
                                                            && form.detailsEntryForm.altEmail.$invalid">
                                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                            Enter E-mail</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label for="altMobile" ng-required="insuredPersonData.ISALTADDRESS == 'Yes'"> Mobile Number </label>
                                                    <input type="text" name="altMobile" class="form-control input-normal" title="{{insuredPersonData.ALTMOBILENUMBER}}" ng-model="insuredPersonData.ALTMOBILENUMBER"
                                                        ng-class="{submitted:form.detailsEntryForm.submitted}" placeholder="eg: 9876543210" 
                                                        maxlength='10'  for-digit pattern="[1-9]{1}[0-9]{9}" ng-required="insuredPersonData.ISALTADDRESS == 'Yes'"
                                                    />

                                                    <div class="incorrect">
                                                        <p ng-show="(form.detailsEntryForm.$submitted || 
                                                            form.detailsEntryForm.altMobile.$touched)
                                                            && form.detailsEntryForm.altMobile.$invalid">
                                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>
                                                            Enter Mobile Number</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <div class="slight-margin-top slight-right-margin pull-right">
                        <div class="row clt">
                            <div class="left-right-margin">
                                <button type="button" class="common-button first-button" ng-click="AddUpdateInsuredDetails('save')">Save</button>
                                <button type="button" class="common-button second-button" ng-click="AddUpdateInsuredDetails('next')">Next</button>
                                <button type="button" class="common-button" ng-click="resetMemberData()">Clear</button>
                                <button type="button" class="common-button" ng-click="">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal -->
    <div id="memberModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg" role="dialog">

            <!-- Modal Content -->
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" ng-click="clearMemberSearchData()">&times;</button>
                    <div class="modal-title">
                        <h4>Search Member</h4>
                    </div>
                </div>
                <div class="modal-body style-4">
                    <form name="form.searchMemberForm">
                        <div class="container-fluid  search-div">
                            <div class="col-md-12">
                                <div class="text-center" id="adv-search" autocomplete="off">
                                    <div class="input-group" id="multi-search">
                                        <div class="input-group-btn">
                                            <div class="dropdown dropdown-lg">
                                                <button type="button" style="width:120px;" class="normal-button  dropdown-toggle" data-toggle="dropdown">
                                                    {{searchMember.SEARCHATTR}}
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a ng-click="searchMember.SEARCHATTR='Member Id'">Member Id</a>
                                                    </li>
                                                    <li>
                                                        <a ng-click="searchMember.SEARCHATTR='Policy Number'">Policy Number
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <input type="text" maxlength="100" class="form-control input-normal" title="" name="SEARCHMEMBER" placeholder="Enter {{searchMember.SEARCHATTR}}"
                                            ng-model="searchMember.SEARCHMEMBER" ng-keypress="($event.which === 13)? validateMemberDetailsEntry() :''"
                                            for-alpha-numeric>

                                        <div class="input-group-btn">
                                            <div class="btn-group">
                                                <button class="normal-button" type="button" ng-click="validateMemberDetailsEntry()" id="searchButton">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>

                                                <button class="normal-button" type="button" ng-click="clearMemberSearchData()">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="container-fluid">
                            <div class="">
                                <div class="row">
                                    <div class="table-responsive col-sm-12 force-overflow style-4" ng-show="memberDataList.length > 0 || tableData">

                                        <table class="table table-bordered table-striped custom-table" cellpadding="0" cellspacing="0" border="0">
                                            <thead class="custom-table-header">
                                                <tr>
                                                    <th> Sl. No. </th>
                                                    <th> Member ID </th>
                                                    <th> Policy Number</th>
                                                    <th> Name</th>
                                                    <th> Policy Status </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="member in memberDataList" ng-dblclick="populateMemberData(member)">

                                                    <td title="{{(currentPosition-1)*5+$index+1}}">{{(currentPosition-1)*pageSize + $index + 1}}</td>
                                                    <td title="{{member.MEMBERID}}">{{member.MEMBERID}}</td>
                                                    <td title="{{member.POLICYNUMBER}}">{{member.POLICYNUMBER}}</td>
                                                    <td title="{{member.FIRSTNAME+' '+member.MIDDLENAME+' '+member.LASTNAME}}">
                                                        {{member.FIRSTNAME+' '+member.MIDDLENAME+' '+member.LASTNAME}}
                                                    </td>
                                                    <td title="{{member.POLICYSTATUS}}">{{member.POLICYSTATUS}}</td>
                                                </tr>
                                                <tr ng-show="tableData">
                                                    <td colspan="11" class="input-empty">
                                                        <center> No records Found !! </center>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="col-sm-12">
                                        <div class="pull-left " ng-show="totalPages > 0">
                                            <label></label>

                                            <span class="">
                                                <b>Showing {{(currentPosition-1) * pageSize + 1}} - {{(currentPosition-1) *
                                                    pageSize + pageSize
                                                    < resultCount ? (currentPosition-1) * pageSize + pageSize :resultCount}} of {{resultCount}} records</b>
                                            </span>
                                        </div>

                                        <div class="pull-right" ng-show="totalPages > 0">
                                            <div class="shift-right">
                                                <a href="#" ng-click="getMemberDetails(totalPages)" ng-class="{'not-active' : currentPosition == totalPages}">
                                                    <span class="glyphicon glyphicon-forward"></span>
                                                </a>
                                            </div>

                                            <div class="shift-right">
                                                <a href="#" ng-click="getMemberDetails(currentPosition+1)" ng-class="{'not-active' : currentPosition == totalPages}">
                                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                                </a>
                                            </div>

                                            <div class="shift-right" ng-hide="currentPosition + 1 >=totalPages || totalPages <=3">
                                                <span>... </span>
                                                <a href="#" ng-click="getMemberDetails(totalPages)" ng-class="{'not-active' : currentPosition == totalPages}">
                                                    <span>{{totalPages}}</span>
                                                </a>
                                            </div>

                                            <div class="shift-right" ng-hide="nextPage == 0" ng-class="{'pag-active' : totalPages == currentPosition}">
                                                <a href="#" ng-click="getMemberDetails(nextPage)">
                                                    <span>{{nextPage}}</span>
                                                </a>
                                            </div>

                                            <div class="shift-right" ng-class="{'pag-active' : !((totalPages == currentPosition && currentPosition != 2) ||(currentPosition == 1 && totalPages > 2)) || totalPages == 1}">
                                                <a href="#" ng-click="getMemberDetails(middlePage)">
                                                    <span>{{middlePage}}</span>
                                                </a>
                                            </div>

                                            <div class="shift-right" ng-hide="previousPage == 0" ng-class="{'pag-active' : currentPosition == 1}">
                                                <a href="#" ng-click="getMemberDetails(previousPage)">
                                                    <span>{{previousPage}}</span>
                                                </a>
                                            </div>

                                            <div class="shift-right" ng-show="currentPosition > 2 && totalPages > 3">

                                                <a href="#" ng-click="getMemberDetails(1)">
                                                    <span>1</span>
                                                </a>
                                                <span> ...</span>
                                            </div>

                                            <div class="shift-right">
                                                <a href="#" ng-click="getMemberDetails(currentPosition-1)" ng-class="{'not-active' : currentPosition == 1}">
                                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                                </a>
                                            </div>

                                            <div class="shift-right">
                                                <a href="#" ng-click="getMemberDetails(1)" ng-class="{'not-active' : currentPosition == 1}">
                                                    <span class="glyphicon glyphicon-backward"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="featureClaimModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" ng-click="reset('')">×</button>
                    <div class="modal-title">
                        <h4>select Claim Number</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="input-group col-sm-8 col-sm-offset-2">
                        <select class="form-control" ng-model="featureClaimSearch.SearchParam" style="width:30%" ng-init="featureClaimSearch.SearchParam = 'MEMBERID'">
                            <option value="MEMBERID">Member ID</option>
                        </select>
                        <input type="text" class="form-control" placeholder="Member ID" ng-model="featureClaimSearch.searchText" name="searchText"
                            style="width:70%">
    
                        <span class="input-group-addon" ng-click="getClaimNumberForFeatureClaim()"><i class="glyphicon glyphicon-search"></i></span>
                        <span class="input-group-addon" ng-click="reset('')"><i
                                class="glyphicon glyphicon-remove"></i></span>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered  custom-table">
                            <thead class="custom-table-header">
                                <tr>
                                    <th>CLAIMNUMBER</th>
                                    <th>FEATURENUMBER</th>
                                    <th>MEMBERID</th>
                                    <th>MEMBERNAME</th>
                                    <th>POLICYNUMBER</th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="x in memberClaimData" ng-show="memberClaimData.length > 0" ng-dblclick="AutoPopulateClaimRegistrationData(x.FEATURESUMMARYID)">
                                <td>{{x.CLAIMNUMBER}}</td>
                                <td>{{x.FEATURENUMBER}}</td>
                                <td>{{x.MEMBERID}}</td>
                                <td>{{x.MEMBERNAME}}</td>
                                <td>{{x.POLICYNUMBER}}</td>
                            </tr>
                            <tr ng-show=" memberClaimData== undefined || memberClaimData.length == 0" class="text-center" aria-hidden="false">
                                <td colspan="5">No records found !!</td>
                            </tr>
                        </table>
                    </div>
                    <div class="paginaiton">
    
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="common-button first-button" ng-click="reset('')"
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    //date time picker for date of admission
    $('.datetimepickeradmitdate').datetimepicker({
        useCurrent: false,
        format: 'DD-MM-YYYY',
        maxDate: new Date(),
    });
    $('.datetimepickeradmitdate-addon').on('click', function () {
        $(this).prev('input.datetimepickeradmitdate').data('DateTimePicker').toggle();
    });

    //date time picker for date of birth
    $('.datetimepickerdobdate').datetimepicker({
        useCurrent: false,
        format: 'DD-MM-YYYY',
        maxDate: new Date(),
    });
    $('.datetimepickerdobdate-addon').on('click', function () {
        $(this).prev('input.datetimepickerdobdate').data('DateTimePicker').toggle();
    });

    $('.panel').on('show.bs.collapse', function () {
        $('.collapse').collapse('hide');
    });

    $("#dropSearchButton").click(function () {
        $(this)
            .parents(".dropdown")
            .find("button.dropdown-toggle")
            .dropdown("toggle");
    });

</script>